@use "src/variables" as *;
.about-your-next-project {
  position: relative;
  .bg {
    width: 100%;
    height: 100%;
    background: $light;
    position: absolute;
    z-index: -2;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      mix-blend-mode: multiply;
      opacity: 0.05;
    }
  }
  .wrapper {
    padding: 2rem;
  }
  .text {
    text-transform: uppercase;
    p {
      text-transform: uppercase;
      letter-spacing: 5px;
      font-size: 0.75rem;
      font-weight: 100;
      padding: 0.5rem 0;
    }
    .lets-talk {
      padding: 0;
      font-weight: 400;
    }
    .scream,
    .om-ditt {
      font-size: 2.5rem;
      font-weight: 900;
      font-family: $ff-primary;
      &.last {
        color: $light;
        background: linear-gradient(
          to right,
          #d06b30 0%,
          #c43ad6 50%,
          #30cfd0 100%
        );
      }
    }
  }
  .get-in-touch {
    padding: 1rem 0;
  }
}

