<section class="about-your-next-project">
  <div class="bg">
    <img
      src="/assets/img/home/bakgrunn-monster-1280.webp"
      srcset="
        /assets/img/home/bakgrunn-monster-640.webp   640w,
        /assets/img/home/bakgrunn-monster-1280.webp 1280w,
        /assets/img/home/bakgrunn-monster-1750.webp 1750w
      "
      sizes="100vw"
      width="1750"
      height="561"
      loading="lazy"
      decoding="async"
      alt=""
    />
  </div>
  <div class="wrapper">
    <div class="text">
      <p class="lets-talk">Ikke vent</p>
      <p class="om-ditt">Med ditt</p>
      <p class="scream last">neste prosjekt.</p>
    </div>
    <div class="get-in-touch">
      <a class="btn cta-2" href="/kontakt" (click)="scrollToContact($event)"
        ><p>Book et uforpliktende møte</p></a
      >
    </div>
  </div>
</section>
