@import "../../../variables.scss";

.moderna-media-kontakt {
  min-height: 100vh;
  position: relative;
  .bg-img {
    position: absolute;
    min-height: inherit;
    z-index: -1;
    width: 100%;
    height: 100%;
    img {
      height: 100%;
      width: 100%;
      position: absolute;
      object-fit: cover;
    }
  }
  .content {
    .info-wrapper {
      // padding: $padding-section-top $padding-section-sides;
      padding-bottom: 0;
    }
    .info {
      background: $light-80;
      margin: 0 auto;
      min-height: 875px;
      width: 100%;
      .logo,
      .ansatte {
        display: flex;
        justify-content: center;
        align-items: center;
        img {
          max-width: 532px;
        }
      }
      .logo {
        img {
          filter: invert(0.1);
        }
      }
      .ansatte {
        width: 100%;
        margin-top: -100px;
        img {
          width: 100%;
          padding: 0 25px;
        }
      }
      h2 {
        text-transform: uppercase;
        letter-spacing: 5px;
        font-size: 1.25rem;
        text-align: center;
      }
      .text-content {
        padding: $padding-component-top 25px;
      }
    }
    .kontakt-content-wrapper {
      padding: $padding-component-top 25px;
    }
    .kontakt {
      width: 100%;
      min-height: 100vh;
      position: relative;

      .some {
        position: absolute;
        display: flex;
        justify-content: space-evenly;
        height: 25%;
        flex-direction: column;
        top: 50%;
        transform: translateY(-50%);
        right: 5px;
        z-index: 1;
        a {
          transition: 0.25s;
        }
        a:hover {
          transform: scale(1.15);
          opacity: 0.5;
        }
      }
      .components {
        overflow: hidden;
        background: $light;
        z-index: -1;
        position: absolute;
        width: 100%;
        height: 100%;
        .line-top {
          position: absolute;
          right: 5px;
          top: 100px;
        }
        .line-bottom {
          position: absolute;
          right: 5px;
          bottom: 100px;
        }
        .triangle-top {
          top: -39px;
          right: -38px;
          position: absolute;
        }
        .triangle-bottom {
          bottom: -39px;
          transform: rotate(90deg);
          right: -35px;
          position: absolute;
        }
      }
      .kontakt-info {
        h2 {
          font-size: 4rem;
          font-weight: 900;
          color: $dark;
          text-transform: uppercase;
          letter-spacing: 15px;
        }
      }
      .kontakt-form {
        padding: $padding-section-top 0;
        padding-right: 25px;
        .form-group {
          width: 100%;
          display: flex;
          justify-content: flex-start;
          align-items: stretch;
          flex-direction: column;
          padding-top: 10px;
          input,
          textarea {
            width: 100%;
            height: $input-height;
            background: #bfbfbf;
            border: none;
            border-bottom: 3px solid $dark;
          }
          textarea {
            min-height: 200px;
            resize: vertical;
            max-height: 500px;
          }
          button {
            padding: 10px 0;
          }
          &.button {
            margin: 25px 0;
          }
        }
      }
    }
  }
}
