<section class="moderna-media-kontakt">
  <div class="bg-img">
    <!-- <div class="transition-top transition-light"></div> -->
    <img
      src="{{
        imageCdn == '' ? '' : imageCdn
      }}../../../assets/Images/Landingpage/omoss/Norsk skog og natur.webp?width={{
        vw
      }}"
      alt=""
      loading="lazy"
    />
  </div>
  <div class="content">
    <div class="info-wrapper">
      <div class="info">
        <div class="logo">
          <img
            src="{{
              imageCdn == '' ? '' : imageCdn
            }}../../../assets/Images/Logo/SVG/Design-3-blk.svg"
            alt=""
            loading="lazy"
          />
        </div>
        <div class="ansatte">
          <img
            src="{{
              imageCdn == '' ? '' : imageCdn
            }}../../../assets/Images/Landingpage/kontakt/ansatte med høy kompetanse.png"
            alt=""
            loading="lazy"
          />
        </div>
        <div class="text-content">
          <h2>Ansatte som forstår bedriftens behov</h2>
          <p>
            Hos oss er god kundeservice noe vi setter svært høyt. Det er derfor
            essensielt at alle ansatte som jobber med prosjektet forstår hva som
            er ønsket av kunden, og forstår hvilket produkt vi jobber mot. Våre
            ansatte jobber derfor tett sammen for å kunne sammenfatte et unikt
            produkt etter dine ønsker og behov.
          </p>
        </div>
      </div>
    </div>
    <div class="kontakt">
      <div class="some">
        <a href="">
          <img
            src="{{
              imageCdn == '' ? '' : imageCdn
            }}../../../assets/Images/Landingpage/kontakt/components/facebook-logo.png"
            alt=""
            loading="lazy"
          />
        </a>
        <a href="">
          <img
            src="{{
              imageCdn == '' ? '' : imageCdn
            }}../../../assets/Images/Landingpage/kontakt/components/instagram.png"
            alt=""
            loading="lazy"
          />
        </a>
        <a href="">
          <img
            src="{{
              imageCdn == '' ? '' : imageCdn
            }}../../../assets/Images/Landingpage/kontakt/components/linkedin.png"
            alt=""
            loading="lazy"
          />
        </a>
      </div>
      <div class="components">
        <div class="line-top">
          <img
            src="{{
              imageCdn == '' ? '' : imageCdn
            }}../../../assets/Images/Landingpage/kontakt/components/line.png"
            alt=""
            loading="lazy"
          />
        </div>
        <div class="line-bottom">
          <img
            src="{{
              imageCdn == '' ? '' : imageCdn
            }}../../../assets/Images/Landingpage/kontakt/components/line.png"
            alt=""
            loading="lazy"
          />
        </div>
        <div class="triangle-top">
          <img
            src="{{
              imageCdn == '' ? '' : imageCdn
            }}../../../assets/Images/Landingpage/kontakt/components/triangle.png"
            alt=""
            loading="lazy"
          />
        </div>
        <div class="triangle-bottom">
          <img
            src="{{
              imageCdn == '' ? '' : imageCdn
            }}../../../assets/Images/Landingpage/kontakt/components/triangle.png"
            alt=""
            loading="lazy"
          />
        </div>
      </div>
      <div class="kontakt-content-wrapper">
        <div class="kontakt-info">
          <h2>kontakt</h2>
          <p>
            Minus doloremque nostrum occaecati eum quis magnam quas. Veniam non
            debitis qui. Veniam nihil et magni facere magni deserunt aliquam
            temporibus nemo. Commodi qui consequatur saepe dolor est voluptatem
            voluptas. Perferendis nihil eum quia alias placeat nihil animi quia.
            Nulla libero blanditiis optio. Sed quia ipsam error. Libero maiores
            ipsa molestias debitis unde. Quisquam repellendus suscipit. Id est
            dolorum est totam. Autem recusandae rem occaecati accusamus possimus
            dolorem. Accusamus rerum qui cum id. Aut ipsa sit quas et accusamus
            id at.
          </p>
        </div>
        <form action="post" class="kontakt-form">
          <div class="form-group">
            <label for="" id="">Navn</label>
            <input
              id=""
              type="text"
              placeholder=""
              name=""
              aria-labelledby=""
            />
          </div>
          <div class="form-group">
            <label for="" id="">Navn</label>
            <input
              id=""
              type="text"
              placeholder=""
              name=""
              aria-labelledby=""
            />
          </div>
          <div class="form-group">
            <label for="" id="">Navn</label>
            <input
              id=""
              type="text"
              placeholder=""
              name=""
              aria-labelledby=""
            />
          </div>
          <div class="form-group">
            <label for="" id="">Navn</label>
            <input
              id=""
              type="text"
              placeholder=""
              name=""
              aria-labelledby=""
            />
          </div>
          <div class="form-group">
            <label for="" id="">Navn</label>
            <textarea
              rows="10"
              id=""
              type="text"
              placeholder=""
              name=""
              aria-labelledby=""
            ></textarea>
          </div>
          <div class="form-group button">
            <button class="btn blue">Send</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
