<section class="landing">
  <div class="wrapper">
    <div class="bg">
      <img
        src="../../../../assets/Images/Landingpage/Landing/nettside for bedrift.webp"
        alt=""
        class="landing-image"
      />
      <div class="bg-shade"></div>
    </div>
    <div class="content">
      <div class="titles">
        <p class="title">Moderna media</p>
        <h1 class="sub-title">
          Digitalbyrå for nettsider, system, design og seo
        </h1>
      </div>
      <div class="info">
        Moderna media er et digitalbyrå med eksperter innenfor webutvikling,
        design og Søkemotoroptimalisering. Det vil si at vi kan tilby en
        komplett pakke for en bedrift nettside hvor både webutvikling og
        webdesign foregår på et sted.
      </div>
      <div class="buttons">
        <button class="btn cta"><p>Book et uforpliktet møte</p></button>
        <button class="btn cta-2"><p>Tjenester</p></button>
      </div>
    </div>
  </div>
</section>
