<section class="landing">
  <div class="wrapper">
    <div class="bg">
      <img
        [src]="
          sanitizeImageUrl(
            '../../../../assets/Images/Home/Landing/1280/Digitalbyrå-i-oslo-Moderna-Media-for-grafisk-design-logo-design-og-web-design-hjemmeside-for-bedrift.webp'
          )
        "
        alt="Moderna media Digitalbyrå for bedriftens nettsider, programvare, grafisk design og søkemotoroptimalisering"
        class="landing-image"
      />
      <div class="bg-shade"></div>
    </div>
    <div class="content">
      <div class="titles">
        <p class="super-title">Moderna media</p>
        <p class="super-title bg">Moderna media</p>
        <h1 class="subtitle large">
          Digitalbyrå for bedriftens hjemmeside, programvare, design og seo.
        </h1>
      </div>
      <div class="info">
        Ikke vent med å investere i din bedrift. Vi hjelper deg å øke
        omsettningen til din bedrift ved å gjøre deg synlig på nett.
      </div>
      <div class="buttons">
        <button class="btn cta" (click)="scrollToId('kontakt')">
          <p>Book et uforpliktet møte</p>
        </button>
        <button class="btn cta-2" (click)="scrollToId('tjenester')">
          <p>Tjenester</p>
        </button>
      </div>
    </div>
  </div>
</section>
