@import "../../../../variables.scss";

.landing {
  width: 100%;
  position: relative;
  .wrapper {
    height: calc(90vh - 2rem);
    min-height: 850px;
  }
  .bg {
    position: absolute;
    width: 100%;
    height: calc(90vh - 2rem);
    min-height: 850px;
    .bg-shade,
    .landing-image {
      object-fit: cover;
      object-position: center;
      height: 100%;
      width: 100%;
      position: absolute;
    }
    .bg-shade {
      @include backgroundShade;
    }
  }
  .content {
    max-width: 600px;
    color: $light;
    padding: 1rem;
    width: 100%;
    position: absolute;
    @include aAbs;
    z-index: 2;
    .titles {
      position: relative;
      border: 2px solid transparent;
      height: 100px;
      .super-title {
        font-size: 2.45rem;
        text-transform: uppercase;
        font-weight: 900;
        position: absolute;
      }
      .super-title:not(.bg) {
        @include gradientTitle-landing;
        z-index: 3;
      }
      .super-title.bg {
        z-index: 1;
        text-shadow: 0px 0px 14px rgb(0 0 0 / 38%);
        pointer-events: none;
      }
      .subtitle {
        margin-top: 45px;
        font-weight: 900;
        text-shadow: $text-shadow;
        font-size: 1.15rem;
      }
    }
  }
  .buttons,
  .info {
    color: $light;
    p {
      color: $light;
    }
  }
  .buttons {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-direction: row;
    flex-wrap: nowrap;
    .btn {
      width: 100%;
      flex: 3;
      &:nth-child(2) {
        margin-left: 10px;
        flex: 2;
      }
    }
  }
}

@media screen and (max-width: 465px) {
  .landing .content .titles .title {
    font-size: 2.25rem;
  }
  .landing .buttons {
    flex-direction: column;
    .btn {
      margin: 0.25rem 0 !important;
    }
  }
}
