<header>
  <div class="wrapper">
    <a
      class="logo-anchor"
      href="/"
      title="Hjemmeside"
      aria-label="Hjemmeside"
      hreflang="no-nb"
    >
      <div class="logo">
        <img
          *ngIf="textClass == 'dark-text'; else whiteLogo"
          src="{{
            imageCdn == '' ? '' : imageCdn
          }}../../assets/Images/Logo/SVG/LOGO 333.svg"
          alt="Moderna media logo"
        />
        <ng-template #whiteLogo>
          <img
            class="white-logo"
            src="{{
              imageCdn == '' ? '' : imageCdn
            }}../../assets/Images/Logo/SVG/LOGO LIGHT.svg"
            alt="Moderna media logo"
          />
        </ng-template>
      </div>
    </a>
    <nav role="navigation" id="navbar">
      <div class="nav-link {{ textClass }}">
        <div class="slide"></div>
        <a href="/utvikling" hreflang="no-nb">utvikling</a>
      </div>
      <div class="nav-link {{ textClass }}">
        <div class="slide"></div>
        <a href="/design" hreflang="no-nb">Design</a>
      </div>
      <div class="nav-link {{ textClass }}">
        <div class="slide"></div>
        <a href="/seo" hreflang="no-nb">SEO</a>
      </div>
      <div class="nav-link {{ textClass }}">
        <div class="slide"></div>
        <a href="/about" hreflang="no-nb">Om oss</a>
      </div>
      <div class="nav-link {{ textClass }}">
        <div class="slide"></div>
        <a href="/blogg" hreflang="no-nb">blogg</a>
      </div>

      <!-- <a class="nav-link" routerLink="">Hjem</a>
      <a class="nav-link" routerLink="utvikling">Utvikling</a>
      <a class="nav-link" routerLink="utvikling">Design</a>
      <a class="nav-link" routerLink="utvikling">Om oss</a>
      <a class="nav-link" routerLink="utvikling">Blogg</a> -->
    </nav>
    <button class="btn contact dark" (click)="ContactUs($event)">
      Kontakt oss
    </button>
    <button class="btn menu transparent-white" (click)="Menu($event)">
      Meny
    </button>
  </div>
</header>
