@import "../../variables.scss";



//Mobile

header {
    height: 50px;
    width: 100%;
    position: absolute;
    z-index: 1;
}

.wrapper {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    position: relative;
    nav {
        height: 100%;
        color: $light;
        width: 60%;
        margin: 0 auto;
        justify-content: space-between;
        align-items: center;
        padding: 0 25px;
        display: none;
        a {
            color: $light;
        }
    }
    button.btn.contact {
        border: 2px solid $light;
        background: $dark-transparent;
        color: $light;

        position: absolute;
        right: 2.5%;
        display: none;
    }
    button.btn.menu {
        margin-right: 2.5%;
        border: 2px solid $light;
        background: $dark-transparent;
        color: $light;
    }
}
