@use "src/variables" as *;

//Mobile

header {
  position: absolute;
  top: 0;
  height: 50px;
  z-index: 10;
  width: 100%;
  padding: 0 2rem;
  .wrapper {
    margin: 0 auto;
    max-width: 1280px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    max-height: 50px;
  }
  nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    flex: 4;
    a {
      padding: 1rem 1rem;
      text-align: center;
    }
    // a:nth-child(even):hover p {
    //   color: $orange-primary;
    // }
    // a:nth-child(odd):hover p {
    //   color: $base-color;
    // }
    p {
      transition: all 0.25s ease;
      color: $light;
    }
  }
  .logo-anchor,
  .buttons {
    flex: 1;
    height: 50px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  .buttons {
    justify-content: flex-end;
    .menu {
      z-index: 1;
    }
  }
  .logo-anchor img {
    transition: all 0.5s ease;
    padding: 0.5rem;
    height: 35px;
  }
  .logo-anchor:hover {
    img {
      opacity: 0.5;
    }
  }
}

.contact {
  display: none;
  visibility: hidden;
}

header {
  position: fixed;
  nav {
    height: 0px;
    width: 100%;
    transition: transform 0.5s ease;
    background: linear-gradient(45deg, #d06b30 0%, #c43ad6e3 50%, #30cfd0 100%);
    transform: translateX(100vw);
    min-height: 500px;
    height: 100vh;
    display: block;
    visibility: visible;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
    a {
      width: 100%;
      padding: 2rem;
      &:hover {
        p {
          padding: 2rem;
          color: $light;
          background: linear-gradient(
            to right,
            #d06b30 0%,
            #c43ad6 50%,
            #30cfd0 100%
          );
        }
      }
    }
    p {
      font-size: 2rem;
      font-weight: 900;
      text-transform: uppercase;
      transition: all 0.25s ease;
      background: transparent;
    }
  }
  &.mobile-open {
    nav {
      transform: translateX(0vw);
    }
  }
}

