@import "../../variables.scss";

header {
    height: 50px;
    width: 100%;
    background-color: $blue;
}

.wrapper {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background: red;
    height: 100%;
    nav {
        height: 100%;
        background-color: $dark;
        color: $light;
        width: 75%;
        margin: 0 auto;
        
        display: flex;
        justify-content: space-between;
        align-items: center;

        display: none;
    }
    button.btn.contact {
        width: 25%;
        display: none;
    }
    button.btn.menu {
        margin-right: 2.5%;
        border: 2px solid $light;
    }
}
