<header>
  <div class="wrapper">
    <div class="logo">
      <img src="../../assets/Images/Logo/SVG/LOGO LIGHT.svg" alt="" />
    </div>
    <nav role="navigation" id="navbar">
      <div class="nav-link">
        <div class="slide"></div>
        <a href="/utvikling">utvikling</a>
      </div>
      <div class="nav-link">
        <div class="slide"></div>
        <a href="#tjenester">Design</a>
      </div>
      <div class="nav-link">
        <div class="slide"></div>
        <a href="#tjenester">SEO</a>
      </div>
      <div class="nav-link">
        <div class="slide"></div>
        <a href="#tjenester">Om oss</a>
      </div>
      <div class="nav-link">
        <div class="slide"></div>
        <a href="#tjenester">blogg</a>
      </div>

      <!-- <a class="nav-link" routerLink="">Hjem</a>
      <a class="nav-link" routerLink="utvikling">Utvikling</a>
      <a class="nav-link" routerLink="utvikling">Design</a>
      <a class="nav-link" routerLink="utvikling">Om oss</a>
      <a class="nav-link" routerLink="utvikling">Blogg</a> -->
    </nav>
    <button class="btn contact transparent-white" (click)="ContactUs($event)">
      Kontakt oss
    </button>
    <button class="btn menu transparent-white" (click)="ContactUs($event)">
      Meny
    </button>
  </div>
</header>
