@import "../../variables.scss";



//Desktop
@media screen and (min-width: $desktop) {

    button.btn.menu {
        display: none;
    }
    .wrapper {
        button.btn.contact {
            display: block;
        }
        
        nav {
            display: flex;
        }
    }

}