@import "../../variables.scss";

//Desktop
@media screen and (min-width: $desktop) {
  button.btn.menu {
    display: none;
  }
  .wrapper {
    nav {
      min-width: 550px;
      .nav-link {
        padding: 20px 5px;
        margin: 20px 5px;
        &.dark-text {
          a {
            color: $dark;
          }
        }
        a {
          font-size: 0.8rem;
        }
      }
    }
    button.btn.contact {
      display: block;
    }

    nav {
      display: flex;
    }
  }
}
@media screen and (min-width: 850px) {
  button.btn.menu {
    display: none;
  }
  .wrapper {
    nav {
      min-width: 650px;
      .nav-link {
        a {
          font-size: 1rem;
        }
      }
    }
  }
}
