<a href="vg.no" class="moderna-media-tjeneste card">
  <div class="bg-img">
    <img
      class="card-img"
      src="../../../../assets/Images/Landingpage/LandingPage.jpg"
      alt=""
    />
    <div class="info">
      <div class="main">
        <div class="title">
          <img src="../../../../assets/Images/Icons/sketch.svg" alt="" />
          <h2>design</h2>
        </div>
        <p class="description">
          Tidløst design som konverterer interesse til kunder
        </p>
      </div>
      <div class="les-mer">
        <p>Les mer</p>
        <img src="../../../../assets/Images/Icons/right-arrow.svg" alt="" />
      </div>
    </div>
  </div>
</a>
