<a href="{{ href }}" class="moderna-media-tjeneste card">
  <div class="bg-img">
    <img class="card-img" src="{{ src }}" alt="{{ alt }}" />
    <div class="info">
      <div class="main">
        <div class="title">
          <img src="{{ icon }}" alt="" />
          <h2>{{ title }}</h2>
        </div>
        <p class="description">
          {{ content }}
        </p>
      </div>
      <div class="les-mer">
        <p>Les mer</p>
        <img src="../../../../assets/Images/Icons/right-arrow.svg" alt="" />
      </div>
    </div>
  </div>
</a>
