@import "../../../../variables.scss";

@media screen and (min-width: $desktop) {
  .moderna-media-tjeneste.card {
    display: block;
    height: 37.5vh;
    &:hover {
      .bg-img {
        box-shadow: 2px -1px 61px 15px rgba(0, 0, 0, 0.75);
        -webkit-box-shadow: 2px -1px 61px 15px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 2px -1px 61px 15px rgba(0, 0, 0, 0.75);
      }
    }
    .bg-img {
      transition: box-shadow 0.5s;
      width: 50vw;
      .card-img {
      }
    }
    .info {
      .title {
        img {
        }
        h2 {
        }
      }
      .description {
      }
      .les-mer {
        p {
        }
        img {
        }
      }
    }
  }
}
