<a href="{{ href }}" class="moderna-media-tjeneste card" hreflang="no-nb">
  <div class="bg-img">
    <img
      class="card-img"
      src="{{ imageCdn == '' ? '' : imageCdn }}{{ src }}"
      alt="{{ alt }}"
    />
    <div class="info">
      <div class="main">
        <div class="title">
          <img src="{{ imageCdn == '' ? '' : imageCdn }}{{ icon }}" alt="" />
          <h2>{{ title }}</h2>
        </div>
        <p class="description">
          {{ content }}
        </p>
      </div>
      <div class="les-mer">
        <p>Les mer</p>
        <img
          src="{{
            imageCdn == '' ? '' : imageCdn
          }}../../../../assets/Images/Icons/right-arrow.svg"
          alt=""
          loading="lazy"
          loading="lazy"
          loading="lazy"
        />
      </div>
    </div>
  </div>
</a>
