<footer>
  <img
    src="../../assets/Images/Landingpage/footer.png"
    alt=""
    id="footer-image"
  />
  <div class="footer_content">
    <div class="actions">
      <div class="primary">
        <button class="btn gradient purple" id="footer-contact">
          Book et uforpliktet møte
        </button>
      </div>
      <div class="secondary">
        <button class="btn" id="top" (click)="scrollToTop()">Til toppen</button>
        <a class="btn" id="More" href="#">Lær mer</a>
      </div>
    </div>
    <article id="om_oss">
      <h1>Om ModernaMedia</h1>
      <p>
        ModernaMedia er et digitalbyrå med høy kompetanse innenfor utvikling av
        bedrift nettsider, design av logo, plakater og annet materiell. Og ikke
        minst SEO, bedre kjent som søkemotor optimalisering.
      </p>
      <br />
      <p>
        ModernaMedia ble opprettet ettersom vi så et hull i markedet.
        <b>Det finnes ekstremt mange leverandører</b>
        som leverer nettsider, grafisk design og søkemotoroptimalisering. Men de
        aller fleste
        <b> leverer et dårlig, </b>
        eller i beste tilfelle, et
        <b> middelmådig produkt.</b> og dette til en høy pris. Derfor startet vi
        <b> ModernaMedia, et digitalbyrå med fokus på kvalitet og pris! </b>
      </p>
    </article>
    <article id="om_siden">
      Siden utviklet av ModernaMedia 2021
      <img
        id="footer_logo"
        src="../../assets/Images/ModernaMedia_Logo_4.png"
        alt=""
      />
    </article>
  </div>
</footer>
