<footer *ngIf="!hidden">
  <div class="wrapper">
    <div class="logo-copyright-container">
      <div class="logo">
        <img src="../../assets/Images/LogoV2/modernamedia-name.svg" alt="" />
      </div>
      <div class="copyright">
        Copyright © 2022 Moderna Media orgnr. 926 670 018. All Rights Reserved.
        Designet og bygget i norge.
      </div>
    </div>
    <div class="links-contact-container">
      <div class="links">
        <p class="strong">Lenker.</p>
        <div class="link-container">
          <div class="utvikling child">
            <a href="" class="top-level-link">Utvikling</a>
            <a href="">Nettsider</a>
            <a href="">System</a>
          </div>
          <div class="design child">
            <a href="" class="top-level-link">Design</a>
            <a href="">Logo</a>
            <a href="">Webdesign</a>
          </div>
          <div class="seo child"><a href="" class="top-level-link">SEO</a></div>
        </div>
      </div>
      <div class="contact">
        <p class="strong">Kontakt oss.</p>
        <div class="phone">
          <img src="../../assets/Images/Icons/inputs/call.svg" alt="" />
          <p>Telefon: <a href="tel:90265326">902 65 326</a></p>
        </div>
        <div class="phone">
          <img src="../../assets/Images/Icons/inputs/email.svg" alt="" />
          <p>
            E-post:
            <a href="mailto:kontakt@modernamedia.no">kontakt@modernamedia.no</a>
          </p>
        </div>
      </div>
    </div>
    <div class="some">
      <p class="strong find-us">Finn oss.</p>
      <div class="some-links">
        <a href="" title="moderna media facebook">
          <img src="../../assets/Images/Icons/footer/facebook.svg" alt="" />
        </a>
        <a href="" title="moderna media instagram">
          <img src="../../assets/Images/Icons/footer/instagram.svg" alt="" />
        </a>
        <a href="" title="moderna media linkedin">
          <img src="../../assets/Images/Icons/footer/linkedin.svg" alt="" />
        </a>
      </div>
    </div>
  </div>
</footer>
