@import "src/variables.scss";

footer {
  padding: $padding-section-top $padding-section-sides;
  background-color: $dark;
  color: $light;
  .footer-content-container {
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
    .content {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      flex-direction: column;
      h6 {
        font-size: 1rem;
      }
      a {
        padding: 5px 0;
      }
    }
  }
  .logo {
    text-align: center;

    img {
      margin-top: -5%;
      max-width: 75%;
      margin: 0 auto;
      filter: invert(1);
      object-fit: contain;
      padding: 3rem 3rem;
    }
  }
}
