<footer>
  <div class="footer-wrapper">
    <div class="footer-content-container">
      <div class="content">
        <h6>Sosiale medier</h6>
        <a href="">Instagram</a>
        <a href="">Facebook</a>
        <a href="">Behance</a>
      </div>
      <div class="content">
        <h6>Firma</h6>
        <a href="">Kontakt</a>
        <a href="">Support</a>
        <a href="">Personværn</a>
      </div>
      <div class="content">
        <h6>Tjenester</h6>
        <a href="">Utvikling</a>
        <a href="">Design</a>
        <a href="">SEO</a>
        <a href="">Annet</a>
      </div>
    </div>
    <div class="logo">
      <img src="../../assets/Images/Logo/SVG/Design-3-blk.svg" alt="" />
      <p>Copyright 2021 @ ModernaMedia</p>
      <p>orgnr: 926 670 018</p>
    </div>
  </div>
</footer>
