@import "src/variables.scss";

@media screen and (min-width: $desktop) {
  footer {
    background-color: $light;
    padding: $padding-section-top $padding-section-sides;
    color: $dark;
    .footer-wrapper {
      display: flex;
      justify-content: space-evenly;
      margin: 0 auto;
    }
    .footer-content-container {
      flex: 5;
      display: flex;
      justify-content: space-evenly;
      align-items: baseline;
      .content {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        h6 {
          font-size: 1rem;
        }
        a {
          padding: 5px 0;
        }
      }
    }
    .logo {
      flex: 1;
      text-align: center;
      img {
        max-width: 200px;
        max-height: 200px;
        margin: 0 auto;
        margin-top: -28px;
        filter: invert(0.1);
      }
      p {
        font-size: 0.5rem;
        width: 100%;
      }
    }
  }
}

@media screen and (min-width: 1260px) {
  footer {
    .footer-wrapper {
      max-width: 1260px;
    }
    .logo {
      img {
        margin-top: -53px;
      }
      p {
        font-size: 0.75rem;
      }
    }
  }
}
