@import "../../../../variables.scss";
$min-height-service: 405px;
section.services {
  .tiles {
    .subtitle {
      margin-bottom: 15px;
    }
    .title {
      margin: 0;
    }
  }
  .wrapper {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 2rem;
    padding-top: 60px;
  }

  .services {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  .service {
    margin: 0 auto;
  }

  .service .service-container {
    border-radius: 25px 0px 0px 0px;
    min-height: $min-height-service;
    min-width: 280px;
    max-width: 500px;
    margin: 1rem auto;
    position: relative;
    overflow: hidden;
    box-shadow: $elevation-3;
    transition: all 0.25s ease;
    .serivice-container-inner {
      padding: 6px 22px 90px 22px;
      @include flexC;
      justify-content: space-between;
      align-items: flex-start;
      min-height: $min-height-service;
      height: 100%;
      h3 {
        text-shadow: $text-shadow-white;
        font-size: 2.5rem;
      }
      .usp-text {
        font-weight: 500;
        font-size: 1.5rem;
      }

      p,
      h2,
      h3 {
        color: $clean-white;
      }
    }
    .bg {
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      width: 100%;
      z-index: -1;
      .shadow,
      img {
        height: 100%;
        width: 100%;
        position: absolute;
        z-index: -1;
      }
      .shadow {
        background: $dark;
        opacity: 0.55;
        transition: all 0.25s ease;
      }
      img {
        object-fit: cover;
      }
    }
  }
  .service:hover {
    .service-container {
      box-shadow: $elevation-2;
      .bg .shadow {
        opacity: 0.4;
      }
    }
    .cta-link {
      min-width: 100%;
      border-radius: 0;
    }
  }
  .cta-link {
    min-width: 60%;
    position: absolute;
    bottom: 15px;
    background: $clean-white;
    padding: 8px 15px;
    border-radius: 0 10px 10px 0;
    padding-left: 30px;
    min-width: 60%;
    transition: all 0.25s ease;
    text-align: center;
  }
  .buttons {
    margin-top: 30px;
    .section-cta {
      width: auto;
      max-width: 250px;
      transition: all 0.25s ease;
      img {
        height: 16px;
        margin-right: 8px;
        transition: all 0.25s ease;
      }
      p {
        color: $clean-white;
        @include flexR;
      }
    }
    .section-cta:hover {
      box-shadow: $elevation-1;
    }
  }
}
