@import "../../../../variables.scss";
@media screen and (min-width: $desktop) {
  .services {
    max-width: $max-width;
    margin: 0 auto;
    .wrapper {
      .titles {
        .title {
        }
        .subtitle {
        }
      }
      .services {
        align-items: stretch;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        margin: 2rem auto;
        justify-content: space-between;
        .service {
          padding: 2rem 0.5rem;
          flex: 1 1 0px;
          flex-shrink: 0;
          margin: 0 1rem;
        }
      }
    }
  }
}

@media screen and (min-width: $tablet) {
  .services {
    .wrapper .services .service {
      padding: 2rem;
    }
  }
}
