<section class="services" id="tjenester">
  <div class="wrapper">
    <div class="titles">
      <p class="subtitle">Våre tjenester</p>
      <h2 class="title">
        Et digitalbyrå med spesialitet innenfor nettsider, design og seo for
        bedrifter
      </h2>
    </div>
    <div class="services">
      <a href="" class="service utvikling">
        <div class="content-wrapper">
          <img
            [src]="
              sanitizeImageUrl(
                '../../../../assets/Images/Icons/home/development.svg'
              )
            "
            alt="Utvikling av bedriftnettsider ikon"
            class="icon"
          />
          <h3>Utvikling</h3>
          <p>Vi lager nettsider og systemer som øker omsettningen din</p>
        </div>
      </a>
      <a href="" class="service design">
        <div class="content-wrapper">
          <img
            [src]="
              sanitizeImageUrl(
                '../../../../assets/Images/Icons/home/design.svg'
              )
            "
            alt="Grafisk design og logo design for bedrift ikon"
            class="icon"
          />
          <h3>Design</h3>
          <p>Design som selger</p>
        </div>
      </a>
      <a href="" class="service seo">
        <div class="content-wrapper">
          <img
            [src]="
              sanitizeImageUrl('../../../../assets/Images/Icons/home/seo.svg')
            "
            alt="søkemotor optimalisering ikon"
            class="icon"
          />
          <h3>Seo</h3>
          <p>Søkemotoroptimalisering som gjør bedriften synlig</p>
        </div>
      </a>
    </div>
  </div>
</section>
