@import "../../../../variables.scss";
$min-height-service: 405px;
@media screen and (min-width: $desktop) {
  section.services {
    .service .service-container {
      min-width: 280px;
      max-width: 325px;
      margin: 1rem auto;
    }
  }
}

@media screen and (min-width: $tablet) {
  section.services {
    .service .service-container {
      min-width: 280px;
      max-width: 420px;
      width: auto;
      margin: 1rem auto;
    }
  }
}
@media screen and (min-width: 1280px) {
  section.services {
    .services {
      flex-wrap: nowrap;
    }
    .service .service-container {
      min-width: 280px;
      max-width: 290px;
      width: auto;
      margin: 1rem auto;
    }
  }
}
