<article class="blogg" *ngIf="href == ''" [class]="theme">
  <div class="image-container">
    <img src="{{ imageCdn == '' ? '' : imageCdn }}{{ src }}" alt="{{ alt }}" />
  </div>
  <div class="content">
    <h2>{{ title }}</h2>
    <p>{{ content }}</p>
  </div>
</article>

<article class="blogg" *ngIf="href != ''" [class]="theme">
  <a *ngIf="href != ''" href="{{ href }}" title="les mer om {{ title }}">
    <div class="image-container">
      <img
        src="{{ imageCdn == '' ? '' : imageCdn }}{{ src }}"
        alt="{{ alt }}"
        loading="lazy"
        loading="lazy"
      />
    </div>
    <div class="content">
      <h2>{{ title }}</h2>
      <p [innerHTML]="content"></p>
      <p class="les-mer">les mer</p>
    </div>
  </a>
</article>
