@import "../../../../variables.scss";

$imgWidth: 100%;

@media screen and (min-width: $desktop) {
  .blogg {
    min-width: 50%;
    max-width: 525px;
    width: auto;
    overflow: hidden;
    .image-container {
      img {
      }
    }
    .content {
      h2 {
      }
      .les-mer {
      }
    }
  }
}
@media screen and (min-width: 1200px) {
}
@media screen and (min-width: $max-width) {
  .blogg {
    min-width: 100%;
  }
}
