<section
  class="landing"
  aria-labelledby="landing-title"
  aria-label="Hjemmeside for bedrifter"
>
  <div class="wrapper">
    <div class="bg">
      <img
        [src]="
          sanitizeImageUrl(
            '../../../../assets/Images/Tjenester/Tjeneste/Utvikling/programvare/1280/Liten bedrift som bruker en betalingsløsning.webp'
          )
        "
        alt="Moderna media digitalbyrå for bedriftens nettsider, bedriftsystemer, grafisk design og logo design"
        class="landing-image"
      />
      <div class="bg-shade"></div>
    </div>
    <div class="content">
      <div class="titles">
        <h1 class="tjenester-title" id="landing-title">
          <span class="super-title">Programvare</span>
          <span class="subtitle large">For bedrifter</span>
        </h1>
        <p class="tjenester-title background">
          <span class="super-title bg">Programvare</span>
        </p>
      </div>
      <div class="info">
        <p>
          Vi utvikler skreddersydde programvareer med smarte løsninger tilkoblet
          skyen. Våre programvareer er skapt for å spare kostnader, generere
          inntekt og samtidig gjøre livene til deg og dine kunder enklere.
        </p>
      </div>
      <div class="buttons">
        <a class="btn cta shadow" href="#kontakt"
          ><p>Book et uforpliktet møte</p></a
        >
        <a class="btn cta-2" href="#tjenester"><p>Les om hjemmesider</p></a>
      </div>
    </div>
    <ul class="links">
      <li class="link-container">
        <button class="header-link" (click)="scrollToId('hjemmeside')">
          Programvare for bedriften
        </button>
      </li>
      <li class="link-container">
        <button class="header-link" (click)="scrollToId('bedrifthjemmeside')">
          Hvorfor programvare
        </button>
      </li>
      <li class="link-container">
        <button class="header-link" (click)="scrollToId('neste-steg')">
          Dine neste steg
        </button>
      </li>
      <li class="link-container">
        <button
          class="header-link"
          (click)="scrollToId('inkluderte-tjenester')"
        >
          inkluderte tjenester
        </button>
      </li>
      <li class="link-container">
        <button class="header-link" (click)="scrollToId('priser')">
          priser
        </button>
      </li>
    </ul>
  </div>
</section>

<section
  class="info white"
  aria-label="Hvorfor din bedrift trenger en hjemmeside"
  id="hjemmeside"
>
  <div class="info-container right">
    <div class="image-container">
      <img
        [src]="
          sanitizeImageUrl(
            '../../../../assets/Images/Tjenester/Tjeneste/Utvikling/programvare/640/App utvikling for bedrift - system som brukes på ipad med apple pen.webp'
          )
        "
        alt=""
      />
    </div>
    <div class="text-container">
      <article aria-label="den beste hjemmesiden for bedriften">
        <div class="header">
          <p class="subtitle-gradient blue">Spar kostnader med</p>
          <h2 class="title-bold">Programvare for bedriften</h2>
        </div>
        <p class="text-section">
          Tekst om hvorfor din bedrift trenger hjemmeside og hvorfor Moderna
          Media er det beste valget. Lorem ipsum dolor sit amet consectetur
          adipisicing elit. Eveniet earum dolores expedita molestiae quos
          voluptas nihil. Quo, fugit! Quo dolor, voluptate necessitatibus
          tempora labore autem voluptates alias officia sit voluptas cumque,
          laboriosam, corporis maxime amet. Commodi quas soluta numquam rem non
          alias est aspernatur culpa perferendis? Beatae id laudantium dicta!
        </p>
        <p class="text-section">
          Tekst om hvorfor din bedrift trenger hjemmeside og hvorfor Moderna
          Media er det beste valget. Lorem ipsum dolor sit amet consectetur
          adipisicing elit. Eveniet earum dolores expedita molestiae quos
          voluptas nihil. Quo, fugit! Quo dolor, voluptate necessitatibus
          tempora labore autem voluptates alias officia sit voluptas cumque,
          laboriosam, corporis maxime amet. Commodi quas soluta numquam rem non
          alias est aspernatur culpa perferendis? Beatae id laudantium dicta!
        </p>
        <p class="text-section">
          Tekst om hvorfor din bedrift trenger hjemmeside og hvorfor Moderna
          Media er det beste valget. Lorem ipsum dolor sit amet consectetur
        </p>

        <div class="list">
          <h3>Vi bygger systemet ditt</h3>
          <ul>
            <li>24/7 support</li>
            <li>Vi bygger hjemmeside med kunden i tankene</li>
            <li>Vi designer nettsiden in-house</li>
            <li>Vi har 100% fornøyd garanti</li>
          </ul>
        </div>
      </article>
      <div class="buttons">
        <a href="#kontakt" class="btn cta shadow"
          ><p>Book et uforpliktet møte</p></a
        >
        <a href="#kontakt" class="btn cta-2 shadow"
          ><p>Be om tilbud på programvare</p></a
        >
      </div>
    </div>
  </div>
</section>

<section
  class="usp-cards"
  aria-labelledby="usp-cards-title"
  id="bedrifthjemmeside"
>
  <div class="usp-cards-wrapper">
    <div class="titles">
      <p class="subtitle">Hvorfor du trenger</p>
      <h2 class="subtitle-gradient blue" id="usp-cards-title">
        Skreddersydd programvare for bedriften
      </h2>
    </div>
    <div class="cards">
      <div class="card">
        <div class="image">
          <img
            [src]="
              sanitizeImageUrl(
                '../../../../assets/Images/Tjenester/Tjeneste/Utvikling/programvare/640/dame som sitter på restaurant med programvareutvikling.webp'
              )
            "
            alt=""
          />
        </div>
        <div class="content">
          <h3>
            Custom Software Is More Cost-Effective Than Prepackaged Software
          </h3>
          <p>
            custom software provides you with exactly what you need, and only
            what you need, which means that you don’t have to pay for anything
            that you’re not going to use. Finally, your custom software can
            transform the way that you do business. For example, many businesses
            use customized software to upgrade their marketing tactics. This
            way, new software leads to new customers and better revenue.
          </p>
        </div>
      </div>
      <div class="card">
        <div class="image">
          <img
            [src]="
              sanitizeImageUrl(
                '../../../../assets/Images/Tjenester/Tjeneste/Utvikling/programvare/640/mann som utvikler programvare.webp'
              )
            "
            alt=""
          />
        </div>
        <div class="content">
          <h3>Your Custom Software Could Make You More Competitive</h3>
          <p>
            Not every business in your field uses custom software. If you have
            custom software, your company will stand out from the rest. Whether
            it’s a custom app to help you connect to your clients or a custom
            database to help your business run more smoothly, you’ll have
            something that not every business has. This difference will help you
            stand out and may also help you attract more clients. For those in
            highly competitive fields, custom software can make all the
            difference.
          </p>
        </div>
      </div>
      <div class="card">
        <div class="image">
          <img
            [src]="
              sanitizeImageUrl(
                '../../../../assets/Images/Tjenester/Tjeneste/Utvikling/programvare/640/Dame som handler gjennom ett betalingssystem.webp'
              )
            "
            alt=""
          />
        </div>
        <div class="content">
          <h3>Customization Gives You Scalability</h3>
          <p>
            Prepackaged software can’t give you the scalability that you need.
            The one-size-fits-all model doesn’t allow much movement in any
            direction. So what happens when you outgrow your software or need to
            cut back? You need scalability, and only customized software can
            give you what you need. For fluctuating businesses and those who
            anticipate growth, customization can make business life easier.
            Since your software is built with your needs in mind, you can get
            the exact amount of scalability that you need.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="usp-info" aria-labelledby="usp-info-title">
  <div class="usp-info-wrapper">
    <div class="header">
      <img
        src="../../../../assets/Images/Icons/tjenester/services/programvare.svg"
        alt=""
      />
      <h2 class="subtitle-gradient" id="usp-info-title">
        Oppfinn din programvare
      </h2>
    </div>
    <div class="content">
      <p>
        The majority of organizations address bespoke software developers to
        optimize the in-house processes. Be it a simple database for a small
        company or a complex solution for a large corporation, “tailor-made”
        presupposes that the app will solve all issues of its customer.
      </p>
      <p style="margin-top: 16px">
        The ability to organize in-house processes is a half-way to success.
        Although a custom software development company can design a special
        solution, you also participate in the process suggesting the necessary
        options. Thus, a tailor-made app will be partially or entirely your
        invention showing your creative approach to old business problems.
      </p>
    </div>
  </div>
</section>

<section class="process" aria-labelledby="process-title" id="neste-steg">
  <div class="wrapper">
    <div class="image">
      <img
        [src]="
          sanitizeImageUrl(
            '../../../../assets/Images/Tjenester/Tjeneste/Utvikling/programvare/640/Mann som ser på programvare for bedriften.webp'
          )
        "
        alt="Digitalbyrå som jobber med bedrift nettsider og design"
      />
    </div>
    <div class="content">
      <div class="content-wrapper">
        <div class="titles">
          <h2 class="title" id="process-title">
            Våre neste steg mot skreddersydd programvare
          </h2>
          <p class="innhold">
            For å få en god forståelse av deres krav og behov ønsker vi at dere
            tar kontakt for et uforpliktet møte. Men det er også mulig å be om
            et prisforslag. Uavhengig av hvilken kontakt metode du ønsker å
            bruke så kan vi ta dine neste steg mot en hjemmeside og ha første
            utkast klar innen 1 uke.
          </p>
        </div>
        <div class="liste">
          <div class="point">
            <div class="number">1</div>
            <div class="point-content">
              <p class="point-title">Kontakt oss</p>
              <p class="point-text">
                Klikker du knappen for et uforpliktet møte vil vi ringe deg opp
                snarest eller kontakte deg på mail basert på din preferanse.
                Ønsker du et tilbud må du fylle ut alle feltene slik at vi kan
                få en god forståelse av dine ønsker og behov.
              </p>
            </div>
          </div>
          <div class="point">
            <div class="number">2</div>
            <div class="point-content">
              <p class="point-title">Vi kontakter deg</p>
              <p class="point-text">
                Etter en gjennomgang av krav tegner vi opp en plan og diskuterer
                med deg. Deretter gjør vi iterative endringer slik at vi kan
                låse planen før vi starter utviklingsprossesen.
              </p>
            </div>
          </div>
          <div class="point">
            <div class="number">3</div>
            <div class="point-content">
              <p class="point-title">Leveranse</p>
              <p class="point-text">
                Gjennom utviklingsprossessen vil vi kjøre minimum ukentlige
                opdateringer slik at du blir inkludert i prosessen. Dersom du
                under noen steg av prosessen ikke skulle være fornøyd så har vi
                en 100% fornøyd garanti som sier at du kan kansellere oppdraget
                når som helst.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section
  class="usp-card-list"
  aria-labelledby="usp-list-title"
  id="inkluderte-tjenester"
>
  <div class="usp-list-wrapper">
    <div class="header">
      <p class="subtitle">Våre gratis inkluderte tjenester</p>
      <h2 class="subtitle-gradient blue" id="usp-list-title">
        Alle våre for hjemmesider inkluderer disse tjenestene helt gratis
      </h2>
    </div>
    <div class="cards">
      <div class="card">
        <img
          [src]="
            sanitizeImageUrl(
              '../../../../assets/Images/Icons/tjenester/services/utvikling/google analytics.svg'
            )
          "
          alt=""
          class="icon"
        />
        <h3 class="usp-card-title">Integrasjon av programvare</h3>
        <p>Vi integrerer din nye programvare mot din gamle. Helt gratis.</p>
      </div>
      <div class="card">
        <img
          [src]="
            sanitizeImageUrl(
              '../../../../assets/Images/Icons/tjenester/services/utvikling/google my business.svg'
            )
          "
          alt=""
          class="icon"
        />
        <h3 class="usp-card-title">Installasjon</h3>
        <p>Vi setter opp og installerer ditt nye programvare. Helt gratis.</p>
      </div>
    </div>
  </div>
</section>

<section class="prices" aria-labelledby="prices-title" id="priser">
  <div class="wrapper">
    <div class="titles">
      <p class="subtitle">Verdi for pengene</p>
      <h2 class="subtitle-gradient blue" id="prices-title">
        Våre priser på programvare for bedriften.
      </h2>
      <!-- <p class="content">
        Vi starter alle prosesser med et budsjettmøte hvor vi blir enige om krav
        og ønsker.
      </p> -->
    </div>
    <div class="prices-wrapper">
      <div class="price-component">
        <div class="img-wrapper">
          <img
            [src]="
              sanitizeImageUrl(
                '../../../../assets/Images/Tjenester/Tjeneste/Utvikling/programvare/400/Enkel programvare for bedrift.webp'
              )
            "
            alt="Logo for liten bedrift som henger på skilt"
          />
          <h3 class="usp-title">Enkel programvare</h3>
        </div>
        <div class="content-wrapper">
          <div class="info">
            <p>
              Vi definerer enkel programvare som programvare som tar under 75
              timer å utvikle. Ettersom all programvare er skreddersydd og
              individuell per bedrift er det veldig vanskelig å prissette
              programvare før vi har hatt ett møte.
            </p>
          </div>
          <div class="price">
            <p>Fra 25.000kr</p>
          </div>
        </div>
      </div>
      <div class="price-component">
        <div class="img-wrapper">
          <img
            [src]="
              sanitizeImageUrl(
                '../../../../assets/Images/Tjenester/Tjeneste/Utvikling/programvare/400/avansert programvare for bedrift.webp'
              )
            "
            alt="Liten bedrift som blant annet restaurant"
          />
          <h3 class="usp-title">Avansert programvare</h3>
        </div>
        <div class="content-wrapper">
          <div class="info">
            <p>
              All programvare som krever mer enn 75 timer å utvikle beregner vi
              som avansert programvare. Vi tar for tiden ikke på oss oppdrag som
              krever mer enn 500 timer å utvikle. Ta en prat med oss så
              esitmerer vi prosjektet og budsjettet ditt for å gi deg ett best
              mulig tilbud!
            </p>
          </div>
          <div class="price">
            <p>Fra 50.000kr</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<app-about-your-next-project></app-about-your-next-project>
