<section class="blog-showcase">
  <div class="wrapper">
    <header class="titles">
      <p class="subtitle">lær noe nytt</p>
      <h2 class="title">Fra vår blogg</h2>
    </header>
    <div class="blogs">
      <!-- BLOGG -->
      @for (blogg of blogs; track blogg.url) {
        <a [routerLink]="blogg.url" class="blogg-link">
          <article class="blogg">
            <header>
              <img
                [src]="blogg.img"
                [attr.srcset]="blogg.imgSrcset"
                sizes="335px"
                width="360"
                height="203"
                loading="lazy"
                decoding="async"
                [alt]="blogg.alt"
              />
            </header>
            <div class="wrapper">
              <h3>{{ blogg.Title }}</h3>
              <p>{{ blogg.Description }}</p>
              <p class="les-mer">
                Les mer
                <img
                  src="/assets/Images/Icons/right-arrow.svg"
                  width="16"
                  height="16"
                  loading="lazy"
                  alt=""
                />
              </p>
            </div>
          </article>
        </a>
      }
    </div>
  </div>
</section>
