@import "../../../../variables.scss";

.blog-showcase {
  .wrapper {
    max-width: 1280px;
    padding: 2rem;
    margin: 0 auto;
    width: 100%;
    .titles {
      padding-bottom: 30px;
    }
    .title {
      margin: 0;
    }
    .subtitle {
      margin-bottom: 15px;
    }
  }
  .blogs {
    @include flexR;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  .blogg-link:hover {
    .blogg {
      box-shadow: $elevation-5;
      .les-mer img {
        margin-left: 16px;
      }
    }
  }
  .blogg-link:active {
    .blogg {
      box-shadow: $elevation-2;
      .les-mer img {
        margin-left: 24px;
      }
    }
  }
  .blogg {
    min-height: 400px;
    width: 335px;
    margin: 1rem auto;
    border-radius: 25px 0 0 0;
    box-shadow: $elevation-3;
    overflow: hidden;
    transition: box-shadow 0.25s ease;
    @include flexC;
    header {
      height: 185px;
      width: 100%;
      img {
        height: 185px;
        width: 100%;
        object-fit: cover;
      }
    }
    .wrapper {
      min-height: calc(400px - 185px);
      height: 100%;
      padding: 2rem;
      @include flexC;
      justify-content: flex-start;
      align-items: flex-start;
      p,
      .les-mer {
        margin-top: 10px;
      }
      .les-mer {
        @include flexR;
        img {
          height: 16px;
          margin-left: 8px;
          transition: margin-left 0.25s ease;
        }
      }
    }
  }
}
