<!-- UTVIKLING -->
<section class="content-container utvikling">
  <div class="content-head utvikling-head">
    <img src="../assets/Images/Landingpage/wave_2.svg" alt="" />
    <h1 class="content-header">Utvikling</h1>
  </div>

  <div class="ladningpage-section utvikling-content">
    <div class="left">
      <div
        class="ladningpage-section-content-header-text utvikling-header-text"
      >
        <h1 id="utvikling-h1">Enkle løsninger</h1>
        <h2 id="utvikling-h2">Vanskelige problemer</h2>
      </div>
      <div class="folders">
        <div class="folder">
          <a href="#">
            <h3>Nettsider</h3>
            <fa-icon [icon]="faglobe" class="faicon"></fa-icon>
            <img src="../assets/Images/Landingpage/Pocket_blue.jpg" alt="" />
          </a>
        </div>
        <div class="folder">
          <a href="#">
            <h3>Apper</h3>
            <fa-icon [icon]="faapp" class="faicon"></fa-icon>
            <img src="../assets/Images/Landingpage/Pocket_blue.jpg" alt="" />
          </a>
        </div>
        <div class="folder">
          <a href="#">
            <h3>Programvare</h3>
            <fa-icon [icon]="fasoftware" class="faicon"></fa-icon>
            <img src="../assets/Images/Landingpage/Pocket_blue.jpg" alt="" />
          </a>
        </div>
      </div>
      <article class="ladningpage-section-content-text utvikling-content-text">
        <p>
          Med wordpress kan man bygge en nettside på under 1 time, dette bruker
          de fleste digital byråene i norge... Dette er også en av grunnene til
          at mange norske sider ser helt like ut og har et monotont design.
        </p>
        <br />
        <p>
          For å få full kontroll over nettsiden og teknologien bygger vi ALLE
          nettsider og programmer fra bunn!
        </p>
      </article>
      <div class="section-actions utvikling-actions">
        <button class="btn gradient blue" id="section-action-utvikling">
          book et uforpliktet møte
        </button>
        <a href="#" class="btn">Utforsk utvikling</a>
      </div>
    </div>
    <div class="right">
      <img
        class="section-image"
        id="utvikling-image"
        src="../assets/Images/Landingpage/digitalisering.jpg"
        alt=""
      />
    </div>
  </div>
</section>
<!-- DESIGN -->
<div class="content-container design">
  <div class="content-head">
    <img src="../assets/Images/Landingpage/wave_2.svg" alt="" />
    <h1 class="content-header" id="content-header-design">Design</h1>
  </div>
  <!-- DESÌGN -->
  <section class="ladningpage-section design">
    <div class="left">
      <div class="ladningpage-section-content-header-text seo-header-text">
        <h1 id="design-h1">Bedre konvertering</h1>
        <h2 id="design-h2">Bedre Brukervennlighet</h2>
      </div>
      <div class="folders">
        <div class="folder">
          <a href="#">
            <h3>Logo</h3>
            <fa-icon [icon]="falogo" class="faicon"></fa-icon>
            <img src="../assets/Images/Landingpage/Pocket_purple.jpg" alt="" />
          </a>
        </div>
        <div class="folder">
          <a href="#">
            <h3>Web Design</h3>
            <fa-icon [icon]="fawebdesign" class="faicon"></fa-icon>
            <img src="../assets/Images/Landingpage/Pocket_purple.jpg" alt="" />
          </a>
        </div>
        <div class="folder">
          <a href="#">
            <h3>Annet</h3>
            <fa-icon [icon]="fannet" class="faicon"></fa-icon>
            <img src="../assets/Images/Landingpage/Pocket_purple.jpg" alt="" />
          </a>
        </div>
      </div>
      <article class="ladningpage-section-content-text design-content-text">
        <p>
          visste du at det gjennomsnittlige oppmerksomhetsspennet har gått ned
          fra 12 til 8 sekunder?
        </p>
        <br />
        <p>Eller at det krever kun 0.5 sekunder for å gjøre opp en mening?</p>
        <br />
        <p>
          Dette vet vi og dette legger vi vekt på dersom vi designer din logo
          eller nettside!
        </p>
      </article>
      <div class="section-actions design-actions">
        <button class="btn gradient orange" id="section-action-design">
          book et uforpliktet møte
        </button>
        <a href="#" class="btn">Utforsk design</a>
      </div>
    </div>
    <div class="right">
      <img
        class="section-image"
        id="design-image"
        src="../assets/Images/Landingpage/app_utvikling.jpg"
        alt=""
      />
    </div>
  </section>
</div>
<!-- SEO -->
<div class="content-container seo">
  <div class="content-head utvikling-head">
    <img src="../assets/Images/Landingpage/wave_2.svg" alt="" />
    <h1 class="content-header" id="content-header-seo">SEO</h1>
  </div>

  <section class="ladningpage-section seo">
    <div class="left">
      <div class="ladningpage-section-content-header-text seo-header-text">
        <h1 id="seo-h1">Økt omsetning</h1>
        <h2 id="seo-h2">Bedre synlighet</h2>
      </div>
      <div class="folders">
        <div class="folder">
          <a href="#">
            <h3>Content SEO</h3>
            <fa-icon [icon]="facontent" class="faicon"></fa-icon>
            <img src="../assets/Images/Landingpage/Pocket_orange.jpg" alt="" />
          </a>
        </div>
        <div class="folder">
          <a href="#">
            <h3>On Page SEO</h3>
            <fa-icon [icon]="faonpage" class="faicon"></fa-icon>
            <img src="../assets/Images/Landingpage/Pocket_orange.jpg" alt="" />
          </a>
        </div>
        <div class="folder">
          <a href="#">
            <h3>Off Page SEO</h3>
            <fa-icon [icon]="faoffpage" class="faicon"></fa-icon>
            <img src="../assets/Images/Landingpage/Pocket_orange.jpg" alt="" />
          </a>
        </div>
      </div>
      <article class="ladningpage-section-content-text seo-content-text">
        <p>
          Hvis du hadde hadde hatt behov for hageservice, hvilket firma hadde du
          valgt?
        </p>
        <br />
        <p>
          De aller fleste ville tatt til google og søkt 'Hageservice oslo' eller
          et annet sted. 75% går aldri forbi side nummer 1 i søket, og de fleste
          ser ikke en gang på forslag nr. 2.
        </p>
        <br />
        <p>
          78% prosent av alle B2B salg starter med et google søk, på tide å
          investere i søkemotor optimalisering?
        </p>
      </article>
      <div class="section-actions seo-actions">
        <button class="btn btn gradient purple" id="section-action-seo">
          book et uforpliktet møte
        </button>
        <a href="#" class="btn">Utforsk SEO</a>
      </div>
    </div>
    <div class="right">
      <img
        class="section-image"
        id="seo-image"
        src="../assets/Images/Landingpage/seo.jpg"
        alt=""
      />
    </div>
  </section>
</div>
