<section class="moderna-media-home">
  <div class="background-image">
    <img src="../../assets/Images/Landingpage/LandingPage.jpg" alt="" />
    <div class="radial-gradient"></div>
  </div>
  <div class="content">
    <div class="logo">
      <img src="../../assets/Images/Logo/SVG/Design-3-blk.svg" alt="" />
    </div>
    <div class="info">
      <div class="headers">
        <h1>moderniserer</h1>
        <h2>bedriften</h2>
      </div>
      <div class="info-text">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis
          ratione sed, necessitatibus soluta dolor accusamus illum eum possimus
        </p>
      </div>
      <div class="cta-buttons">
        <button class="btn simple">Løsninger</button>
        <button class="btn cta blue">Book et uforpliktende møte</button>
      </div>
    </div>
  </div>
</section>
