<section class="head" #start>
  <div class="left">
    <div class="text-container">
      <div class="main-text">
        <h1>Bedriften</h1>
        <h2>Moderniserer</h2>
      </div>
      <article class="secondary-text">
        ModernaMedia er et digitalbyrå med kunnskap innenfor Utvikling, Grafisk
        Design og SEO også kjent som Søkemotoroptimalisering. Vårt mål er å
        modernisere din bedrift, gjøre deg synlig på nett og øke konverteringen
        og omsettningen til din bedrift!
      </article>
      <div class="actions">
        <button (click)="scrollToElement(content)" class="btn second">
          Lær mer
        </button>
        <button class="btn gradient dynamic">Book et uforpliktet møte</button>
      </div>
    </div>
  </div>
  <div class="right">
    <div class="bg-image"></div>
    <div class="head-video disableBlur">
      <iframe
        title="Modernamedia digitalisering byrå for nettsider, design og seo forklaring video"
        width="560"
        height="315"
        src="https://www.youtube-nocookie.com/embed/LzN3WPeIhtY"
        srcdoc="
            <style>
              *{
                padding:0;
                margin:0;
                overflow:hidden
              }
              html,body{
                height:100%
              }
              img,span{
                position:absolute;
                width:100%;
                top:0;
                bottom:0;
                margin:auto
              }
              span{
                height:1.5em;
                text-align:center;
                font:48px/1.5 sans-serif;
                color:white;
                text-shadow:0 0 0.5em black
              }
            </style>
            <a href=https://www.youtube-nocookie.com/embed/LzN3WPeIhtY?autoplay=1>
              <img src=./assets/Images/Landingpage/thumbnail.jpg
              alt='Video The Dark Knight Rises: What Went Wrong? – Wisecrack Edition'>
              <span>▶</span>
            </a>"
        frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>
    </div>
  </div>
</section>
<div class="content" #content>
  <section class="content-container utvikling">
    <div class="content-head utvikling-head">
      <img src="../assets/Images/Landingpage/wave_2.svg" alt="" />
      <!-- <h1 class="content-header">Lær mer</h1> -->
    </div>
  </section>
  <section class="information-wrapper">
    <h1 class="information-header">5 grunner til å velge oss</h1>
    <div class="information-container-one">
      <h1>1. Penger tilbake garanti</h1>
      <h2>"Dersom du ikke er fornøyd betaler du ingen ting"</h2>
    </div>
    <div class="information-container-two">
      <p>
        Dersom du ikke er fornøyd betaler du ingenting. Vi er stole over
        arbeidet vi utfører og er sikker på at du kommer til å bli fornøyd. For
        å gjøre opplevelsen best mulig for deg har vi bestemt oss for å ikke ta
        betalt dersom du ikke er 100% fornøyd med leveransen.
      </p>
    </div>
  </section>
</div>
