@use "src/variables" as *;

/*LANDING COMPONENT*/
/*LANDING COMPONENT*/
/*LANDING COMPONENT*/

section.landing {
  width: 100%;
  position: relative;
  .wrapper {
    height: calc(90vh - 2rem);
    min-height: 850px;
    position: relative;
  }
  .bg {
    position: absolute;
    width: 100%;
    height: calc(90vh - 2rem);
    min-height: 850px;
    .bg-shade,
    .landing-image {
      object-fit: cover;
      object-position: center;
      height: 100%;
      width: 100%;
      position: absolute;
    }
    .bg-shade {
      @include backgroundShade;
    }
  }
  .content {
    max-width: 600px;
    color: $light;
    padding: 1rem;
    width: 100%;
    position: absolute;
    @include aAbs;
    z-index: 2;
    .titles {
      position: relative;
      min-height: 100px;
      h1.tjenester-title,
      p.tjenester-title {
        position: absolute;
        z-index: 1;
        text-transform: uppercase;

        &:not(p.tjenester-title) {
          display: flex;
          justify-content: center;
          align-items: flex-start;
          flex-direction: column;
          flex-wrap: nowrap;
        }

        .super-title {
          font-size: 3.75rem;
          text-transform: uppercase;
          font-weight: 900;
          font-family: "Mosk", Arial, Helvetica, sans-serif;
          color: $light;
          &.bg {
            text-shadow: 0px 0px 14px rgb(0 0 0 / 38%);
            width: 100vw;
            height: 100vw;
            pointer-events: none;
          }
          &:not(.bg) {
            @include titleText-tjenester;
            // @include ctaText;
            // @include ctaText-blue;
          }
        }
        .subtitle.large {
          margin-top: -15px;
          font-size: 2.5rem;
          text-transform: uppercase;
          font-weight: 900;
          text-shadow: 0px 0px 14px rgb(0 0 0 / 38%);
        }
        &:not(.background) {
          z-index: 2;
        }
        &.background {
        }
      }
    }
  }
  .buttons,
  .info {
    margin-top: 10px;
    color: $light;
    p {
      color: $light;
    }
  }
  .buttons {
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-direction: row;
    flex-wrap: wrap;
    .btn {
      width: 100%;
      flex: 3;
      &:nth-child(2) {
        margin-left: 10px;
        flex: 2;
      }
      p {
        white-space: nowrap;
      }
    }
  }
  .links {
    display: flex;
    justify-content: space-evenly;
    align-items: stretch;
    flex-direction: row;
    flex-wrap: wrap;
    list-style-type: none;
    position: absolute;
    bottom: 2rem;
    width: 95%;
    left: 2.5%;
    .link-container {
      color: $light;
      flex: 1 0 0px;
      min-width: 40%;
      white-space: nowrap;
    }
    button,
    a {
      background: none;
      border: none;
      color: $light;
      font-weight: 500;
      font-size: 1rem;
      margin: 0 0.5rem;
      transition: all 0.25s ease;
      &:hover {
        color: $orange-gradient;
        cursor: pointer;
      }
      &::before {
        content: "\2022";
        padding-right: 5px;
      }
    }
  }
}

@media screen and (max-width: 465px) {
  .landing .buttons {
    flex-direction: column;
    .btn {
      margin: 0.25rem 0 !important;
    }
  }
}

/*LANDING COMPONENT END*/
/*LANDING COMPONENT END*/
/*LANDING COMPONENT END*/

/*INFO COMPONENT*/
/*INFO COMPONENT*/
/*INFO COMPONENT*/

section.info {
  &.white {
    background: $clean-white;
  }
  min-height: 900px;
  background: $light;
  @include flexC;
  .info-container {
    @include flexC;
    padding: 2rem;
    .image-container {
      width: 100%;
      height: 300px;
      border-radius: 25px;
      box-shadow: $elevation-4;
      margin: 2rem auto;
      overflow: hidden;
      img {
        object-fit: cover;
        height: 100%;
        width: 100%;
      }
    }
    .text-container {
      .header {
      }
      .text-section {
        margin: 1rem 0;
      }
      .buttons {
        @include flexR;
        flex-wrap: wrap;
        .btn {
          flex: 1;
          white-space: nowrap;
          max-width: 300px;
          margin: 0.5rem auto;
        }
      }
    }
    .list ul {
      padding-left: 18px;
      padding-bottom: 1rem;
    }
    &.left {
    }
  }
}

/*INFO COMPONENT END*/
/*INFO COMPONENT END*/
/*INFO COMPONENT END*/

/*USP-CARDS COMPONENT*/
/*USP-CARDS COMPONENT*/
/*USP-CARDS COMPONENT*/

section.usp-cards {
  background: $light-second;
  .usp-cards-wrapper {
    max-width: 1280px;
    margin: 0 auto;
    width: 100%;
    padding: 2rem;
    .titles {
      text-align: center;
      margin: 2rem auto;
    }
    .cards {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      align-items: stretch;
      .card {
        box-shadow: $elevation-3;
        margin: 1rem 1rem;
        max-width: 350px;
        min-width: 300px;
        background: $clean-white;
        min-height: 500px;
        border-radius: 25px 0 0 0;
        overflow: hidden;
        .image {
          height: 185px;
          width: 100%;
          overflow: hidden;
          img {
            object-fit: cover;
            height: 100%;
            width: 100%;
          }
        }
        .content {
          padding: 1rem;
          h3 {
            margin: 1rem auto;
          }
          p {
            line-height: 24px;
          }
        }
      }
    }
  }
}
/*USP-CARDS COMPONENT END*/
/*USP-CARDS COMPONENT END*/
/*USP-CARDS COMPONENT END*/

/*USP-INFO COMPONENT*/
/*USP-INFO COMPONENT*/
/*USP-INFO COMPONENT*/

section.usp-info {
  width: 100%;
  background: $clean-white;
  .usp-info-wrapper {
    max-width: 1280px;
    width: 100%;
    padding: 2rem;
    margin: 0 auto;
  }
  .header {
    img {
      height: 75px;
    }
    h2 {
      text-align: left;
      font-size: 2rem;
    }
  }
  .content {
    line-height: 24px;
  }
}

/*USP-INFO COMPONENT END*/
/*USP-INFO COMPONENT END*/
/*USP-INFO COMPONENT END*/

/*PROCESSS COMPONENT*/
/*PROCESSS COMPONENT*/
/*PROCESSS COMPONENT*/

section.process {
  min-height: 800px;
  background-color: $light-second;
  padding: 2rem;
  .wrapper {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    .image {
      position: relative;
      height: 400px;
      width: 100%;
      img {
        box-shadow: $box-shadow;
        border-radius: 25px;
        object-fit: cover;
        object-position: center;
        width: 100%;
        height: 100%;
        position: absolute;
      }
    }
    .content {
      .content-wrapper {
      }
      .titles {
        padding-top: 2rem;
        .title {
          @include ctaText;
          font-size: 2.5rem;
        }
        .innhold {
          padding-top: 1rem;
          font-weight: 400;
        }
      }
      .liste {
        .point {
          margin-top: 3rem;
          display: flex;
          flex-direction: row;
          flex-wrap: nowrap;
          .number {
            border: 2px solid #54d0ec;
            color: #54d0ec;
            margin-right: 1rem;
            height: 40px;
            min-height: 40px;

            width: 40px;
            min-width: 40px;

            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 500%;
          }
          .point-content {
            .point-title {
              font-weight: 600;
            }
            .point-text {
              padding-top: 1rem;
              font-weight: 400;
            }
          }
        }
      }
    }
  }
}
/*USP-CARD-LIST COMPONENT*/
/*USP-CARD-LIST COMPONENT*/
/*USP-CARD-LIST COMPONENT*/
section.usp-card-list {
  background: $clean-white;
  margin: 2rem 0;
  .usp-list-wrapper {
    padding: 2rem;
    margin: 0 auto;
    max-width: 1280px;
    .header {
      text-align: center;
      margin-bottom: 2rem;
      h2 {
        font-size: 1.5rem;
      }
    }
    .cards {
      @include flexR;
      flex-wrap: wrap;
      .card {
        flex: 1 0 0px;
        min-width: 320px;
        max-width: 350px;
        margin: 1rem 0.5rem;
        height: 350px;
        background: $light-second;
        box-shadow: $elevation-3;
        padding: 1rem;
        @include flexC;
        justify-content: center;
        text-align: center;
        & > * {
          margin-top: 1rem;
        }
        .icon {
          height: 50px;
        }
      }
    }
  }
}
/*USP-CARD-LIST COMPONENT END*/
/*USP-CARD-LIST COMPONENT END*/
/*USP-CARD-LIST COMPONENT END*/

/*PRICES COMPONENT*/
/*PRICES COMPONENT*/
/*PRICES COMPONENT*/

section.prices {
  .wrapper {
    padding: 2rem;
    .titles {
      text-align: center;
      padding: 2rem 0;
      .title {
        padding: 1rem 0;
        @include ctaText;
        font-size: 2.5rem;
      }
      .subtitle {
        text-transform: uppercase;
        letter-spacing: 5px;
        font-size: 0.75rem;
        font-weight: 100;
      }
    }
    .prices-wrapper {
    }
    .price-component {
      background-color: $light-second;
      box-shadow: $box-shadow-small;
      width: 100%;
      margin: 1rem auto;
      position: relative;
      padding-bottom: 40px;
      max-width: 400px;
      .content-wrapper {
        padding: 0.5rem 1rem;
      }
      .img-wrapper {
        position: relative;
        height: 200px;
        background-color: rgba(12, 12, 12, 0.425);

        img {
          position: absolute;
          height: 100%;
          width: 100%;
          object-fit: cover;
          mix-blend-mode: multiply;
        }
        .usp-title {
          @include aAbs;
          position: absolute;
          color: $light;
          font-size: 2.5rem;
          text-align: center;
        }
      }
      .usp-list .usp {
        display: flex;
        margin: 0.75rem 1rem;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: row;
        flex-wrap: nowrap;
        img {
          height: 1rem;
        }
        .usp-text {
          padding-left: 0.5rem;
          text-align: left;
        }
      }
      .info {
        padding: 1rem;
        text-align: left;
      }
      .price {
        @include ctaText;
        font-size: 1.25rem;
        text-align: center;
        background-color: $clean-white;
        padding: 8px 0;
        box-shadow: 0px -5px 20px 4px hsla(0, 0%, 0%, 0.05);
        position: absolute;
        bottom: 0;
        left: 0;
        height: 40px;
        width: 100%;
      }
    }
  }
  ul,
  li {
    list-style: none;
  }
}

