@import "../../variables.scss";

/*LANDING COMPONENT*/
/*LANDING COMPONENT*/
/*LANDING COMPONENT*/

@media screen and (min-width: $desktop) {
  section.landing {
    .content {
      .titles {
        min-height: 150px;
        h1.tjenester-title,
        p.tjenester-title {
          top: 0;
          .super-title,
          .subtitle.large {
            font-size: 3.5rem;
          }
          .super-title {
            font-size: 5rem;
          }
        }
      }
      .info p {
        font-size: 1.25rem;
      }
    }
  }
}
@media screen and (min-width: $tablet) {
  section.landing {
    width: 97.5%;
    box-shadow: $box-shadow;
    max-width: $max-width;
    margin: 1rem auto;
    overflow: hidden;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    .buttons {
      max-width: 475px;
    }
    .wrapper {
      min-height: 750px;
      width: 100%;
    }
    .bg {
      .bg-shade,
      .landing-image {
        min-width: 100%;
      }
    }
    .content {
      .titles {
        min-height: 170px;
        h1.tjenester-title,
        p.tjenester-title {
          top: 0;
          .super-title,
          .subtitle.large {
            font-size: 4rem;
          }
          .super-title {
            font-size: 5.75rem;
          }
          .subtitle.large {
          }
        }
      }
    }
  }
}

@media screen and (min-width: 1280px) {
  section.landing {
    .content {
      max-width: 800px;
      .titles {
        min-height: 240px;
        h1.tjenester-title,
        p.tjenester-title {
          top: 0;
          .super-title,
          .subtitle.large {
            font-size: 5.5rem;
          }
          .super-title {
            font-size: 8rem;
          }
          .subtitle.large {
          }
        }
      }
    }
  }
}

/*LANDING COMPONENT END*/
/*LANDING COMPONENT END*/
/*LANDING COMPONENT END*/

/*INFO COMPONENT*/
/*INFO COMPONENT*/
/*INFO COMPONENT*/
@media screen and (min-width: $tablet) {
  section.info {
    min-height: 900px;
    &.white {
      background: $clean-white;
    }
    background: $light;
    .info-container {
      @include flexR;
      flex-wrap: nowrap;
      max-width: 1280px;
      margin: 2rem auto;
      gap: 2rem;
      width: 100%;
      .image-container {
        flex: 1 0 0px;
        height: 700px;
        width: auto;
        img {
          height: 100%;
          width: 100%;
        }
      }
      .text-container {
        flex: 1 0 0px;
        .text-section {
          margin: 1rem 0;
        }
        .buttons {
          justify-content: flex-start;
          gap: 0.5rem 2rem;
          .btn {
            white-space: nowrap;
            flex: 1;
          }
        }
      }
      &.right {
        flex-direction: row-reverse;
      }
    }
  }
}

/*USP-CARDS COMPONENT*/
/*USP-CARDS COMPONENT*/
/*USP-CARDS COMPONENT*/
@media screen and (min-width: 1150px) {
  section.usp-cards {
    background: $light-second;
    padding: 2rem 0;
    .usp-cards-wrapper {
      max-width: 1280px;
      margin: 0 auto;
      width: 100%;
      padding: 2rem;
      .titles {
        text-align: center;
      }
      .cards {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: stretch;
        .card {
          margin: 1rem 0.5rem;
          .image {
            height: 185px;
            width: 100%;
            overflow: hidden;
            img {
              object-fit: cover;
              height: 100%;
              width: 100%;
            }
          }
        }
      }
    }
  }
}

/*USP-CARDS COMPONENT END*/
/*USP-CARDS COMPONENT END*/
/*USP-CARDS COMPONENT END*/

/*USP-INFO COMPONENT*/
/*USP-INFO COMPONENT*/
/*USP-INFO COMPONENT*/
@media screen and (min-width: $tablet) {
  section.process {
    .wrapper {
      flex-direction: row;
      flex-wrap: nowrap;
      padding: 0 2rem;
      max-width: 1280px;
      align-items: stretch;
      .image {
        min-width: 40%;
        position: relative;
        height: auto;
        img {
          position: absolute;
        }
      }
      .content {
        padding-left: 2rem;
        max-width: 750px;
        .titles {
          padding-top: 0;
          .innhold {
            padding-top: 1rem;
          }
        }
        .liste {
          .point {
            margin-top: 3rem;
            .number {
              margin-right: 1rem;
            }
            .point-content {
              .point-text {
                padding-top: 1rem;
              }
            }
          }
        }
      }
      .image,
      .conent {
        flex: 1 0 0px;
      }
    }
  }
}

/*USP-INFO COMPONENT END*/
/*USP-INFO COMPONENT END*/
/*USP-INFO COMPONENT END*/

/*USP-CARD-LIST COMPONENT*/
/*USP-CARD-LIST COMPONENT*/
/*USP-CARD-LIST COMPONENT*/

@media screen and (min-width: $desktop) {
  section.usp-card-list {
    padding-top: 2rem;
    margin-top: 0;
  }
  section.usp-card-list .usp-list-wrapper .header h2 {
    font-size: 2.5rem;
  }
}
@media screen and (min-width: 1280px) {
  section.usp-card-list .usp-list-wrapper .cards {
  }
}

/*USP-CARD-LIST COMPONENT END*/
/*USP-CARD-LIST COMPONENT END*/
/*USP-CARD-LIST COMPONENT END*/
