<section class="moderna-media-info-and-image" [ngClass]="sectionStyle">
  <div class="wrapper">
    <div class="image">
      <img
        src="{{
          imageCdn == '' ? '' : imageCdn
        }}../../../assets/Images/Components/Info-and-image/top-angle-view-male-web-designer-work.webp?width=1000"
        alt=""
      />
    </div>
    <div class="content">
      <h2>
        Vi tar ikke betalt før produktet er ferdig, på denne måten er du helt
        <span>fornøyd</span>, helt <span>risikofritt</span>
      </h2>
      <p>
        transmitting quantify navigating the card won't do anything, we need to
        transmit the optical PCI sensor! calculate The HDD driver is down, back
        up the cross-platform interface so we can override the RSS system! Use
        the mobile XML microchip, then you can copy the back-end program! You
        can't connect the sensor without backing up the Bluetooth HTTP hard
        drive! transmitting the system won't do anything, we need to input the
        1080p THX program! Try to navigate the PNG port, maybe it will input the
        online program! I'll hack the 1080p CSS firewall, that should
        transmitter the PCI monitor! backing up
      </p>
    </div>
  </div>
</section>
