<section class="moderna-media-product">
  <div class="arrows">
    <button (click)="movePrevious()" name="forrige tjeneste">
      <img
        class="left"
        src="{{
          imageCdn == '' ? '' : imageCdn
        }}../../../assets/Images/Icons/right-arrow.svg"
        alt=""
        loading="lazy"
      />
      <p>forrige</p>
    </button>
    <button (click)="moveNext()" name="neste tjeneste">
      <p>neste</p>
      <img
        class="right"
        src="{{
          imageCdn == '' ? '' : imageCdn
        }}../../../assets/Images/Icons/right-arrow.svg"
        alt=""
        loading="lazy"
      />
    </button>
  </div>
  <section class="product-section front one" #one>
    <div class="product-wrapper">
      <div class="bg-img">
        <h1 class="title {{ componentTheme }} no-bg">
          {{ ContentOne["Title"] }}
        </h1>
        <div class="bg-shadow"></div>
        <img
          src="{{ imageCdn == '' ? '' : imageCdn }}{{
            ContentOneImageSrc
          }}?width={{ vw }}"
          alt=""
          loading="lazy"
        />
      </div>
      <div class="content {{ componentTheme }} no-bg">
        <div class="subtitle">
          <h2 [innerHTML]="ContentOne['Subtitle']"></h2>
        </div>
        <div class="icons">
          <div class="icon" *ngFor="let ico of ContentOne['Icons']">
            <img
              src="{{ imageCdn == '' ? '' : imageCdn }}{{ ico['IconSrc'] }}"
              alt=""
              loading="lazy"
            />
            <div class="icon-text">
              <strong>{{ ico["IconTitle"] }}</strong>
              <p *ngFor="let iconContent of ico['IconContent']">
                {{ iconContent }}
              </p>
            </div>
          </div>
        </div>
        <div class="content-text">
          <p [innerHTML]="ContentOne['Content']"></p>
        </div>
        <div class="cta-btn">
          <button class="btn dark shadow section-cta" name="book møte">
            Book et møte
          </button>
        </div>
      </div>
    </div>
  </section>
  <section class="product-section back two" #two>
    <div class="product-wrapper">
      <div class="bg-img">
        <h1 class="title {{ componentTheme }} no-bg">
          {{ ContentTwo["Title"] }}
        </h1>
        <div class="bg-shadow"></div>
        <img
          src="{{ imageCdn == '' ? '' : imageCdn }}{{
            ContentTwoImageSrc
          }}?width={{ vw }}"
          alt=""
          loading="lazy"
        />
      </div>
      <div class="content {{ componentTheme }} no-bg">
        <div class="subtitle">
          <h2 [innerHTML]="ContentTwo['Subtitle']"></h2>
        </div>
        <div class="icons">
          <div class="icon" *ngFor="let ico of ContentTwo['Icons']">
            <img
              src="{{ imageCdn == '' ? '' : imageCdn }}{{ ico['IconSrc'] }}"
              alt=""
              loading="lazy"
            />
            <div class="icon-text">
              <strong>{{ ico["IconTitle"] }}</strong>
              <p *ngFor="let iconContent of ico['IconContent']">
                {{ iconContent }}
              </p>
            </div>
          </div>
        </div>
        <div class="content-text">
          <p [innerHTML]="ContentTwo['Content']"></p>
        </div>
        <div class="cta-btn">
          <button class="btn dark shadow section-cta" name="book et møte">
            Book et møte
          </button>
        </div>
      </div>
    </div>
  </section>
</section>
