<section class="Moderna-media-blogg">
  <div class="hero">
    <img
      src="{{
        imageCdn
      }}../../../assets/Images/Blogg/Ny nettside for bedrift av diitalbyrå i oslo.webp?width={{
        vw
      }}"
      alt="Bilde av digital byrå i oslo"
    />
    <strong>Blogg</strong>
  </div>
  <div class="blogs">
    <div class="blog-content-list">
      <div class="title">
        <h1>
          Lyst til å lære hvordan du kan lage egen hjemmeside for en bedrift
          eller hvordan markedsføre bedriften helt gratis?
        </h1>
        <p>
          25 ord Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas
          obcaecati soluta dolorem dolores magni quam amet nam qui recusandae
          tenetur, deserunt doloribus quia, eius dignissimos!
        </p>
      </div>
      <app-blogg-thumbnail
        src="{{
          imageCdn == '' ? '' : imageCdn
        }}../../../assets/Images/Landingpage/miniblogg/blogg/eksperter i team.webp?width=800"
        title="100% Egendefinert"
        alt="Alt bygget fra grunn, uten wordpress"
        theme="dark"
        href=""
        content="
        Et egendefinert nettsted vil ha alle funksjonene du ønsker å bruke for markedsføring av virksomheten din. Vi hjelper deg med å utforme en liste over hvilke elementer som bør implementeres i strukturen på selve nettsiden. 
        Gjennom tett samarbeid med våre utviklere vil du få et egenartet nettsted med design og funksjoner av din smak. 
        Dersom du ønsker noe unikt og blikkfangende er egendefinert design det rette valget
        "
      >
      </app-blogg-thumbnail>
      <app-blogg-thumbnail
        src="{{
          imageCdn == '' ? '' : imageCdn
        }}../../../assets/Images/Landingpage/miniblogg/blogg/eksperter i team.webp?width=600"
        title="100% Egendefinert"
        alt="Alt bygget fra grunn, uten wordpress"
        theme="dark"
        href=""
        content="
        Et egendefinert nettsted vil ha alle funksjonene du ønsker å bruke for markedsføring av virksomheten din. Vi hjelper deg med å utforme en liste over hvilke elementer som bør implementeres i strukturen på selve nettsiden. 
        Gjennom tett samarbeid med våre utviklere vil du få et egenartet nettsted med design og funksjoner av din smak. 
        Dersom du ønsker noe unikt og blikkfangende er egendefinert design det rette valget
        "
      >
      </app-blogg-thumbnail>
      <app-blogg-thumbnail
        src="{{
          imageCdn == '' ? '' : imageCdn
        }}../../../assets/Images/Landingpage/miniblogg/blogg/eksperter i team.webp?width=600"
        title="100% Egendefinert"
        alt="Alt bygget fra grunn, uten wordpress"
        theme="dark"
        href=""
        content="
        Et egendefinert nettsted vil ha alle funksjonene du ønsker å bruke for markedsføring av virksomheten din. Vi hjelper deg med å utforme en liste over hvilke elementer som bør implementeres i strukturen på selve nettsiden. 
        Gjennom tett samarbeid med våre utviklere vil du få et egenartet nettsted med design og funksjoner av din smak. 
        Dersom du ønsker noe unikt og blikkfangende er egendefinert design det rette valget
        "
      >
      </app-blogg-thumbnail>
    </div>
    <div class="blog-links-list">
      <p class="title">
        <strong>Lenker</strong>
      </p>
      <p>
        <strong>Mest lest</strong>
      </p>
      <ol>
        <li>
          <a href=""> Registrere google min bedrift - google my business </a>
        </li>
        <li>
          <a href=""> Registrere google min bedrift - google my business </a>
        </li>
        <li>
          <a href=""> Registrere google min bedrift - google my business </a>
        </li>
      </ol>
      <p>
        <strong>Nyeste</strong>
      </p>
      <ol>
        <li>
          <a href=""> Registrere google min bedrift - google my business </a>
        </li>
        <li>
          <a href=""> Registrere google min bedrift - google my business </a>
        </li>
        <li>
          <a href=""> Registrere google min bedrift - google my business </a>
        </li>
      </ol>
    </div>
  </div>
</section>
