<section
  class="landing"
  aria-labelledby="landing-title"
  aria-label="Hjemmeside for bedrifter"
>
  <div class="wrapper">
    <div class="bg">
      <img
        [src]="
          sanitizeImageUrl(
            '../../../../assets/Images/Tjenester/Tjeneste/Utvikling/Hjemmeside/woman-looking-after-plants-greenhouse.jpg'
          )
        "
        alt="Moderna media digitalbyrå for bedriftens nettsider, bedriftsystemer, grafisk design og logo design"
        class="landing-image"
      />
      <div class="bg-shade"></div>
    </div>
    <div class="content">
      <div class="titles">
        <h1 class="tjenester-title" id="landing-title">
          <span class="super-title">Hjemmeside</span>
          <span class="subtitle large">For bedrifter</span>
        </h1>
        <p class="tjenester-title background">
          <span class="super-title bg">Hjemmeside</span>
        </p>
      </div>
      <div class="info">
        <p>
          Vi bygger hjemmesider for bedriften din. Vi skreddersyr hjemmesiden
          for bedriften og kundene deres. Vi prdouserer nettsider av topp
          kvalitet for store og små bedrifter. Book et uforpliktet møte eller
          les mer om vår hjemmeside tjeneste.
        </p>
      </div>
      <div class="buttons">
        <a class="btn cta shadow" href="#kontakt"
          ><p>Book et uforpliktet møte</p></a
        >
        <a class="btn cta-2" href="#tjenester"><p>Les om hjemmesider</p></a>
      </div>
    </div>
  </div>
</section>
