@use "../../../../scss/partials/tjenester";
@use "../../../../scss/partials/tjenester-desktop";
@use "src/variables" as *;

/*PRICES COMPONENT*/
/*PRICES COMPONENT*/
/*PRICES COMPONENT*/

section.landing {
  .buttons {
    justify-content: flex-start;
  }
  .buttons .btn {
    max-width: 250px;
  }
}

section.usp-cards {
  .card p {
    margin-top: 1rem;
  }
}

section.info .info-container .text-container {
  .buttons {
    justify-content: flex-start;
    a.btn {
      flex: auto;
      max-width: 200px;
      margin: 0.5rem 0;
    }
  }
}

section.usp-card-list {
  .btn {
    max-width: 200px;
    margin: 0.5rem auto;
  }
}

section.process {
  .btn {
    max-width: 250px;
    margin: 0.5rem 0;
    margin-top: 1rem;
    margin-left: 56px;
  }
}

.inline-text-link:not(.clean) {
  &,
  b {
    color: $purple-primary;
  }
  &:hover,
  &:hover b {
    color: $orange-primary;
  }
}
b {
  color: $orange-primary;
}

section.prices {
  .wrapper .prices-wrapper .price-component {
    .content-wrapper .info p {
      margin-top: 1rem;
    }
  }
  .wrapper .prices-wrapper .price-component .img-wrapper {
    .price-title {
      position: absolute;
      font-size: 2rem;
      color: $clean-white;
      top: 1rem;
      left: 1rem;
    }
    .price-subtitle {
      color: $clean-white;
      position: absolute;
      @include vaAbs;
      left: 0;
      font-size: 1.5rem;
      font-weight: 400;
      width: 100%;
      padding: 1rem;
    }
    .price-header-content {
      position: absolute;
      color: $clean-white;
      padding: 1rem;
      bottom: 0;
      left: 0;
    }
  }
}
@media screen and (min-width: $desktop) {
  section.prices {
    .wrapper {
      max-width: 1280px;
      margin: 0 auto;
      .titles {
        text-align: center;
        padding: 2rem 0;
        .title {
          padding: 1rem 0;
          font-size: 2.5rem;
        }
        .subtitle {
          font-size: 0.75rem;
        }
      }
      .prices-wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: auto;
        grid-row-gap: 1rem;
      }
      .price-component {
        width: 100%;
        margin: 1rem auto;
        position: relative;
        padding-bottom: 25px;
        min-width: 340px;
        max-width: 450px;
        flex: 1 0 0px;
        .content-wrapper {
          padding: 0.5rem 1rem;
        }
        .img-wrapper {
          height: 200px;
          .usp-title {
            font-size: 2.5rem;
          }
        }
        .usp-list .usp {
          .usp-text {
            padding-left: 0.5rem;
          }
        }
        .info {
          padding: 1rem;
        }
        .price {
          @include ctaText;
          font-size: 1.25rem;
          padding: 8px 0;
          position: absolute;
          bottom: 0;
          left: 0;
          height: 40px;
          width: 100%;
        }
      }
    }
    ul,
    li {
      list-style: none;
    }
  }
}

