<section
  class="landing"
  aria-labelledby="landing-title"
  aria-label="Hjemmeside for bedrifter"
>
  <div class="wrapper">
    <div class="bg">
      <img
        [src]="
          sanitizeImageUrl(
            '../../../../assets/Images/Tjenester/Tjeneste/Utvikling/Hjemmeside/woman-looking-after-plants-greenhouse.jpg'
          )
        "
        alt="Moderna media digitalbyrå for bedriftens nettsider, bedriftsystemer, grafisk design og logo design"
        class="landing-image"
      />
      <div class="bg-shade"></div>
    </div>
    <div class="content">
      <div class="titles">
        <h1 class="tjenester-title" id="landing-title">
          <span class="super-title">Hjemmeside</span>
          <span class="subtitle large">For bedrifter</span>
        </h1>
        <p class="tjenester-title background">
          <span class="super-title bg">Hjemmeside</span>
        </p>
      </div>
      <div class="info">
        <p>
          Moderne og profesjonelle nettsider kodet og designet fra bunnen av.
          Sikkerhetsorienterte, tilpasset alle skjermstørrelser og utviklet med
          dine nåværende og kommende kunder i fokus.
        </p>
      </div>
      <div class="buttons">
        <a class="btn cta shadow" href="#kontakt"
          ><p>Book et uforpliktet møte</p></a
        >
      </div>
    </div>
    <ul class="links">
      <li class="link-container">
        <button class="header-link" (click)="scrollToId('hjemmeside')">
          Våre nettsider
        </button>
      </li>
      <li class="link-container">
        <button class="header-link" (click)="scrollToId('hjemmeside-2')">
          Dine fordeler
        </button>
      </li>
      <li class="link-container">
        <button class="header-link" (click)="scrollToId('neste-steg')">
          Hvorfor Moderna Media
        </button>
      </li>
      <li class="link-container">
        <button
          class="header-link"
          (click)="scrollToId('inkluderte-tjenester')"
        >
          Tjeneste
        </button>
      </li>
      <li class="link-container">
        <button class="header-link" (click)="scrollToId('priser')">
          Dine neste steg
        </button>
      </li>
      <li class="link-container">
        <button class="header-link" (click)="scrollToId('priser')">
          priser
        </button>
      </li>
    </ul>
  </div>
</section>

<section
  class="info white"
  aria-label="Bygg din bedrifthjemmeside"
  id="hjemmeside"
>
  <div class="info-container left">
    <div class="image-container">
      <img
        [src]="
          sanitizeImageUrl(
            '../../../../assets/Images/Tjenester/Tjeneste/Utvikling/Hjemmeside/woman-gardner-greenhouse.jpg'
          )
        "
        alt=""
      />
    </div>
    <div class="text-container">
      <article aria-label="den beste hjemmesiden for bedriften">
        <div class="header">
          <p class="subtitle-gradient blue">Våre nettsider</p>
          <h2 class="title-bold">Bygg din bedrift på nett</h2>
        </div>
        <p class="text-section">
          Din bredriftsnettside er den viktigste og ofte den eneste digitale
          kanalen sett av kundene dine. Mangler du en hjemmeside er det større
          risiko for at din idelle kunde aldri finner bedriften din.
        </p>
        <p class="text-section">
          Akkurat som når man planlegger konstruksjon av en fysisk butikk eller
          et forretningslokale hvor man kan treffe potensielle kunder er det en
          del viktige faktorer å tenke på. De inkluderer
        </p>
        <div class="list">
          <!-- <h3></h3> -->
          <ul>
            <li>Oppsett og layout</li>
            <li>Funksjonalitet</li>
            <li>Beliggenhet</li>
            <li>Synlighet</li>
            <li>Sikkerhet</li>
            <li>Pris</li>
          </ul>
        </div>
        <p class="text-section">
          Den må i tillegg se bra ut å være noe du er stolt av, siden
          førsteinntrykket er svært viktig. Din visuell identitet betyr mye for
          kunder og gjester, og hvordan de oppfatter virksomheten din.
        </p>
        <p class="text-section">
          Når du vil bygge din nettside er det også mye å ta hensyn til og en
          del å velge fra. Skal man bruke Wordpress, Webflow, Wix? Går det an å
          kode alt fra bunnen av, eller er det best å bruke ferdiglaget mal
          eller "templates"? Hva med server oppsett, søkemotoroptimalisering og
          analyseverktøy?
        </p>
        <p class="text-section">
          De alle fleste tenker kun på det de tror er mest relevant: Pris,
          leveringstid og utseende.
        </p>
        <p class="text-section">
          Alle disse er viktige og relevante egenskaper, men oppbyggingen av en
          optimalisert nettside handler om mye mer enn det. Det er viktig å ta
          hensyn til sikkerhet, synlighet, responsivitet, brukervennlighet,
          universell utforming, lover og regler.
        </p>
      </article>
    </div>
  </div>
</section>
<section
  class="info white"
  aria-label="Wordpress, Wix, Webflow eller Moderna Media digitalbyrå?"
  id="hjemmeside-2"
>
  <div class="info-container right">
    <div class="image-container">
      <img
        [src]="
          sanitizeImageUrl(
            '../../../../assets/Images/Tjenester/Tjeneste/Utvikling/Hjemmeside/woman-gardner-greenhouse.jpg'
          )
        "
        alt=""
      />
    </div>
    <div class="text-container">
      <article
        aria-label="Wordpress, Wix, Webflow eller Moderna Media digitalbyrå?"
      >
        <div class="header">
          <p class="subtitle-gradient blue">Fordeler og ulemper</p>
          <h2 class="title-bold">
            Wordpress, Wix, Webflow eller Moderna Media Digitalbyrå?
          </h2>
        </div>
        <p class="text-section">
          For de alle fleste består en nettside kun av det de kan se på
          skjermen. De tenker på en fin layout, fornuftig fargebruk og innholdet
          som blir vist frem.
        </p>
        <p class="text-section">
          I virkeligheten er det mye mer som skjer bak scenen, usynlig for de
          som besøker en nettside men som utgjør viktig forskjell når det kommer
          til prestasjon og synlighet på søkemotorer.
        </p>
        <p class="text-section">
          Å lage en nettside ved å bruke, for eksempel, Wordpress kan være
          fornuftig for de som trenger noe som er laget på kort tid og med
          hovedmål å publisere tekstinnhold. Derfor brukes Wordpress veldig ofte
          til blogger, hvor det er stort behov for dynamisk innhold og
          regelmessige oppdateringer.
        </p>
        <p class="text-section">
          Ulempene er derimot flere. Du havner ofte opp med en nettside som er
          usynlig på Google, kan bli lettere utsatt for cyberangrep og som ikke
          vises like bra på mobilenheter eller nettbrett.
        </p>
        <p class="text-section">
          For en bedriftsnettside er det mye større behov for god synlighet,
          serversikkerhet og mobilvennlighet. En nettside kodet fra bunnen av
          gir deg full kontroll over
        </p>
        <div class="list">
          <ul>
            <li>Serversikkerhet</li>
            <li>Design, struktur og oppsett</li>
            <li>Hastighet og brukervennlighet</li>
            <li>Synlighet og søkemotoroptimalisering</li>
          </ul>
        </div>
        <p class="text-section">
          Sammenlignet med sider som blir laget med ferdigstilte maler, som de
          designet på Wordpress eller Wix, krever en nettside kodet fra bunnen
          av mer spesifikk kompetanse, oppmerksomhet til detaljer og veldig mye
          tid.
        </p>
        <p class="text-section">
          Men hvert minutt og kroner du investerer på å en hjemmseide kodet fra
          bunnen av får du tilbake i kvalitet, funksjonalitet og forutsigbarhet.
          Du ender opp med en stabil, sikker og robust nettside som presterer
          optimalt og som kan også ha en positiv effekt på din økonomisk
          bunnlinje.
        </p>
      </article>
      <div class="buttons">
        <a href="#kontakt" class="btn cta shadow"
          ><p>Book et uforpliktet møte</p></a
        >
        <a href="#kontakt" class="btn cta-2 shadow"
          ><p>Be om pris på hjemmeside</p></a
        >
      </div>
    </div>
  </div>
</section>
<section
  class="usp-cards"
  aria-labelledby="usp-cards-title"
  id="bedrifthjemmeside"
>
  <div class="usp-cards-wrapper">
    <div class="titles">
      <p class="subtitle">Hvorfor du trenger</p>
      <h2 class="subtitle-gradient blue" id="usp-cards-title">
        Hjemmeside for bedriften
      </h2>
    </div>
    <div class="cards">
      <div class="card">
        <div class="image">
          <img
            [src]="
              sanitizeImageUrl(
                '../../../../assets/Images/Tjenester/Tjeneste/Utvikling/Hjemmeside/lokal bedrift eier med som sitter i telefonen.jpg'
              )
            "
            alt=""
          />
        </div>
        <div class="content">
          <h3>Økt synlighet</h3>
          <p>
            Det første organiske resultatet i Google får 31% av alle klikkene og
            de fem første står for 67% av dem.
          </p>
          <p>Kun 0,78% av Googlesøkerne klikker på noe fra side nr. 2.</p>
          <p>
            Nettsidene vi koder fokuserer mye på de faktorene som har mest
            betydning for å ranger høyt på Google, som skriftlig innhold,
            mobilvennlighet, sidehastighet og sikkerhet.
          </p>
        </div>
      </div>
      <div class="card">
        <div class="image">
          <img
            [src]="
              sanitizeImageUrl(
                '../../../../assets/Images/Tjenester/Tjeneste/Utvikling/Hjemmeside/Hjemmeside for restaurant.jpg'
              )
            "
            alt=""
          />
        </div>
        <div class="content">
          <h3>Ekspertise</h3>
          <p>
            Med over 10-års erfaring innen koding og design kan vi levere
            høykvalitets, sikre og robuste nettsider til en realistisk og
            fornuftig pris.
          </p>
          <p>
            Moderna Media bruker teknologi som SPA-rammeverk, Angular Universal
            og Server side rendering tilsvarende sider som finn.no, google og
            facebook.
          </p>
          <p>
            Alt vi leverer er bygget fra bunnen av, med drømmekundene dine i
            fokus og vår 100% fornøyelsesgaranti.
          </p>
        </div>
      </div>
      <div class="card">
        <div class="image">
          <img
            [src]="
              sanitizeImageUrl(
                '../../../../assets/Images/Tjenester/Tjeneste/Utvikling/Hjemmeside/Liten bedrift med bakeri som trenger digitale tjenester.jpg'
              )
            "
            alt=""
          />
        </div>
        <div class="content">
          <h3>Effekt på bunnlinjen</h3>
          <p>
            Når du øker din synlighet på Google, øker du også trafikken siden
            din. Blir siden bygd med tanke på å konvertere besøkende til kunder,
            vil effekten positivt påvirke omsetningen.
          </p>
          <p>
            En nettside som fokuserer på sikkerhet og tar hensyn til
            personopplysningsloven hjelper også deg å beskyte din bedrift mot
            data angrep og eventuelle økonomiske straff knyttet til GDPR-brud.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="usp-info" aria-labelledby="usp-info-title">
  <div class="usp-info-wrapper">
    <div class="header">
      <img
        src="../../../../assets/Images/Icons/tjenester/services/customer.svg"
        alt=""
      />
      <h2 class="subtitle-gradient" id="usp-info-title">
        Kundene forventere en hjemmeside
      </h2>
    </div>
    <div class="content">
      <p>
        Dersom du vil vise verden at du tar virksomhten på alvor er det på tide
        å investere i en proffesjonell nettside for bedriften. I en tid hvor
        flere enn 50% av smarttelefonbrukere oppdager en ny bedrift eller et
        produkt når de søker på telefoen lønner det seg å ha en hjemmeside.
        Ifølge en studie dømmer 75% av brukerne en bedrift basert på
        hjemmesidens design. En kunde er mer sannsynlig til å handle hos en
        bedrift de føler de kan stole på å ha en nettside er et steg i prosessen
        mot å bygge et godt forhold mellom bedriften og kunden.
      </p>
    </div>
  </div>
</section>

<section class="process" aria-labelledby="process-title" id="neste-steg">
  <div class="wrapper">
    <div class="image">
      <img
        [src]="
          sanitizeImageUrl(
            '../../../../assets/Images/Tjenester/Tjeneste/Utvikling/Hjemmeside/Dine neste steg mot bedrift nettside.jpg'
          )
        "
        alt="Digitalbyrå som jobber med bedrift nettsider og design"
      />
    </div>
    <div class="content">
      <div class="content-wrapper">
        <div class="titles">
          <h2 class="title" id="process-title">
            Våre neste steg mot hjemmeside for bedriften din
          </h2>
          <p class="innhold">
            For å få en god forståelse av deres krav og behov ønsker vi at dere
            tar kontakt for et uforpliktet møte. Men det er også mulig å be om
            et prisforslag. Uavhengig av hvilken kontakt metode du ønsker å
            bruke så kan vi ta dine neste steg mot en hjemmeside og ha første
            utkast klar innen 1 uke.
          </p>
        </div>
        <div class="liste">
          <div class="point">
            <div class="number">1</div>
            <div class="point-content">
              <p class="point-title">Kontakt oss</p>
              <p class="point-text">
                Klikker du knappen for et uforpliktet møte vil vi ringe deg opp
                snarest eller kontakte deg på mail basert på din preferanse.
                Ønsker du et tilbud må du fylle ut alle feltene slik at vi kan
                få en god forståelse av dine ønsker og behov.
              </p>
            </div>
          </div>
          <div class="point">
            <div class="number">2</div>
            <div class="point-content">
              <p class="point-title">Vi kontakter deg</p>
              <p class="point-text">
                Etter en gjennomgang av krav tegner vi opp en plan og diskuterer
                med deg. Deretter gjør vi iterative endringer slik at vi kan
                låse planen før vi starter utviklingsprossesen.
              </p>
            </div>
          </div>
          <div class="point">
            <div class="number">3</div>
            <div class="point-content">
              <p class="point-title">Leveranse</p>
              <p class="point-text">
                Gjennom utviklingsprossessen vil vi kjøre minimum ukentlige
                opdateringer slik at du blir inkludert i prosessen. Dersom du
                under noen steg av prosessen ikke skulle være fornøyd så har vi
                en 100% fornøyd garanti som sier at du kan kansellere oppdraget
                når som helst.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section
  class="usp-card-list"
  aria-labelledby="usp-list-title"
  id="inkluderte-tjenester"
>
  <div class="usp-list-wrapper">
    <div class="header">
      <p class="subtitle">Våre gratis inkluderte tjenester</p>
      <h2 class="subtitle-gradient blue" id="usp-list-title">
        Alle våre for hjemmesider inkluderer disse tjenestene helt gratis
      </h2>
    </div>
    <div class="cards">
      <div class="card">
        <img
          [src]="
            sanitizeImageUrl(
              '../../../../assets/Images/Icons/tjenester/services/utvikling/google analytics.svg'
            )
          "
          alt=""
          class="icon"
        />
        <h3 class="usp-card-title">Google analytics oppsett</h3>
        <p>
          Alle våre nettsider kommer inkludert med google analytics oppsett.
          Helt gratis.
        </p>
      </div>
      <div class="card">
        <img
          [src]="
            sanitizeImageUrl(
              '../../../../assets/Images/Icons/tjenester/services/utvikling/google my business.svg'
            )
          "
          alt=""
          class="icon"
        />
        <h3 class="usp-card-title">Google my business</h3>
        <p>
          Vi setter opp google my business dersom du ikke allerede har det. Helt
          gratis.
        </p>
      </div>
      <div class="card">
        <img
          [src]="
            sanitizeImageUrl(
              '../../../../assets/Images/Icons/tjenester/services/utvikling/page-speed.svg'
            )
          "
          alt=""
          class="icon"
        />
        <h3 class="usp-card-title">Optimering</h3>
        <p>
          Vi optimerer og komprimerer alle bildene dine for best mulig
          opplevelse på hjemmesiden til bedriften din. Helt gratis.
        </p>
      </div>
      <div class="card">
        <img
          [src]="
            sanitizeImageUrl(
              '../../../../assets/Images/Icons/tjenester/services/utvikling/serveroppsett.svg'
            )
          "
          alt=""
          class="icon"
        />
        <h3 class="usp-card-title">Server oppsett</h3>
        <p>
          Vi setter opp server og kopler domenet ditt mot nettsiden. Helt
          gratis.
        </p>
      </div>
      <div class="card">
        <img
          [src]="
            sanitizeImageUrl(
              '../../../../assets/Images/Icons/tjenester/services/utvikling/ssl.svg'
            )
          "
          alt=""
          class="icon"
        />
        <h3 class="usp-card-title">TLS sikkerhet</h3>
        <p>SSL-sertifikat er inkludert i alle våre nettsider. Helt gratis.</p>
      </div>
      <div class="card">
        <img
          [src]="
            sanitizeImageUrl(
              '../../../../assets/Images/Icons/tjenester/services/utvikling/teknisk_seo.svg'
            )
          "
          alt=""
          class="icon"
        />
        <h3 class="usp-card-title">Teknisk SEO</h3>
        <p>
          Vi tilrettelegger og bygger opp nettsiden for grunnleggende teknisk
          SEO. Helt gratis.
        </p>
      </div>
      <div class="card">
        <img
          [src]="
            sanitizeImageUrl(
              '../../../../assets/Images/Icons/tjenester/services/utvikling/vedlikehold.svg'
            )
          "
          alt=""
          class="icon"
        />
        <h3 class="usp-card-title">Vedlikehold</h3>
        <p>
          Vi vedlikeholder serveren og oppdaterer nettside ved sikkerhetshull.
          Helt gratis.
        </p>
      </div>
    </div>
  </div>
</section>

<section class="prices" aria-labelledby="prices-title" id="priser">
  <div class="wrapper">
    <div class="titles">
      <p class="subtitle">Verdi for pengene</p>
      <h2 class="subtitle-gradient blue" id="prices-title">
        Våre priser på hjemmeside for bedriften.
      </h2>
      <!-- <p class="content">
        Vi starter alle prosesser med et budsjettmøte hvor vi blir enige om krav
        og ønsker.
      </p> -->
    </div>
    <div class="prices-wrapper">
      <div class="price-component">
        <div class="img-wrapper">
          <img
            [src]="
              sanitizeImageUrl(
                '../../../../assets/Images/Tjenester/Tjeneste/Utvikling/Hjemmeside/Ensom barista som selger kaffe.webp'
              )
            "
            alt="Logo for liten bedrift som henger på skilt"
          />
          <h3 class="usp-title">En-siders hjemmeside</h3>
        </div>
        <div class="content-wrapper">
          <ul class="usp-list">
            <li class="usp">
              <img
                [src]="
                  sanitizeImageUrl(
                    '../../../../assets/Images/Icons/home/check-mark.svg'
                  )
                "
                alt=""
              />
              <p class="usp-text">For bedrifter i oppstartsfasen</p>
            </li>
            <li class="usp">
              <img
                [src]="
                  sanitizeImageUrl(
                    '../../../../assets/Images/Icons/home/check-mark.svg'
                  )
                "
                alt=""
              />
              <p class="usp-text">Google my business</p>
            </li>
            <li class="usp">
              <img
                [src]="
                  sanitizeImageUrl(
                    '../../../../assets/Images/Icons/home/check-mark.svg'
                  )
                "
                alt=""
              />
              <p class="usp-text">Google analytics</p>
            </li>
          </ul>
          <div class="info">
            <p>
              En enkel hjemmeside med en side, ingen navigasjon og ingen logisk
              funksjonalitet starter på 10.000kr. Dette passer for små bedrifter
              i oppstartsfasen som ønsker synlighet på nett eller et sted hvor
              kunder kan finne kort informasjon om bedriften din.
            </p>
          </div>
          <div class="price">
            <p>Fra 10.000kr</p>
          </div>
        </div>
      </div>
      <div class="price-component">
        <div class="img-wrapper">
          <img
            [src]="
              sanitizeImageUrl(
                '../../../../assets/Images/Tjenester/Tjeneste/Utvikling/Hjemmeside/Liten bedrift med bakeri som trenger digitale tjenester.jpg'
              )
            "
            alt="Liten bedrift som blant annet restaurant"
          />
          <h3 class="usp-title">Enkel flersiders hjemmeside</h3>
        </div>
        <div class="content-wrapper">
          <ul class="usp-list">
            <li class="usp">
              <img
                [src]="
                  sanitizeImageUrl(
                    '../../../../assets/Images/Icons/home/check-mark.svg'
                  )
                "
                alt=""
              />
              <p class="usp-text">For små bedrifter</p>
            </li>
            <li class="usp">
              <img
                [src]="
                  sanitizeImageUrl(
                    '../../../../assets/Images/Icons/home/check-mark.svg'
                  )
                "
                alt=""
              />
              <p class="usp-text">Google my business</p>
            </li>
            <li class="usp">
              <img
                [src]="
                  sanitizeImageUrl(
                    '../../../../assets/Images/Icons/home/check-mark.svg'
                  )
                "
                alt=""
              />
              <p class="usp-text">Google analytics</p>
            </li>
          </ul>
          <div class="info">
            <p>
              For små etablerte bedrifter anbefaler vi hjemmesider med flere
              sider og navigasjon slik at vi videre kan bygge opp nettsiden
              ettersom bedriften vokser. Disse hjemmesidene innholder som regel
              informasjon om bedriften, kontakt informasjon og google maps
              integrasjon.
            </p>
          </div>
          <div class="price">
            <p>Fra 22.000kr</p>
          </div>
        </div>
      </div>
      <div class="price-component">
        <div class="img-wrapper">
          <img
            [src]="
              sanitizeImageUrl(
                '../../../../assets/Images/Tjenester/Tjeneste/Utvikling/Hjemmeside/komplett hjemmeside for bedrift som driver restaurant.jpg'
              )
            "
            alt="Søkemotor optimalisering eller SEO for bedrifter"
          />
          <h3 class="usp-title">Komplett hjemmeside</h3>
        </div>
        <div class="content-wrapper">
          <ul class="usp-list">
            <li class="usp">
              <img
                [src]="
                  sanitizeImageUrl(
                    '../../../../assets/Images/Icons/home/check-mark.svg'
                  )
                "
                alt=""
              />
              <p class="usp-text">For Etablerte bedrifter</p>
            </li>
            <li class="usp">
              <img
                [src]="
                  sanitizeImageUrl(
                    '../../../../assets/Images/Icons/home/check-mark.svg'
                  )
                "
                alt=""
              />
              <p class="usp-text">Google my business</p>
            </li>
            <li class="usp">
              <img
                [src]="
                  sanitizeImageUrl(
                    '../../../../assets/Images/Icons/home/check-mark.svg'
                  )
                "
                alt=""
              />
              <p class="usp-text">Google analytics</p>
            </li>
          </ul>
          <div class="info">
            <p>
              En standard hjemmeside inkluderer det de fleste bedrifter har
              behov for. Denne pakken bygger på SPA-teknologi og server-side
              rendering for å oppnå best mulig søkemotoroptimalisering for deg
              og bedriften din. Navigasjon vil foregå sømløst og nettsiden vil
              bli bygget på samme måte som hjemmesiden til Moderna Media.
            </p>
          </div>
          <div class="price">
            <p>Fra 50.000kr</p>
          </div>
        </div>
      </div>
      <div class="price-component">
        <div class="img-wrapper">
          <img
            [src]="
              sanitizeImageUrl(
                '../../../../assets/Images/Tjenester/Tjeneste/Utvikling/Hjemmeside/kompleks hjemmeside med banebrytende teknologi i utvikling.jpg'
              )
            "
            alt="Søkemotor optimalisering eller SEO for bedrifter"
          />
          <h3 class="usp-title">Kompleks hjemmeside</h3>
        </div>
        <div class="content-wrapper">
          <ul class="usp-list">
            <li class="usp">
              <img
                [src]="
                  sanitizeImageUrl(
                    '../../../../assets/Images/Icons/home/check-mark.svg'
                  )
                "
                alt=""
              />
              <p class="usp-text">For større bedrifter</p>
            </li>
            <li class="usp">
              <img
                [src]="
                  sanitizeImageUrl(
                    '../../../../assets/Images/Icons/home/check-mark.svg'
                  )
                "
                alt=""
              />
              <p class="usp-text">Google my business</p>
            </li>
            <li class="usp">
              <img
                [src]="
                  sanitizeImageUrl(
                    '../../../../assets/Images/Icons/home/check-mark.svg'
                  )
                "
                alt=""
              />
              <p class="usp-text">Google analytics</p>
            </li>
          </ul>
          <div class="info">
            <p>
              Større bedrifter har ofte større behov. Blant annet inkluderer
              denne pakken blogg modul og SPA-teknologi. Tjenesten inkluderer
              også en database og kopling mot SMS og E-post system. Ettersom
              hver bedrift er forskjellig og har ulike krav er startprisen på
              pakken 115.000kr.
            </p>
          </div>
          <div class="price">
            <p>Fra 115.000kr</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<app-about-your-next-project></app-about-your-next-project>
