@use "src/variables" as *;

@media screen and (min-width: 780px) {
  section {
    .bg-img {
      .shadow-overlay {
        //   background: linear-gradient(
        //     0deg,
        //     rgb(238, 238, 238, 1) 0%,
        //     rgba(238, 238, 238, 0.5) 10%,
        //     rgba(238, 238, 238, 0) 100%
        //   );
        //   height: 100%;
        //   width: 100%;
        //   object-fit: cover;
        //   position: absolute;
        //   z-index: 1;
      }
      img {
        mix-blend-mode: normal;
      }
    }
  }

  section .content {
    .header-text {
      h1 {
        font-size: 8rem;
        text-shadow: 0px 0px 15px rgba(51, 51, 51, 1);
        span:nth-child(2) {
          text-align: left;
        }
      }
    }
    .usp-wrapper {
      position: absolute;
      bottom: 0;
      display: flex;
      justify-content: space-between;
      align-items: baseline;
      flex-direction: row;
      width: 100%;
    }
    .usp-container {
      color: $light;
      &.dark-usp {
        color: $dark;
        img {
          filter: invert(0.1);
        }
      }
      padding: 5px 10px;
      &:nth-child(n + 30) {
        display: none;
      }
      .usp-inner-container {
        border-bottom: 3px solid $blue;
        display: flex;
        padding-bottom: 5px;
      }
      img {
        height: 64px;
        filter: invert(1);
      }
      .usp {
        width: 175px;
        padding-left: 10px;
        display: flex;
        justify-content: space-evenly;
        align-items: stretch;
        flex-direction: column;
        h6 {
          font-size: 1rem;
        }
        p {
          font-size: 0.8rem;
        }
      }
    }
  }
}
@media screen and (min-width: 780px) {
  .usp-container {
    &:nth-child(n + 4) {
      display: none;
    }
  }
  .usp-wrapper-mobile {
    justify-content: space-between;
    .usp-container-mobile {
      margin: 10px 10px;
      width: 30%;
      max-width: 250px;
      &:nth-last-child(n + 4) {
        display: none;
      }
    }
  }
}

@media screen and (min-width: 900px) {
  section .content {
    .header-text {
      h1 {
        font-size: 10rem;
        text-shadow: 0px 0px 15px rgba(51, 51, 51, 1);
        span:nth-child(2) {
          text-align: left;
        }
      }
    }
  }
}

@media screen and (min-width: 1030px) {
  .usp-container {
    &:nth-child(n) {
      display: block;
    }
    &:nth-child(n + 5) {
      display: none;
    }
  }
  .usp-wrapper-mobile {
    // background-color: $light;
    // justify-content: space-evenly;
    // .usp-container-mobile {
    //   display: block;
    //   &:nth-last-child(n + 3) {
    //     display: none;
    //   }
    // }
    display: none;
  }
}
@media screen and (min-width: 1280px) {
  .usp-container {
    &:nth-child(n) {
      display: block;
    }
    &:nth-child(n + 6) {
      display: none;
    }
  }
  .usp-wrapper-mobile {
    display: none;
  }
}
@media screen and (min-width: 1530px) {
  .usp-container {
    &:nth-child(n) {
      display: block;
    }
    &:nth-child(n + 7) {
      display: none;
    }
  }
}
@media screen and (min-width: 1780px) {
  .usp-container {
    &:nth-child(n) {
      display: block;
    }
  }
}

