@import "../../../../variables.scss";
@media screen and (min-width: $tablet) {
  section.prices-section {
    .wrapper header.prices-section-header .header-content {
      width: 60%;
    }
    .price-container {
      margin-top: 30px;
      @include flexR;
      flex-wrap: wrap;
      justify-content: space-between;
    }
    .price-box {
      margin: 2rem auto;
      box-shadow: $elevation-3;
      max-width: 450px;
      min-width: 325px;
      min-height: 640px;
    }
  }
}

@media screen and (min-width: 1280px) {
  section.prices-section .price-box {
    max-width: 515px;
  }
}
