<section class="prices">
  <div class="wrapper">
    <div class="titles">
      <p class="subtitle">Verdi for pengene</p>
      <h2 class="title">Våre priser.</h2>
      <p class="content">
        Vi starter alle prosesser med et budsjettmøte hvor vi blir enige om krav
        og ønsker.
      </p>
    </div>
    <div class="prices-wrapper">
      <div class="price-component">
        <div class="img-wrapper">
          <img
            [src]="
              sanitizeImageUrl(
                '../../../../assets/Images/Home/prices/400/logo-design-for-liten-bedrift-nettside.webp'
              )
            "
            alt="Logo for liten bedrift som henger på skilt"
          />
          <h3 class="usp-title">Design</h3>
        </div>
        <div class="content-wrapper">
          <ul class="usp-list">
            <li class="usp">
              <img
                [src]="
                  sanitizeImageUrl(
                    '../../../../assets/Images/Icons/home/check-mark.svg'
                  )
                "
                alt=""
              />
              <p class="usp-text">Helt egendefinert</p>
            </li>
            <li class="usp">
              <img
                [src]="
                  sanitizeImageUrl(
                    '../../../../assets/Images/Icons/home/check-mark.svg'
                  )
                "
                alt=""
              />
              <p class="usp-text">Alle filer inkludert</p>
            </li>
            <li class="usp">
              <img
                [src]="
                  sanitizeImageUrl(
                    '../../../../assets/Images/Icons/home/check-mark.svg'
                  )
                "
                alt=""
              />
              <p class="usp-text">Gjennomgang av designprosess</p>
            </li>
            <li class="usp">
              <img
                [src]="
                  sanitizeImageUrl(
                    '../../../../assets/Images/Icons/home/check-mark.svg'
                  )
                "
                alt=""
              />
              <p class="usp-text">Følger vitenskapelige prinsipper</p>
            </li>
          </ul>
          <div class="info">
            <p>
              Vi leverer en rekke ulike produkter innenfor design. blant annet
              web design, logo design og generell markedsføringsmateriell. Alle
              produkter har ulik pris basert på budsjett og krav.
            </p>
          </div>
          <div class="price">
            <p>Fra 2.500kr</p>
          </div>
        </div>
      </div>
      <div class="price-component">
        <div class="img-wrapper">
          <img
            [src]="
              sanitizeImageUrl(
                '../../../../assets/Images/Home/prices/400/datasystem-for-bedrift-som-blant-annet-restaurant.webp'
              )
            "
            alt="Liten bedrift som blant annet restaurant"
          />
          <h3 class="usp-title">Nettsider og system</h3>
        </div>
        <div class="content-wrapper">
          <ul class="usp-list">
            <li class="usp">
              <img
                [src]="
                  sanitizeImageUrl(
                    '../../../../assets/Images/Icons/home/check-mark.svg'
                  )
                "
                alt=""
              />
              <p class="usp-text">TLS sikkerhet</p>
            </li>
            <li class="usp">
              <img
                [src]="
                  sanitizeImageUrl(
                    '../../../../assets/Images/Icons/home/check-mark.svg'
                  )
                "
                alt=""
              />
              <p class="usp-text">Bygget inhouse</p>
            </li>
            <li class="usp">
              <img
                [src]="
                  sanitizeImageUrl(
                    '../../../../assets/Images/Icons/home/check-mark.svg'
                  )
                "
                alt=""
              />
              <p class="usp-text">Server oppsett & vedlikehold</p>
            </li>
            <li class="usp">
              <img
                [src]="
                  sanitizeImageUrl(
                    '../../../../assets/Images/Icons/home/check-mark.svg'
                  )
                "
                alt=""
              />
              <p class="usp-text">Support når du trenger</p>
            </li>
          </ul>
          <div class="info">
            <p>
              Vi leverer system og nettsider for store og små bedrifter.
              Ettersom krav og behov varierer i stor grad er det også vanskelig
              å prissette disse produktene på forhånd. Derfor starter vi alle
              prosesser med et budsjett møte.
            </p>
          </div>
          <div class="price">
            <p>Fra 10.000kr</p>
          </div>
        </div>
      </div>
      <div class="price-component">
        <div class="img-wrapper">
          <img
            [src]="
              sanitizeImageUrl(
                '../../../../assets/Images/Home/prices/400/SEO-eller-søkemotor-optimalisering-som-markedsføring.webp'
              )
            "
            alt="Søkemotor optimalisering eller SEO for bedrifter"
          />
          <h3 class="usp-title">SEO</h3>
        </div>
        <div class="content-wrapper">
          <ul class="usp-list">
            <li class="usp">
              <img
                [src]="
                  sanitizeImageUrl(
                    '../../../../assets/Images/Icons/home/check-mark.svg'
                  )
                "
                alt=""
              />
              <p class="usp-text">Teknisk SEO</p>
            </li>
            <li class="usp">
              <img
                [src]="
                  sanitizeImageUrl(
                    '../../../../assets/Images/Icons/home/check-mark.svg'
                  )
                "
                alt=""
              />
              <p class="usp-text">Content SEO</p>
            </li>
            <li class="usp">
              <img
                [src]="
                  sanitizeImageUrl(
                    '../../../../assets/Images/Icons/home/check-mark.svg'
                  )
                "
                alt=""
              />
              <p class="usp-text">Off-page SEO</p>
            </li>
            <li class="usp">
              <img
                [src]="
                  sanitizeImageUrl(
                    '../../../../assets/Images/Icons/home/check-mark.svg'
                  )
                "
                alt=""
              />
              <p class="usp-text">Sporbare resultater</p>
            </li>
          </ul>
          <div class="info">
            <p>
              SEO eller søkemotoroptimalisering har blitt et av de viktigste og
              kraftigste verktøyene for markedsføring de siste årene. Det finnes
              flere metoder for å oppnå gratis trafikk. La oss ta en prat å se
              hva som passer deg best!
            </p>
          </div>
          <div class="price">
            <p>Fra 3.000kr</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
