@use "src/variables" as *;

@media screen and (min-width: $tablet) {
  section.prices-section {
    .price-container {
      grid-template-columns: repeat(2, 1fr);
      gap: 28px;
      max-width: 920px;
    }
  }
}

@media screen and (min-width: 1280px) {
  section.prices-section {
    .price-container {
      gap: 32px;
      max-width: 1000px;
    }

    .price-box header {
      height: 220px;

      .header-content-container {
        .price-box-title {
          font-size: 2rem;
        }

        .price-box-content {
          font-size: 1rem;
        }
      }
    }
  }
}
