<section class="prices">
  <div class="wrapper">
    <div class="titles">
      <p class="subtitle">Verdi for pengene</p>
      <h2 class="title">Våre priser.</h2>
      <p class="content">
        Vi starter alle prosesser med et budsjettmøte hvor vi blir enige om krav
        og ønsker.
      </p>
    </div>
    <div class="prices-wrapper">
      <div class="price-component">
        <div class="img-wrapper">
          <img src="../../../../assets/Images/Design/design2.jpg" alt="" />
          <h3 class="usp-title">Design</h3>
        </div>
        <div class="content-wrapper">
          <ul class="usp-list">
            <li class="usp">
              <img
                src="../../../../assets/Images/Icons/home/check-mark.svg"
                alt=""
              />
              <p class="usp-text">Lorem ipsum dolor sit amet.</p>
            </li>
            <li class="usp">
              <img
                src="../../../../assets/Images/Icons/home/check-mark.svg"
                alt=""
              />
              <p class="usp-text">Lorem ipsum dolor sit amet.</p>
            </li>
            <li class="usp">
              <img
                src="../../../../assets/Images/Icons/home/check-mark.svg"
                alt=""
              />
              <p class="usp-text">Lorem ipsum dolor sit amet.</p>
            </li>
            <li class="usp">
              <img
                src="../../../../assets/Images/Icons/home/check-mark.svg"
                alt=""
              />
              <p class="usp-text">Lorem ipsum dolor sit amet.</p>
            </li>
          </ul>
          <div class="info">
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere
              eos rerum ea in accusantium soluta est possimus dolore id
              quibusdam?
            </p>
          </div>
          <div class="price">
            <p>Fra 100.000kr</p>
          </div>
        </div>
      </div>
      <div class="price-component">
        <div class="img-wrapper">
          <img
            src="../../../../assets/Images/Utvikling/Utvikling/Web utvikling oslo.webp"
            alt=""
          />
          <h3 class="usp-title">Nettsider og system</h3>
        </div>
        <div class="content-wrapper">
          <ul class="usp-list">
            <li class="usp">
              <img
                src="../../../../assets/Images/Icons/home/check-mark.svg"
                alt=""
              />
              <p class="usp-text">Lorem ipsum dolor sit amet.</p>
            </li>
            <li class="usp">
              <img
                src="../../../../assets/Images/Icons/home/check-mark.svg"
                alt=""
              />
              <p class="usp-text">Lorem ipsum dolor sit amet.</p>
            </li>
            <li class="usp">
              <img
                src="../../../../assets/Images/Icons/home/check-mark.svg"
                alt=""
              />
              <p class="usp-text">Lorem ipsum dolor sit amet.</p>
            </li>
            <li class="usp">
              <img
                src="../../../../assets/Images/Icons/home/check-mark.svg"
                alt=""
              />
              <p class="usp-text">Lorem ipsum dolor sit amet.</p>
            </li>
          </ul>
          <div class="info">
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere
              eos rerum ea in accusantium soluta est possimus dolore id
              quibusdam?
            </p>
          </div>
          <div class="price">
            <p>Fra 100.000kr</p>
          </div>
        </div>
      </div>
      <div class="price-component">
        <div class="img-wrapper">
          <img
            src="../../../../assets/Images/Components/Info-and-image/top-angle-view-male-web-designer-work.webp"
            alt=""
          />
          <h3 class="usp-title">SEO</h3>
        </div>
        <div class="content-wrapper">
          <ul class="usp-list">
            <li class="usp">
              <img
                src="../../../../assets/Images/Icons/home/check-mark.svg"
                alt=""
              />
              <p class="usp-text">Lorem ipsum dolor sit amet.</p>
            </li>
            <li class="usp">
              <img
                src="../../../../assets/Images/Icons/home/check-mark.svg"
                alt=""
              />
              <p class="usp-text">Lorem ipsum dolor sit amet.</p>
            </li>
            <li class="usp">
              <img
                src="../../../../assets/Images/Icons/home/check-mark.svg"
                alt=""
              />
              <p class="usp-text">Lorem ipsum dolor sit amet.</p>
            </li>
            <li class="usp">
              <img
                src="../../../../assets/Images/Icons/home/check-mark.svg"
                alt=""
              />
              <p class="usp-text">Lorem ipsum dolor sit amet.</p>
            </li>
          </ul>
          <div class="info">
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere
              eos rerum ea in accusantium soluta est possimus dolore id
              quibusdam?
            </p>
          </div>
          <div class="price">
            <p>Fra 100.000kr</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
