<section class="moderna-media-home">
  <div class="background-image">
    <!-- <video
      src="../../../assets/Videos/Pexels Videos 2435376.mp4"
      autoplay
      loop
    ></video> -->
    <!-- <img src="../../../assets/Images/Landingpage/Landing/Barcode.jpg" alt="" /> -->
    <img
      src="../../../assets/Images/Landingpage/Tjenester/moderne design teknologi.jpg"
      alt=""
    />
    <!-- <img src="../../../assets/Images/Landingpage/Landing/Barcode3.jpg" alt="" /> -->
    <div class="radial-gradient"></div>
  </div>
  <div class="content">
    <div class="logo">
      <!-- <img src="../../assets/Images/Logo/SVG/LOGO LIGHT.svg" alt="" /> -->
      <img
        src="../../../assets/Images/Logo/SVG/LOGO - UPPER - LIGHT.svg"
        alt=""
      />
    </div>
    <div class="info">
      <div class="headers">
        <h1>
          <span> moderniserer </span>
          <span> bedriften </span>
        </h1>
      </div>
      <div class="info-text">
        <p>
          Ditt digitalbyrå for moderne løsninger innenfor web utvikling, design
          og SEO
        </p>
      </div>
      <div class="cta-buttons">
        <a href="#tjenester" class="btn light borderless shadow">Løsninger</a>
        <button class="btn cta gradient shadow">
          Book et uforpliktende møte
        </button>
      </div>
      <div class="logo">
        <img
          src="../../../assets/Images/Logo/SVG/LOGO - LOWER - LIGHT.svg"
          alt=""
        />
      </div>
    </div>
  </div>
</section>
