@import "src/variables.scss";

section.moderna-media-home {
  position: relative;
  min-height: 100vh;
  height: auto;
  .banner {
    position: relative;
    height: 400px;
    img.banner-img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
    .title {
      position: absolute;
      @include aAbs;
      color: $light;
      text-transform: uppercase;
      font-weight: 900;
      font-size: 4.1rem;
      opacity: 0.5;
    }
  }
}

section.moderna-media-home {
  .contents {
    .info {
      padding: $padding-component-top $padding-component-side;
      .page-title {
        text-transform: uppercase;
        font-weight: 900;
        font-family: $ff-article;
        color: $dark;
        span {
          color: $blue;
        }
      }
      .content,
      .buttons {
        padding: $padding-component-top 0;
      }
      .buttons {
        height: 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        a {
          height: 40px;
        }
      }
    }
  }
  .contents {
    .services {
      padding-bottom: $padding-section-top;
      .service {
        margin-bottom: $padding-component-top;
        height: 100px;
        width: 100%;
        position: relative;
        a {
          position: absolute;
          height: 100px;
          width: 100%;
          overflow: hidden;
          &:hover {
            img {
              transform: scale(1.25);
            }
          }
        }
        .bg {
          height: 100px;
          width: 100%;
          background-color: rgb(198, 195, 185);
          position: absolute;
          pointer-events: none;
        }
        img {
          transition: all 0.2s;
          pointer-events: none;
          height: 100px;
          width: 100%;
          object-fit: cover;
          position: absolute;
          z-index: 1;
          mix-blend-mode: multiply;
        }
        p {
          position: absolute;
          z-index: 2;
          @include aAbs;
          text-transform: uppercase;
          font-size: 3rem;
          color: $light;
          text-shadow: $text-shadow;
          font-weight: 900;
          pointer-events: none;
        }
      }
    }
  }
}
