@import "src/variables.scss";

.moderna-media-home {
  min-height: 100vh;
  position: relative;
  .background-image {
    height: 100%;
    width: 100%;
    background: $dark;
    position: absolute;
    z-index: -1;
    img,
    video {
      object-fit: cover;
      height: 100%;
      width: 100%;
    }
    .radial-gradient {
      background: radial-gradient(
        circle,
        rgba(51, 51, 51, 0.5) 0%,
        rgba(51, 51, 51, 0) 100%
      );
      object-fit: cover;
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
    }
  }
  .content {
    padding: 50px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 100%;

    color: $light;

    .logo {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      img {
        height: auto;
        width: 100%;
        max-width: 750px;
        mix-blend-mode: overlay;
      }
    }
    .info {
      h1,
      h2 {
        border-top: 4px solid $light;
        border-bottom: 4px solid $light;
        text-transform: uppercase;
        font-weight: 300;
        font-size: 2rem;
        text-shadow: $text-shadow;
        text-align: center;
        letter-spacing: 15px;
        padding: 5px 0;

        display: flex;
        justify-items: center;
        align-items: center;
        flex-direction: column;
      }
      .info-text {
        padding: 10px 25px;
        text-align: center;
        max-width: 750px;
        p {
          text-shadow: $text-shadow;
          font-size: 1.5rem;
          font-weight: 100;
          font-family: $ff-primary;
        }
      }
      .cta-buttons {
        padding: 10px 25px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
      }
    }
  }
}
