<section class="moderna-media-home">
  <div class="banner">
    <img
      class="banner-img"
      src="{{
        imageCdn
      }}../../../assets/Images/Landingpage/Landing/nettside for bedrift utvikling.webp?width={{
        vw
      }}"
      alt="Digitalbyrå med ekspertise innenfor webutvikling, design og seo"
    />
    <p class="title"><span>Moderna </span><span>media</span></p>
  </div>
  <div class="contents">
    <div class="info">
      <h1 class="page-title">
        Et <span>digitalbyrå</span> med spesialitet innenfor nettsider, design
        og seo for bedrifter
      </h1>
      <p class="content">
        Moderna media er et digitalbyrå med eksperter innenfor webutvikling,
        design og Søkemotoroptimalisering. Det vil si at vi kan tilby en
        komplett pakke for en bedrift nettside hvor både webutvikling og
        webdesign foregår på et sted.
      </p>
      <p class="content">
        Selv om vi er eksperter hjemmesider jobber vi også med grafisk design,
        logo design og content SEO. Leter du etter noe som ikke står på listen
        eller ønsker du å høre mer? Ta kontakt for et uforpliktet møte!
      </p>
      <div class="buttons">
        <a class="btn light borderless" href="#tjenester" hreflang="no-nb"
          >Tjenester</a
        >
        <button class="btn gradient cta" (click)="ToggleCTA()">
          Book et uforpliktet møte
        </button>
      </div>
    </div>
    <div class="services">
      <div class="service">
        <a
          href="/utvikling"
          hreflang="no-nb"
          title="Utvikling av nettsider og system"
        >
          <img
            src="{{
              imageCdn
            }}../../../assets/Images/Landingpage/Landing/Nettsider for bedrifter.webp?height=400"
            alt="Utvikling av nettsider og systemer for bedrifter"
          />
        </a>
        <p>Utvikling</p>
        <div class="bg"></div>
      </div>
      <div class="service">
        <a
          href="/design"
          hreflang="no-nb"
          title="Grafisk design, webdesign og logo design"
        >
          <img
            src="{{
              imageCdn
            }}../../../assets/Images/Landingpage/Landing/Grafisk design og web design.webp?height=400"
            alt="Grafisk design, web design og logo design for bedrifter"
          />
          <p>Design</p>
          <div class="bg"></div>
        </a>
      </div>
      <div class="service">
        <a
          href="/seo"
          hreflang="no-nb"
          title="Søkemotoroptimalisering, google analytics og google min bedrift"
        >
          <img
            src="{{
              imageCdn
            }}../../../assets/Images/Landingpage/Landing/SEO for bedrift nettsider.webp?height=400"
            alt="Søkemotoroptimalisering og SEO for bedrifter"
          />
          <p>Seo</p>
          <div class="bg"></div>
        </a>
      </div>
    </div>
  </div>
</section>
