@import "./variables.scss";

.btn.shadow {
  box-shadow: $box-shadow-btn;
}

.hidden {
  display: none;
}

.transition-bottom {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  &.transition-light {
    background: linear-gradient(
      0deg,
      rgba(51, 51, 51, 1) 0%,
      rgba(51, 51, 51, 0.25) 10%,
      rgba(51, 51, 51, 0) 100%
    );
  }
  &.transition-light {
    background: linear-gradient(
      0deg,
      rgba(238, 238, 238, 1) 0%,
      rgba(238, 238, 238, 0.25) 10%,
      rgba(238, 238, 238, 0) 100%
    );
  }
}

.transition-top {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
  &.transition-light {
    background: linear-gradient(
      180deg,
      rgba(51, 51, 51, 1) 0%,
      rgba(51, 51, 51, 0.25) 10%,
      rgba(51, 51, 51, 0) 100%
    );
  }
  &.transition-light {
    background: linear-gradient(
      180deg,
      rgba(238, 238, 238, 1) 0%,
      rgba(238, 238, 238, 0.25) 10%,
      rgba(238, 238, 238, 0) 100%
    );
  }
}
.btn.cta {
}

.btn {
  padding: 0.5rem 2rem;
  transition: all 0.25s ease;
  border-radius: 10px;
  border: none;
  border-radius: 10px;
  font-size: 1rem;

  display: flex;
  justify-content: center;
  align-items: center;
  color: $light;
  &:hover {
    cursor: pointer;
  }
  &.cta {
    font-weight: 400;
    background: $light;
    p {
      font-size: 1rem;
      font-weight: 400;
      @include ctaButtonText;
    }
    &:hover {
      background-color: $light-third;
    }
    &:disabled {
      cursor: no-drop;
    }
  }
  &.cta-2 {
    position: relative;
    box-sizing: border-box;
    background: #0d0e21;
    background-clip: padding-box;
    $border: 2px;
    border: solid $border transparent;
    color: $light;
    p {
      color: $light;
      width: 100%;
      text-align: center;
    }
    &:disabled {
      border: $border solid $toastError;
      cursor: no-drop;
    }
    &:hover {
      background: #121435;
      background-clip: padding-box;
      border: solid $border transparent;
    }
    &:before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: -1;
      margin: -$border;
      border-radius: inherit;
      background: linear-gradient(
        to right,
        #d06b30 0%,
        #c43ad6 50%,
        #30cfd0 100%
      );
    }
  }
  &.gradient {
    background-image: linear-gradient(
      to right,
      rgb(1 134 218),
      rgb(182 49 167)
    );
    border: 0;
    color: rgba(var(--text-color));
    color: $light;
    p {
      color: $light;
    }
  }
  // states
  &:hover {
    cursor: pointer;
  }
}

.g-purple {
  background-color: transparent;
  border: none;
  color: $light;
  background-image: linear-gradient(
    to right,
    $purple-primary 0%,
    $purple-secondary 100%
  );
}
.g-orange {
  background-color: transparent;
  border: none;
  color: $light;
  background-image: linear-gradient(
    to right,
    $orange-primary 0%,
    $orange-secondary 100%
  );
}
.g-blue {
  background-color: transparent;
  border: none;
  color: $light;
  background-image: linear-gradient(
    to right,
    $blue-primary 0%,
    $blue-secondary 100%
  );
}

@keyframes gradient_btn {
  0% {
    background-position: 0% 0%;
  }
  33% {
    background-position: 50% 0%;
  }
  66% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}
@keyframes gradient_btn_hover {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 100% 100%;
  }
}

@keyframes gradient_btn_active {
  0% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 100%;
  }
}
