/* You can add global styles to this file, and also import other style files */
@import "src/variables.scss";

html {
    scroll-behavior: smooth;
}

*, body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body, main { 
    // height: 100%;
    width: 100vw;
    max-width: 100%;
}
body { 
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    overflow-x: hidden;
}

.btn {
    border-radius: 10px;
    &:hover {
        cursor: pointer;
    }
    text-transform: capitalize;
}

.gradient {
    animation-duration: 5s;
    animation-name: gradient_btn;
    animation-iteration-count: infinite;
    background-size: 200% auto;
    &:hover {
        animation-duration: .2s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
        animation-name: gradient_btn_hover;
    }
    &:active {
        animation-duration: .2s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
        animation-name: gradient_btn_active;
    }
}
.dynamic {
    background-image: linear-gradient(to right, $orange-gradient 0%, $blue-gradient 100%);
}
.blue {
    background-image: linear-gradient(to right, $blue-primary 0%, $blue-secondary 100%);
}
.purple {
    background-image: linear-gradient(to right, $purple-primary 0%, $purple-secondary 100%);
}
.orange {
    background-image: linear-gradient(to right, $orange-primary 0%, $orange-secondary 100%);
}


@keyframes gradient_btn {
    0%{background-position:0% 0%}
    33%{background-position:50% 0%}
    66%{background-position:100% 100%}
    100%{background-position:0% 0%}
}
@keyframes gradient_btn_hover {
    0%{background-position:0% 0%}
    100%{background-position:100% 100%}
}

@keyframes gradient_btn_active {
    0%{background-position:100% 100%}
    100%{background-position: 0% 100%}
}


// //Montserrat alt
// @font-face {
//     font-family: "MontserratAlt";
//     src: local("Montserrat") url(./assets/fonts/MontserratAlternates-Regular.ttf) format("truetype");
// }
// @font-face {
//     font-family: "MontserratAltBlack";
//     src: local("Montserrat") url(./assets/fonts/MontserratAlternates-Black.ttf) format("truetype");
// }

h1, h2, h3, h4, h5, h6 {
    font-family: $ff-primary;
}
a, button {
    font-family: $ff-primary;
    font-weight: 700;
    font-size: $font-btn;
}
article, p {
    font-family: $ff-article;
    font-weight: 400;
}
a {
    color: inherit;
    text-decoration: none;
    &:active {
        color: inherit;
    }

    &:hover {
        color: $blue;
    }
}

//Scrollbar

::-webkit-scrollbar {
  width: 12px;
  height: 12px;
  background: transparent;
}
::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
}
::-webkit-scrollbar-thumb {
    background: linear-gradient(229deg, $blue-primary 0%, $blue-secondary 100%);
    border-radius: 50px;
    transition: 1s;
}
::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(229deg, $blue-gradient 0%, $orange-gradient 100%);
}
::-webkit-scrollbar-thumb:active {
    background: linear-gradient(229deg, $blue-secondary 0%, $blue-primary 100%);
}
::-webkit-scrollbar-track {
    background: #666666;
    background: transparent;
  border-radius: 50px;
}
::-webkit-scrollbar-track:hover {
    background: #e7e7e7;
}
::-webkit-scrollbar-track:active {
  background: #c4c4c4;
}
::-webkit-scrollbar-corner {
  background: transparent;
}
