$base-color: #c6538c;
$header-height: 50px;

$orange-gradient: #ff774d;
$blue-gradient: #534dff;

$blue:  #006994;
$blue-primary:  #4D77FF;
$blue-secondary:#275C88;

$purple-primary:  #C637B9;
$purple-secondary:#350B6D;

$lilac-primary:  #6f699b;
$lilac-secondary:#453C9E;

$dark: #333;
$light: #EEEEEE;

$font-sm: 12px;
$font-md: 24px;
$font-lg: 48px;