<section class="about">
  <div class="wrapper">
    <div class="image">
      <img
        [src]="
          sanitizeImageUrl(
            '../../../../assets/Images/Home/about/1280/Moderna media digital byrå i oslo 1.webp'
          )
        "
        alt="Digitalbyrå som jobber med bedrift nettsider og design"
      />
    </div>
    <div class="content">
      <div class="content-wrapper">
        <div class="titles">
          <h2 class="title">Om oss.</h2>
          <p class="innhold">
            Moderna Media er et digitalbyrå med høy kompetanse innenfor
            utvikling av bedriftsnettsider og ikke minst SEO, bedre kjent som
            søkemotoroptimalisering. I tillegg driver vi med design av logo,
            plakater og annet materiell.
          </p>
        </div>
        <div class="liste">
          <div class="point">
            <div class="number">1</div>
            <div class="point-content">
              <p class="point-title">Vår visjon</p>
              <p class="point-text">
                Vår visjon er å levere produkter av topp kvalitet som øker
                omsetningen deres! Våre produkter skal være en investering, ikke
                en kostnad.
              </p>
            </div>
          </div>
          <div class="point">
            <div class="number">2</div>
            <div class="point-content">
              <p class="point-title">Vårt mål</p>
              <p class="point-text">
                Vårt mål er å gjøre hverdagen din og deres kunder enklere. Å
                handle på nett, se menyen til din restaurant eller operere lager
                logistikk skal være smertefritt. Derfor har vi en 100% fornøyd
                garanti.
              </p>
            </div>
          </div>
          <div class="point">
            <div class="number">3</div>
            <div class="point-content">
              <p class="point-title">Hvorfor oss?</p>
              <p class="point-text">
                I motsetning til flere av våre konkurrenter så er vår prioritet
                kvalitet. Derfor tar vi ikke i bruk "templates" eller billige
                design. Alt vi bygger og designer skapes fra bunn. I tilleg kan
                du gjøre forretninger med oss helt risikofritt med vår 100%
                fornøyd garanti.
              </p>
            </div>
          </div>
          <div class="point">
            <div class="number">4</div>
            <div class="point-content">
              <p class="point-title">Vår historie</p>
              <p class="point-text">
                Vi bestemte oss for å opprette Moderna Media da vi så et hull i
                markedet. Det finnes ekstremt mange leverandører som leverer
                nettsider, grafisk design og SEO, men de aller fleste leverer et
                dårlig, eller i beste tilfelle, et middelmådig produkt. Og dette
                til en høy pris! Derfor startet vi Moderna Media, et digitalbyrå
                med fokus på kvalitet og pris.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
