@use "src/variables" as *;

.about {
  padding: 0px;
  padding-top: 60px;
  .wrapper {
    max-width: 1280px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    padding: 0 2rem;
    .image {
      position: relative;
      height: 400px;
      width: 100%;
      img {
        box-shadow: $box-shadow;
        border-radius: 25px;
        object-fit: cover;
        object-position: center;
        width: 100%;
        height: 100%;
        position: absolute;
      }
    }
    .content {
      .content-wrapper {
      }
      .titles {
        padding-top: 2rem;
        .title {
          @include ctaText;
          font-size: 2.5rem;
        }
        .innhold {
          padding-top: 1rem;
          font-weight: 400;
        }
      }
      .liste {
        .point {
          margin-top: 3rem;
          display: flex;
          flex-direction: row;
          flex-wrap: nowrap;
          .number {
            border: 2px solid #54d0ec;
            color: #54d0ec;
            margin-right: 1rem;
            height: 40px;
            min-height: 40px;

            width: 40px;
            min-width: 40px;

            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 500%;
          }
          .point-content {
            .point-title {
              font-weight: 600;
            }
            .point-text {
              padding-top: 1rem;
              font-weight: 400;
            }
          }
        }
      }
    }
  }
}

