<section class="about">
  <div class="wrapper">
    <div class="image">
      <img
        src="../../../../assets/Images/Home/about/digitalbyrå som jobber med bedrift nettsider og design.jpg"
        alt="Digitalbyrå som jobber med bedrift nettsider og design"
      />
    </div>
    <div class="content">
      <div class="content-wrapper">
        <div class="titles">
          <h2 class="title">Om oss.</h2>
          <p class="innhold">
            Vi er et digitalbyrå med vekt på kvalitet over kvantitet. Vi har
            flere års erfaring innenfor utvikling, design og seo
          </p>
        </div>
        <div class="liste">
          <div class="point">
            <div class="number">1</div>
            <div class="point-content">
              <p class="point-title">Vår visjon</p>
              <p class="point-text">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Et
                sequi hic repellendus maiores laudantium. Voluptatum
                necessitatibus nobis illo recusandae aperiam.
              </p>
            </div>
          </div>
          <div class="point">
            <div class="number">2</div>
            <div class="point-content">
              <p class="point-title">Våre mål</p>
              <p class="point-text">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Et
                sequi hic repellendus maiores laudantium. Voluptatum
                necessitatibus nobis illo recusandae aperiam.
              </p>
            </div>
          </div>
          <div class="point">
            <div class="number">3</div>
            <div class="point-content">
              <p class="point-title">Hvorfor oss?</p>
              <p class="point-text">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Et
                sequi hic repellendus maiores laudantium. Voluptatum
                necessitatibus nobis illo recusandae aperiam.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
