@import "../../../../variables.scss";

@media screen and (min-width: $tablet) {
  .about {
    .wrapper {
      flex-direction: row;
      flex-wrap: nowrap;
      padding: 0 2rem;
      max-width: 1280px;
      align-items: stretch;
      .image {
        min-width: 300px;
        position: relative;
        height: auto;
        img {
          position: absolute;
        }
      }
      .content {
        padding-left: 2rem;
        max-width: 750px;
        .titles {
          padding-top: 0;
          .innhold {
            padding-top: 1rem;
          }
        }
        .liste {
          .point {
            margin-top: 3rem;
            .number {
              margin-right: 1rem;
            }
            .point-content {
              .point-text {
                padding-top: 1rem;
              }
            }
          }
        }
      }
    }
  }
}
