@use "src/variables" as *;

@media screen and (min-width: $tablet) {
  .form-section {
    flex-direction: row;
    flex-wrap: nowrap;
    max-width: 1280px;
    margin: 0 auto;
    gap: 1rem;
    .img {
      height: auto;
      height: 700px;
      width: 80%;
      margin-bottom: 0rem;
    }
  }
}

