<section class="contact" id="contact">
  <div class="wrapper">
    <div class="img">
      <img
        src="../../../../assets/Images/Home/support/1280/Moderna-media-ansatt-som-snakker-med-bedrift-om-valg-av-digitalbyrå.webp"
        alt=""
      />
    </div>
    <div class="info">
      <div class="titles">
        <p class="subtitle">La oss snakke, helt uforpliktet</p>
        <h2 class="title">Kontakt oss.</h2>
      </div>
      <div class="contact-info">
        <p>Ring oss direkte: <a href="tel:90265326">902 65 326</a></p>
        <p>
          Kontakt epost:
          <a href="mailto:stianhave@hotmail.com">stianhave@hotmail.com</a>
        </p>
      </div>
      <form action="post" class="kontakt-form">
        <div class="form-group">
          <label for="name-input">Navn</label>
          <img
            src="../../../../assets/Images/Icons/inputs/profile.svg"
            alt=""
          />
          <input id="name-input" type="text" placeholder="For- og etternavn" />
        </div>
        <div class="form-group">
          <label for="email-input">Din E-post*</label>
          <img src="../../../../assets/Images/Icons/inputs/email.svg" alt="" />
          <input id="email-input" type="email" placeholder="E-post adresse" />
        </div>
        <div class="form-group">
          <label for="email-input">Ditt telefon nummer*</label>
          <img src="../../../../assets/Images/Icons/inputs/call.svg" alt="" />
          <input id="phone-input" type="phone" placeholder="Telefonnummer" />
        </div>
        <div class="form-group">
          <label for="business-input">Bedrift</label>
          <img
            src="../../../../assets/Images/Icons/inputs/building.svg"
            alt=""
          />
          <input
            id="business-input"
            type="text"
            placeholder="Tilhørende bedrift"
          />
        </div>
        <div class="form-group">
          <label for="title-input" id="">Tittel</label>
          <img src="../../../../assets/Images/Icons/inputs/tag.svg" alt="" />
          <input id="title-input" type="text" placeholder="E-post tittel" />
        </div>
        <div class="form-group">
          <label for="content-input">Innhold</label>
          <textarea
            rows="10"
            id="content-input"
            type="text"
            placeholder="E-post melding"
          ></textarea>
        </div>
        <div class="form-group button">
          <button class="btn cta-2" name="send epost"><p>Send</p></button>
        </div>
      </form>
    </div>
  </div>
</section>
