<section class="moderna-media-info">
  <div class="hero">
    <img
      src="{{
        imageCdn
      }}../../../assets/Images/Blogg/Ny nettside for bedrift av diitalbyrå i oslo.webp?width={{
        vw
      }}"
      alt="Modernamedia digitalbyrå for bedrift nettsider, grafisk design og søkemotoroptimalisering"
    />
    <p>
      <strong>Info</strong>
    </p>
  </div>
  <div class="content-wrapper">
    <div class="intro">
      <h1>
        <span>Moderna media</span>
        <span>om oss</span>
      </h1>
      <div class="intro-content">
        <p>
          Blanditiis et odit et quod rerum. Dolorum sed et. Sed maiores
          reprehenderit voluptatum voluptas eveniet eum praesentium quisquam
          dolorum. Sapiente facere odio provident omnis excepturi at sunt
          laborum
        </p>
        <div class="img-wrapper">
          <img
            src="../../../assets/Images/Landingpage/kontakt/ansatte med høy kompetanse.webp"
            alt="Spisskompentanse innenfor utvikling, design og søkemotor optimalisering"
          />
        </div>
      </div>
    </div>
    <div class="content-container">
      <div class="content historie">
        <h2>Vår historie</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam
          perferendis asperiores culpa consectetur molestias necessitatibus
          ratione sapiente rerum eligendi. Laudantium nostrum deserunt esse
          corrupti iusto.
        </p>
        <img
          src="{{
            imageCdn
          }}../../../assets/Images/Info/Markedsførings byrå med dårlig rangering.webp"
          alt="Dårlig lighthouse score fra et digital byrå"
        />
        <img
          src="{{
            imageCdn
          }}../../../assets/Images/Info/Seo byrå rangering - google min bedrift.webp"
          alt="dårlig rangering i google på seo byrå fra et media byrå som tilbyr seo tjenester"
        />
      </div>
      <div class="content method">
        <h2>Vår metode</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas
          obcaecati necessitatibus ducimus modi beatae dolor, tenetur maiores?
          Iure mollitia perspiciatis odit officiis vero amet cum!
          <img
            src="../../../assets/Images/Info/Eksperter med  effektiv arbeidsmetodikk.webp"
            alt=""
          />
        </p>
      </div>
      <div class="content buttons">
        <h2>Jobb med oss!</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla, veniam
          saepe sunt labore nobis veritatis?
        </p>
        <div class="button-wrapper">
          <button class="btn gradient cta">Book et uforpliktet møte</button>
        </div>
      </div>
    </div>
  </div>
</section>
