@import "../../../variables.scss";
.moderna-media-info {
  .hero {
    position: relative;
    height: 50vh;
    min-height: 300px;
    background-color: #bcc8c7;
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      mix-blend-mode: multiply;
    }
    strong {
      position: absolute;
      font-size: 7rem;
      @include aAbs;
      color: $light;
      font-weight: 900;
      text-shadow: $text-shadow;
      text-transform: uppercase;
    }
  }
  .content-wrapper {
    padding: $padding-component-top $padding-component-side;
  }
  .intro {
    h1 {
      text-transform: uppercase;
      font-weight: 900;
      font-size: 1.75rem;
      display: flex;
      flex-direction: column;
      span:first-child {
        color: $blue;
      }
      span {
        color: $dark;
      }
    }
    .img-wrapper {
      width: 100%;
      max-width: 400px;
      margin: $padding-component-top auto;
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
  }
  .content-container {
    padding: $padding-component-top 0;
    max-width: 600px;
    margin: 0 auto;
    .content {
      padding: $padding-component-top 0;
      h2 {
        color: $dark;
        text-align: center;
        text-transform: uppercase;
        font-weight: 900;
      }
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
      .button-wrapper {
        display: flex;
        justify-content: space-evenly;
        margin: $padding-component-top 0;
      }
    }
    .content.buttons {
      p {
        text-align: center;
      }
    }
  }
}

@media screen and (min-width: $desktop) {
  .moderna-media-info .intro {
    max-width: 600px;
    margin: 0 auto;
    h1 {
      font-size: 2.25rem;
    }
    .intro-content {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      flex-direction: row;
    }
    .img-wrapper,
    .intro-content p {
      flex: 1;
    }
    .img-wrapper {
      padding-left: 20px;
      width: 100%;
      max-width: 400px;
      max-height: 275px;
      margin: 0;
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
  }
}
