<section class="info {{ data.color }}">
  <div class="info-container {{ data.position }}">
    <div class="image-container">
      <img [src]="sanitizeImageUrl(data.img.url)" alt="{{ data.img.alt }}" />
    </div>
    <div class="text-container">
      <article>
        <div class="header">
          <p class="subtitle-gradient blue">{{ data.header.subtitle }}</p>
          <h2 class="title-bold">{{ data.header.title }}</h2>
        </div>
        @for (text of data.text; track text) {
          <p class="text-section">
            {{ text }}
          </p>
        }
        <ul class="usp-list">
          @for (li of data.listItems; track li) {
            <li>{{ li }}</li>
          }
        </ul>
        @for (text of data.textSecond; track text) {
          <p class="text-section">
            {{ text }}
          </p>
        }
      </article>
      <div class="buttons">
        <a href="#kontakt" class="btn cta shadow"
          ><p>Book et uforpliktet møte</p></a
          >
          <a [routerLink]="data.button.url" class="btn cta-2"
            ><p>{{ data.button.text }}</p></a
            >
          </div>
        </div>
      </div>
    </section>
