@import "../../../variables.scss";

@media screen and (min-width: $desktop) {
  .moderna-media-mini-blogs {
    .title {
      text-align: left;
      padding-left: $padding-component-side;
      font-size: 5rem;
    }
    .left {
      .blogs {
        display: flex;
        justify-content: space-evenly;
        align-items: flex-start;
        flex-direction: row;
        flex-wrap: wrap;
        app-miniblogg-blogs {
          max-width: 50%;
        }
      }
    }
    .right {
      .image-container {
        position: relative;
      }
      .buttons {
        padding: 25px 0;
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
      }
    }
  }
}

@media screen and (min-width: 1200px) {
  .moderna-media-mini-blogs {
    .wrapper {
      .left {
        flex: 1;
        .blogs app-miniblogg-blogs {
          max-width: 100%;
          width: 50%;
        }
      }
    }
  }
}

@media screen and (min-width: 1550px) {
  .moderna-media-mini-blogs {
    .wrapper {
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      max-width: $max-width;
      margin: 0 auto;
      display: flex;
      .left {
        .blogs app-miniblogg-blogs {
          min-width: 50%;
        }
      }
    }
    .right {
      .image-container {
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        img {
          padding: 0 10px;
          width: auto;
          height: 75vh;
          display: block;
        }
      }
    }
  }
}
