<section class="moderna-media-mini-blogs light inner-shadow">
  <h1 class="title">Fordeler</h1>
  <div class="wrapper">
    <div class="left">
      <div class="blogs">
        <app-miniblogg-blogs
          src="{{
            imageCdn == '' ? '' : imageCdn
          }}../../../assets/Images/Landingpage/Landing/nettside for bedrift utvikling.webp?width=600"
          title="Kommunikasjon hele veien"
          alt="Kommunikasjon og support for alle bedrifter"
          theme="dark"
          href=""
          content="Hos oss møter du alltid hyggelige ansatte enda det er over telefon, mail eller ansikt til ansikt. Våre ansatte er imøtekommende og tilstedeværende og dermed lette å kommunisere med. Når du snakker med en av våre ansatte har de kun et fokus; Deg.
        "
        ></app-miniblogg-blogs>
        <app-miniblogg-blogs
          src="{{
            imageCdn == '' ? '' : imageCdn
          }}../../../assets/Images/Landingpage/miniblogg/blogg/eksperter i team.webp?width=600"
          title="100% Egendefinert"
          alt="Alt bygget fra grunn, uten wordpress"
          theme="dark"
          href=""
          content="
          Et egendefinert nettsted vil ha alle funksjonene du ønsker å bruke for markedsføring av virksomheten din. Vi hjelper deg med å utforme en liste over hvilke elementer som bør implementeres i strukturen på selve nettsiden. 
          Gjennom tett samarbeid med våre utviklere vil du få et egenartet nettsted med design og funksjoner av din smak. 
          Dersom du ønsker noe unikt og blikkfangende er egendefinert design det rette valget
        "
        ></app-miniblogg-blogs>
        <app-miniblogg-blogs
          src="{{
            imageCdn == '' ? '' : imageCdn
          }}../../../assets/Images/Landingpage/miniblogg/blogg/Helt Fornoyd garanti.webp?width=600"
          title="Helt fornøyd, eller helt gratis"
          alt="Fornøydgaranti, smilende jente, liten bedrift"
          href=""
          theme="dark"
          content="Minus doloremque nostrum occaecati eum quis magnam quas. Veniam non debitis qui. Veniam nihil et magni facere magni deserunt aliquam temporibus nemo. Commodi qui consequatur saepe dolor est voluptatem voluptas.
        Perferendis nihil eum quia alias placeat nihil animi quia. Nulla libero blanditiis optio. Sed quia ipsam error.
        "
        ></app-miniblogg-blogs>
        <app-miniblogg-blogs
          src="{{
            imageCdn == '' ? '' : imageCdn
          }}../../../assets/Images/Landingpage/miniblogg/blogg/Fornoyd garanti.webp?width=600"
          title="Enklest mulig for deg"
          alt="Fornøyd kunde av digitalbyrå"
          href=""
          theme="dark"
          content="Minus doloremque nostrum occaecati eum quis magnam quas. Veniam non debitis qui. Veniam nihil et magni facere magni deserunt aliquam temporibus nemo. Commodi qui consequatur saepe dolor est voluptatem voluptas.
        Perferendis nihil eum quia alias placeat nihil animi quia. Nulla libero blanditiis optio. Sed quia ipsam error.
        "
        ></app-miniblogg-blogs>
      </div>
    </div>
    <div class="right">
      <div class="image-container">
        <img
          src="{{
            imageCdn == '' ? '' : imageCdn
          }}../../../assets/Images/Landingpage/miniblogg/Modern man.png?width=600"
          alt="Sosiale medier mann"
          loading="lazy"
        />
      </div>
      <div class="buttons">
        <a href="/blogg" hreflang="no-nb" class="btn transparent-dark"
          >blogger</a
        >
        <a href="" class="btn cta gradient shadow"
          >Book et uforpliktende møte</a
        >
      </div>
    </div>
  </div>
</section>
