@import "../../../variables.scss";

.moderna-media-mini-blogs {
  min-height: 100vh;
  background-color: $dark;
  &.light {
    background-color: $light;
    color: $dark;
  }
  &.dark {
    background-color: $dark;
    color: $light;
  }
  &.white {
    background-color: #fff;
    color: $dark;
  }

  .title {
    text-transform: uppercase;
    width: 100%;
    text-align: center;
    letter-spacing: 5px;
    font-size: 3rem;
    text-shadow: $text-shadow;
    font-weight: 900;
    max-width: $max-width;
    margin: 0 auto;
  }
  .right {
    .image-container {
      img {
        display: none;
        padding: 0 10px;
        width: 100%;
      }
    }
    .buttons {
      padding: 25px 0;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      flex-direction: row;
    }
  }
}
