@use "src/variables" as *;
.design-system {
  .container {
    background: $light;
    box-shadow: $box-shadow;
    border-radius: 25px;
    width: 90%;
    max-width: 1800px;
    min-width: 400px;
    margin: 2rem auto;
    padding: 2rem;
    @include flexC;
    justify-content: flex-start;
    align-items: flex-start;
    > * {
      margin: 0.5rem 0;
    }
  }
  .wrapper {
    .buttons {
      @include flexR;
      button {
        margin: 0 0.5rem;
      }
    }
  }
  .boxes {
    @include flexR;
    justify-content: space-evenly;
    .box-1 {
      box-shadow: $elevation-1;
    }
    .box-2 {
      box-shadow: $elevation-2;
    }
    .box-3 {
      box-shadow: $elevation-3;
    }
    .box-4 {
      box-shadow: $elevation-4;
    }
    .box-5 {
      box-shadow: $elevation-5;
    }
    .box-6 {
      box-shadow: $box-shadow;
    }
    .box-7 {
      box-shadow: $box-shadow-small;
    }
  }
  .box {
    width: 50px;
    height: 50px;
    background-color: $base-color;
  }
}

