@import "/src/variables.scss";
.design-system {
  .container {
    background: $light;
    box-shadow: $box-shadow;
    border-radius: 25px;
    width: 90%;
    max-width: 1800px;
    min-width: 400px;
    margin: 2rem auto;
    padding: 2rem;
    @include flexC;
    justify-content: flex-start;
    align-items: flex-start;
    > * {
      margin: 0.5rem 0;
    }
  }
  .wrapper {
    .buttons {
      @include flexR;
      button {
        margin: 0 0.5rem;
      }
    }
  }
}
