<section class="moderna-media-om-oss">
  <div class="bg-img">
    <img src="../../../assets/Images/Landingpage/Landing/Barcode.jpg" alt="" />
    <h1>Om oss</h1>
  </div>
  <div class="content-container">
    <div class="content">
      <p>
        Moderena Media er et digitalbyrå med høy kompetanse innenfor utvikling
        av bedriftsnettsider og ikke minst SEO, bedre kjent som
        søkemotoroptimalisering. I tillegg driver vi med design av logo,
        plakater og annet materiell.
      </p>
      <p>
        Vi bestemte oss for å opprette Moderna Media da vi så et hull i
        markedet. Det finnes ekstremt mange leverandører som leverer nettsider,
        grafisk design og SEO, men de aller fleste leverer et dårlig, eller i
        beste tilfelle, et middelmådig produkt. Og dette til en høy pris! Derfor
        startet vi Moderna Media, et digitalbyrå med fokus på kvalitet og pris.
      </p>
      <div class="newsletter">
        <label for="newsletter-input">Hold deg oppdatert</label>
        <div class="form-elements">
          <input id="newsletter-input" type="text" />
          <button class="btn default">Send</button>
        </div>
      </div>
    </div>
  </div>
</section>
