<section class="moderna-media-om-oss">
  <div class="bg-img">
    <img
      src="../../../assets/Images/Landingpage/omoss/Norsk skog og natur.jpg"
      alt=""
    />
    <h1>Om oss</h1>
  </div>
  <div class="content-container">
    <div class="content">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium
        dolores magnam maxime, praesentium quaerat cum reprehenderit ab minima
        consequatur vero? Fugit, alias molestiae! Animi ducimus voluptates ullam
        delectus est rem odio doloribus, ab quo dolorem saepe ut, cumque
        nesciunt in hic facere amet culpa alias dolorum veniam atque quam nemo!
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium
        dolores magnam maxime, praesentium quaerat cum reprehenderit ab minima
        consequatur vero? Fugit, alias molestiae! Animi ducimus voluptates ullam
        delectus est rem odio doloribus, ab quo dolorem saepe ut, cumque
        nesciunt in hic facere amet culpa alias dolorum veniam atque quam nemo!
      </p>
      <div class="newsletter">
        <label for="newsletter-input">Hold deg oppdatert</label>
        <div class="form-elements">
          <input id="newsletter-input" type="text" />
          <button class="btn default">Send</button>
        </div>
      </div>
    </div>
  </div>
</section>
