@import "../../../variables.scss";

.moderna-media-om-oss {
  min-height: 100vh;
  position: relative;
  width: 100%;
  .bg-img {
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: -1;
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
    h1 {
      position: absolute;
      top: 10%;
      left: 1%;
      font-size: 20vw;
      text-transform: uppercase;
      color: $light-80;
      font-weight: 900;
      letter-spacing: 4vw;
      word-break: keep-all;
      white-space: nowrap;
    }
  }
}

.moderna-media-om-oss {
  .content {
    background-color: #fff;
    color: $dark;
    position: absolute;
    bottom: 0;
    padding: $padding-component-top $padding-section-sides;
    p {
      padding: 10px 0;
    }
    .newsletter {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      flex-direction: column;
      label {
        font-weight: 900;
        padding-bottom: 10px;
      }
      .form-elements {
        display: flex;
        align-items: stretch;
        button {
          background-color: $blue;
        }
      }
    }
  }
}
