@import "../../../variables.scss";

@media screen and (min-width: $desktop) {
  .moderna-media-om-oss {
    .content {
      max-width: 700px;
      right: 10%;
      .newsletter {
        label {
        }
        .form-elements {
          button {
          }
        }
      }
    }
  }
}

@media screen and (min-width: 1920px) {
  .moderna-media-om-oss {
    .bg-img {
      img {
      }
      h1 {
        font-size: 21rem;
      }
    }
  }

  .moderna-media-om-oss {
    .content {
      max-width: 700px;
      left: 1000px;
      right: auto;
      .newsletter {
        label {
        }
        .form-elements {
          button {
          }
        }
      }
    }
  }
}
