<?xml version="1.0" encoding="utf-8" ?>

<!--<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Trace"
      internalLogFile="${basedir}\internallog.txt">
	<targets>
		<target name="logfile" xsi:type="File"
				fileName="${basedir}/${shortdate}_logfile.txt"
				layout="${longdate} ${level:uppercase=true} ${message}"/>
		<target xsi:type="Console"	name="console" layout="${longdate}|${level}|${message}" />
		<target xsi:type="File"		name="ErrorLog" fileName="${basedir}/error.txt" layout="${longdate} Trace: ${stacktrace} ${message}" />
		<target xsi:type="File"		name="AccessLog" fileName="${basedir}/access.txt"
				layout="${shortdate} | ${message}" />
	</targets>

	<rules>
		<logger name="*" minlevel="Debug" writeTo="logfile" />
	</rules>
</nlog>-->

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Trace"
      internalLogFile=".\internallog.txt">

	<targets>
		<target name="logfile" xsi:type="File"
				fileName="${basedir}\${shortdate}_logfile.txt"
				layout="${longdate} ${level:uppercase=true} ${message}"/>
	</targets>

	<rules>
		<logger name="*" minlevel="Debug" writeTo="logfile" />
	</rules>
</nlog>