@use "src/variables" as *;
section.usp-section {
  padding-top: 60px;
  .wrapper {
    max-width: 1280px;
    padding: 0 2rem;
    margin: 0 auto;
  }
  .usp-container {
    @include flexR;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 15px;
  }
  header {
    .subtitle {
      margin-bottom: 15px;
    }
    .title {
      margin: 0;
    }
    .testimonials-grid {
      display: flex;
      flex-wrap: wrap;
      gap: 24px;
      align-items: stretch;
      justify-content: center;
      margin: 30px 0;

      app-testimonials {
        flex: 1 1 48%;
        min-width: 280px;
        max-width: 600px;
        display: flex;
      }
    }
    .section-info {
      margin: 15px 0;
      margin-bottom: 30px;
    }
  }
  .usp {
    position: relative;
    height: 350px;
    width: 350px;
    margin: 0 auto;
    margin-top: 30px;
    border-radius: 25px;
    overflow: hidden;
    @include flexC;
    justify-content: space-between;
    padding: 2rem;
    .usp-title,
    .usp-content {
      text-align: left;
      color: $clean-white;
    }
    .usp-title {
      text-shadow: $text-shadow-white;
      font-size: 1.75rem;
    }
    .usp-content {
      font-size: 1.15rem;
    }
    .bg {
      pointer-events: none;
      top: 0;
      position: absolute;
      width: 100%;
      height: 100%;
      overflow: hidden;
      img,
      .shadow {
        top: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        z-index: -1;
      }
      .shadow {
        background: rgba(51, 51, 51, 0.55);
      }
    }
  }
}
