<section class="usp">
  <div class="wrapper">
    <div class="titles">
      <p class="subtitle">Våre beste egenskaper</p>
      <h2 class="title">
        Flere gode grunner for å velge Moderna Media som bedriftens digitalbyrå.
      </h2>
    </div>
    <div class="content">
      <div class="usp-card">
        <img
          [src]="
            sanitizeImageUrl('../../../../assets/Images/Icons/home/refund.svg')
          "
          alt="fornøyd garanti på utvikler tjenester ikon"
        />
        <h3 class="usp-title">100% fornøyd garanti</h3>
        <p class="usp-content">
          Vi er sikker på at du kommer til å bli helt fornøyd med din nye
          nettside, design eller programvare. Derfor tilbyr vi en 100% fornøyd
          garanti.
        </p>
      </div>
      <div class="usp-card">
        <img
          [src]="
            sanitizeImageUrl('../../../../assets/Images/Icons/home/expert.svg')
          "
          alt="systemer for bedrifter ikon"
        />
        <h3 class="usp-title">Vår prioritet</h3>
        <p class="usp-content">
          Vi har valgt å ta for oss et mindre antall kunder slik at du vil være
          vår største prioritet. Slik kan vi holde en flytende dialog både
          internt og eksternt i arbeidsprossesen.
        </p>
      </div>
      <div class="usp-card">
        <img
          [src]="
            sanitizeImageUrl('../../../../assets/Images/Icons/home/quality.svg')
          "
          alt="Kvalitet systemer for bedrifter ikon"
        />
        <h3 class="usp-title">Kvalitet over kvantitet</h3>
        <p class="usp-content">
          Vi fokuserer på kvalitative og skreddersydde metoder for å gi deg best
          mulig resultat. I motsettning til de fleste aktørene i Norge som
          bruker ferdigstilte rammeverk, bygger vi opp alt fra bunnen. Selv om
          dette er en mer tidskrevende prosess fremstår resultatet mye bedre.
        </p>
      </div>
    </div>
  </div>
  <!-- <span class="line gradient-line"></span> -->
</section>
