<section class="usp">
  <div class="wrapper">
    <div class="titles">
      <p class="subtitle">Våre beste egenskaper</p>
      <h2 class="title">
        Flere gode grunner for å velge Moderna Media som bedriftens digitalbyrå.
      </h2>
    </div>
    <div class="content">
      <div class="usp-card">
        <img
          src="../../../../assets/Images/Icons/home/refund.svg"
          alt="fornøyd garanti på utvikler tjenester ikon"
        />
        <h3 class="usp-title">100% fornøyd garanti</h3>
        <p class="usp-content">
          Vi er sikre på at du kommer til å bli helt fornøyd med din nettside,
          ditt design eller ditt system. derfor tilbyr vi en 100% fornøyd
          garanti.
        </p>

        <p class="usp-content">
          Dette betyr at dersom du ikke er fornøyd under prosessen så opphever
          vi arbeidskontrakt og refunderer 100% av betalt beløp. På denne måten
          kan dere velge oss helt risikofritt.
        </p>
      </div>
      <div class="usp-card">
        <img
          src="../../../../assets/Images/Icons/home/expert.svg"
          alt="systemer for bedrifter ikon"
        />
        <h3 class="usp-title">Vår prioritet</h3>
        <p class="usp-content">
          Som en mindre bedrift har vi valgt å ta for oss et mindre antall
          kunder slik at du vil være vår største prioritet. På denne måten kan
          vi holde en flytende dialog både internt og eksternt i
          arbeidsprossesen. Samtidig gir dette oss muligheten til å sette vår
          beste utvikler og designer på et oppdrag for å gi deg full
          oppmerksomhet.
        </p>
      </div>
      <div class="usp-card">
        <img src="../../../../assets/Images/Icons/home/quality.svg" alt="" />
        <h3 class="usp-title">Kvalitet over kvantitet</h3>
        <p class="usp-content">
          Vi fokuserer på kvalitative og skreddersydde metoder for å gi deg best
          mulig resultat. I motsettning til de fleste aktørene i norge som
          bruker ferdigstilte rammeverk bygger vi opp alt fra bunnen. Selv om
          dette er mer tidkrevende blir resultatet mye bedre.
        </p>
      </div>
    </div>
  </div>
  <span class="line gradient-line"></span>
</section>
