@import "../../../../variables.scss";

@media screen and (min-width: 1100px) {
  section.usp-section {
    header .section-info {
      width: 60%;
    }
    .usp-container {
      justify-content: space-between;
      flex-wrap: nowrap;
      .usp {
        margin: 0;
      }
    }
  }
}
