<section class="moderna-media-banner">
  <div class="bg-img">
    <div class="shadow-overlay"></div>
    <img
      src="../../../assets/Images/Utvikling/Utvikling/Web utvikling oslo.jpg"
      alt=""
    />
  </div>
  <div class="content">
    <div class="header-text">
      <h1>
        <span>Nettsider</span>
        <span>for</span>
        <span>bedrifter</span>
      </h1>
    </div>
    <div class="usp-wrapper">
      <div *ngFor="let usp of UniqueSellingPoints" class="usp-container">
        <div class="usp-inner-container">
          <img src="{{ usp['icon'] }}" alt="" />
          <div class="usp">
            <h6>{{ usp["title"] }}</h6>
            <p>{{ usp["content"] }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="usp-wrapper-mobile">
  <div *ngFor="let usp of UniqueSellingPoints" class="usp-container-mobile">
    <div class="usp-inner-container-mobile">
      <img src="{{ usp['icon'] }}" alt="" />
      <div class="usp">
        <h6>{{ usp["title"] }}</h6>
        <p>{{ usp["content"] }}</p>
      </div>
    </div>
  </div>
</div>
