@use "src/variables" as *;

@media screen and (min-width: 900px) {
  section.moderna-media-large-usp {
    .wrapper {
      //   display: flex;
      //   justify-content: center;
      //   align-items: center;
      //   flex-direction: row;
      display: flex;
      justify-content: flex-end;
      width: 100%;
      .left,
      .right {
        min-width: 450px;
        width: 50vw;
      }
      .right {
        .title {
          font-size: 3rem;
        }
        p {
          font-size: 1.1rem;
        }
      }
    }
  }
}

