@import "../../../variables.scss";

$imgWidth: 100%;

.blogg {
  color: $light;
  &.light {
    &,
    .content {
      color: $light;
    }
    .image-container {
      background-color: $dark;
    }
  }

  &.dark {
    &,
    .content {
      color: $dark;
    }
    background-color: transparent;
    .image-container {
      background-color: $light;
    }
    .image-container {
      border: 3.5px solid $dark;
    }
  }
  a:hover {
    .les-mer {
      letter-spacing: 1px;
      color: $lilac-primary;
    }
    p {
      color: inherit;
    }
  }
  margin: 0 auto;
  width: 100%;
  max-width: $desktop;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  .image-container {
    width: $imgWidth;
    height: 250px;
    position: relative;
    border: 3.5px solid $light;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      position: absolute;
    }
  }
  .content {
    width: $imgWidth;
    h2 {
      text-transform: uppercase;
      padding: 10px 0 5px;
      letter-spacing: 5px;
      font-family: $ff-primary;
      font-weight: lighter;
    }
    .les-mer {
      color: $blue;
      padding: 15px 0;
      transition: 0.25s;
      text-transform: uppercase;
      letter-spacing: 5px;
      font-size: 12px;
    }
  }
}
