<section class="moderna-media-usp-image-cards">
  <h2 class="title" [innerHTML]="Title"></h2>
  <div class="usp-wrapper">
    <div class="usp" *ngFor="let item of UspCard">
      <div class="usp-inner">
        <div class="bg-img">
          <div class="shadow-overlay"></div>
          <img
            src="{{ imageCdn == '' ? '' : imageCdn }}{{
              item['imageSrc']
            }}?width=1000"
            alt="{{ item['imageAlt'] }}"
            loading="lazy"
          />
        </div>
        <div class="content">
          <h6 [innerHTML]="item['title']"></h6>
          <p [innerHTML]="item['content']"></p>
        </div>
      </div>
    </div>
  </div>
</section>
