<main>
  <div class="head">
    <div class="left">
      <div class="text-container">
        <div class="main-text">
          <h1>Bedriften</h1>
          <h2>Moderniserer</h2>
        </div>
        <article class="secondary-text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Bibendum
          est ultricies integer quis. Iaculis
        </article>
        <div class="actions">
          <a class="btn">Løsninger</a>
          <button class="btn">Book et uforpliktet møte</button>
        </div>
      </div>
    </div>
    <div class="right">
      <div class="head-video">
        <iframe
          width="560"
          height="315"
          src="https://www.youtube-nocookie.com/embed/LzN3WPeIhtY"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
      </div>
    </div>
  </div>
  <div class="content">
    <div class="utvikling">
      <div class="utvikling-head">
        <img src="../assets/Images/Landingpage/wave.svg" alt="" />
        <h1 class="content-header">Utvikling</h1>
      </div>

      <div class="utvikling-content">
        <div class="left">
          <div class="utvikling-header-text">
            <h1>Enkle løsninger</h1>
            <h2>Vanskelige problemer</h2>
          </div>
          <div class="folders">
            <div class="folder">
              <h3>Nettsider</h3>
              <fa-icon [icon]="faglobe" class="faicon"></fa-icon>
              <img src="../assets/Images/Landingpage/Pocket_blue.jpg" alt="" />
            </div>
            <div class="folder">
              <h3>Apper</h3>
              <fa-icon [icon]="faapp" class="faicon"></fa-icon>
              <img src="../assets/Images/Landingpage/Pocket_blue.jpg" alt="" />
            </div>
            <div class="folder">
              <h3>Programvare</h3>
              <fa-icon [icon]="fasoftware" class="faicon"></fa-icon>
              <img src="../assets/Images/Landingpage/Pocket_blue.jpg" alt="" />
            </div>
          </div>
          <article class="utvikling-content-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Bibendum
            est ultricies integer quis. Iaculis
          </article>
          <div class="utvikling-actions">
            <button class="btn">book et uforpliktet møte</button>
            <a href="" class="btn">Utforsk utvikling</a>
          </div>
        </div>
        <div class="right">
          <img
            class="section-image"
            src="../assets/Images/Landingpage/digitalisering.jpg"
            alt=""
          />
        </div>
      </div>
    </div>
  </div>
</main>
