@import "src/variables.scss";


.head {
    position: relative;
    height: calc(100vh - 50px);
    width: 100%;
    display: flex;
    .right {
        width: 65%;
        height: 100%;
        background-image: url(../assets/Images/Landingpage/Bedrift_nettside@2x.jpg);
        background-size: cover;
        position: absolute;
        .bg-image {
            display: none;
        }
        right: 0vw;
        .head-video {
            width: 50%;
            height: 75%;
            margin-left: auto;
            margin-right: 3vw;
            display: flex;
            justify-content: center;
            align-items: center;
            iframe {
                z-index: 2;
                border-radius: 25px;
                background: #e0e0e0;
                position: relative;
                box-shadow: 
                0px 0px 50px 18px  rgba(255,119,77,.12),
                0px 0px 50px 18px rgba(82,77,255,.12);
                    width: 560px;
                    height: 315px;
            }
        }
    }
    .left {
        z-index: 1;
        text-align: center;
        font-size: 5rem;
        width: 60%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 75%;
        .text-container {
            width: auto;
        }
        .main-text {
            display: flex;
            flex-direction: column-reverse;
            h1,h2 {
                font-size: 9rem;
                font-family:$ff-primary;
            }
    
            h1 {
                font-weight: 700;
                background: linear-gradient(229deg, $orange-gradient 0%, $blue-gradient 100%);
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
    
            h2 {
                font-weight: 200;
                font-size: 2rem;
                text-transform: uppercase;
                letter-spacing: 15px;
            }
    
        }
        article {
            font-size: $font-md;
            font-weight: 300;
            width: 75%;
            margin: 0 auto;
        }
        .actions {
            button {
                border-radius: 10px;
                padding: 1rem 2rem;
                border: none;
                color: #fff;
                margin: 0 1rem;
            }
            .second {
                color: #333;
                background: #EEEEEE;
                &:hover {
                    background: #e1e1e1;
                }
                &:active {
                    background: #c9c9c9;
                }
            }
        }
    }
}


.content-container {
    height: 100vh;
    min-height: 920px;
    &:not(.seo){
        overflow: hidden;
    }
    &.seo {
        overflow-y: visible;
    }
    .content-head {
        position: relative;
        img {
            margin-top: -5px;
            width: 100vw;
        }
        .content-header {
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            width: 50%;
            font-size: 5.5vw;
            text-align: center;
            height: 75%;
            top:0;
        
            font-weight: 900;
            font-family: $ff-primary;
            color: $blue;
        
        
            background: linear-gradient(229deg, rgba(34,206,228,1) 0%, rgba(82,77,255,1) 100%);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        
        }
    }
    .ladningpage-section {
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        width: 90%;
        margin: 0 auto;
        height: 75vh;
        .right, .left {
            height: 100%;
            width: 50vw;
        }
        .ladningpage-section-content-header-text {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column-reverse;
            height: 250px;
            h1,h2 {
                font-size: 4vw;
                font-family: $ff-primary;
                font-weight: 900;
                color: $blue-secondary;
            }
            h2 {
                color: $blue-primary;
                font-size: 3vw;
            }
        }
        .ladningpage-section-content-text {
            font-size: $font-md;
            width: 90%;
            margin: 25px auto;
        }
    }
    .left {
    }
    .right {
        position: relative;
    }
}


.design {
    .design-head {
        img {
            transform: scaleX(-1);
        }
        #content-header-design {
            background-image: linear-gradient(229deg, $purple-primary 0%, $purple-secondary 100%);
            background-clip: text;
            -webkit-text-fill-color: transparent;

            right: 0;
        }
    }
    
    }
    .design-content {
        flex-direction: row-reverse;
    }
//Buttons

.section-actions {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    //
    transition: 2s;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    .btn {
        border: none;
        padding: .75rem 1.5rem;
        background: #EEEEEE;
        color: $light;
        &:hover{
            animation-name: gradient;
        }
    }
    a.btn {
        background: $light;
        color: #333;
    }
     
    
}
@keyframes folder {
    from {
        transform: skew(0deg, 0deg);
        opacity: 1;
    }
    to {
        transform: skew(-14deg, -5deg);
        opacity: .5;
    }
}
@keyframes iconanim {
    from {
        opacity: .5;
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
        opacity: 1;
    }
}

.folders {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    .folder{

        position: relative;
        width: calc(50vw/4);
    
        &:hover {
            // transform: skew(-14deg, -5deg);
            // opacity: .5;
            animation: folder .2s forwards;
            .faicon {
                animation: iconanim 1s forwards;
            }
        }

        img {
            width: calc(50vw/4);
        }
        .faicon, h3 {
            position: absolute;
        }
        .faicon{
            bottom: 15%;
            width: 100%;
            text-align: center;
            color: $light;
            font-size: 6vw;
            opacity: .5;
        }
        h3 {
            color: $light;
            font-size: 1.5vw;
            top: 6%;
            width: 100%;
            text-align: center;
            font-weight: 100;
        }
    }
}
//BUTTONS
#section-action-seo {
    transition: 2s;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    background-image: linear-gradient(to right, $orange-primary 0%, $orange-secondary 100%);
    background-size: 200% auto;
}

#section-action-design {
    transition: 2s;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    background-image: linear-gradient(to right, $purple-primary 0%, $purple-secondary 100%);
    background-size: 200% auto;
}
#section-action-utvikling {
    transition: 2s;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    background-image: linear-gradient(to right, $blue-primary 0%, $blue-secondary 100%);
    background-size: 200% auto;
}


//HEADERS
#content-header-design {
    background: linear-gradient(229deg, $purple-primary 0%, $purple-secondary 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

#content-header-seo {
    background: linear-gradient(229deg, $orange-primary 0%, $orange-secondary 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}
//under headers
.ladningpage-section-content-header-text {
    text-transform: capitalize;
}
#design-h1, #design-h2 {
    color: $purple-secondary;
}
#design-h2 {
    font-size: 3.25rem;
    color: $purple-primary;
}

#seo-h1, #seo-h2 {
    color: $orange-secondary;
    font-size: 4.25vw;
}
#seo-h2 {
    font-size: 4vw;
    color: $orange-primary;
}
//section images
.section-image {
    position: absolute;
    z-index: -1;
}

#utvikling-image {
    width: 60vw;
    height: auto;
    top: auto;
    left: 1vw;
}
#design-image {
    width: 60vw;
    height: auto;
    top: 0px;
    right: auto;
}

#seo-image {
    height: auto;
    width: 60vw;
    top: -25%;
    bottom: auto;
    left: 3vw;
}

@keyframes gradient {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:200% auto}
}

//larger than 1800px
@media only screen and (min-width: 1800px) {
    .content-container {
        min-height: 50vw;
    }

    .folder{
        width: 217px !important;
        height: 222px;
        img {
            height: 222px;
            width: 217px !important;
        }
    }
    .faicon{
        bottom: 15%;
        width: 100%;
        font-size: 6rem !important;
    }
    h3 {
        font-size: 1.5rem !important;
        top: 7.5%;
    }
    #seo-image {
        height: auto;
        width: 60vw;
        top: -40%;
        bottom: auto;
        left: 3vw;
    }
  }

  //larger than 1800px
@media only screen and (max-width: 1200px) {
    .head {
        height: 100vh;
        min-height: 815px;
        .left {
            width: 100vw;
            height: 50%;
            .secondary-text {
            }
        }
        .right {
            background-image: none;
            .bg-image {
                width: 100%;
                height: 100%;
                background-image: url(../assets/Images/Landingpage/Bedrift_nettside@2x.jpg);
                background-size: cover;
                position: absolute;
                filter: blur(5px);
                display: block;
            }
            .disableBlur {
                filter: blur(0);
              }
            top: -50px;
            width: 100%;
            .head-video {
                width: 100%;
                min-height: 815px;
                height: 90vh;
                align-items: flex-end;
                iframe{
                    width: 509px;
                    height: 286px;
                }
            }
        }
    }
}
@media only screen and (max-width: 1080px) {
    .ladningpage-section{
        height: 100% !important;
        justify-content: space-evenly;
    }
    .right {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .left {
        width: 90vw !important;
        margin: 0 auto;
    }
    .ladningpage-section {
        flex-direction: column;
    }
    #utvikling-h1{
        font-size: 3.5rem;    
    }
    #utvikling-h2{
        font-size: 2.5rem;
    }
    #design-h1{
        font-size: 3rem;
    }
    #design-h2{
        font-size: 2.75rem;
    }
    #seo-h1{
        font-size: 3rem;
    }
    #seo-h2{
        font-size: 3.75em;
    }
    #seo-image {
        height: auto;
        width: 50vw;
        top: -15%;
        bottom: auto;
        left: auto;
    }
    #utvikling-image {
        width: 50vw;
        top: auto;
        left: auto;
    }
    #design-image {
        width: 50vw;
        height: auto;
        top: 0px;
        right: auto;
    }
    .ladningpage-section-content-header-text {
        height: auto !important;
        padding: 1rem 0;
    }
}

@media only screen and (max-width: 1000px) {
    .head .left .text-container {
        margin-top: 150px;
    }

    .head .right .head-video {
        width: 90%;
        min-height: 815px;
        height: 90vh;
        align-items: flex-end;
        iframe{
            margin: 0 auto;
            width: 407.2px;
            height: 228.8px;
        }
    }
 }

@media only screen and (max-width: 801px) {
   .head .left .text-container .main-text h1 {
        font-size: 6.5rem;
    }
}

@media only screen and (max-width: 601px) {
    .head .left .text-container .main-text h1 {
        font-size: 5rem;
    }
    .head .left .text-container .main-text h2 {
        font-size: 1.5rem;
    }
    .left {
        width: 90vw !important;
        margin: 0 auto;
    }
    .ladningpage-section {
        flex-direction: column;
    }
    #utvikling-h1{
        font-size: 2.75rem;    
    }
    #utvikling-h2{
        font-size: 2rem;
    }
    #design-h1{
        font-size: 2.75rem;
    }
    #design-h2{
        font-size: 2.75rem;
    }
    #seo-h1{
        font-size: 2.5rem;
    }
    #seo-h2{
        font-size: 3rem;
    }
    #seo-image {
        height: auto;
        width: 50vw;
        top: 0;
        bottom: auto;
        left: auto;
    }
    .ladningpage-section-content-header-text {
        height: auto !important;
        padding: 1rem 0;
    }
}