<main>
  <div class="head">
    <div class="left">
      <div class="text-container">
        <div class="main-text">
          <h1>Bedriften</h1>
          <h2>Moderniserer</h2>
        </div>
        <article class="secondary-text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Bibendum
          est ultricies integer quis. Iaculis
        </article>
        <div class="actions">
          <a class="btn">Løsninger</a>
          <button class="btn">Book et uforpliktet møte</button>
        </div>
      </div>
    </div>
    <div class="right">
      <div class="head-video">
        <iframe
          width="560"
          height="315"
          src="https://www.youtube-nocookie.com/embed/LzN3WPeIhtY"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
      </div>
    </div>
  </div>
  <div class="content">
    <div class="content-container utvikling">
      <div class="content-head utvikling-head">
        <img src="../assets/Images/Landingpage/wave.svg" alt="" />
        <h1 class="content-header">Utvikling</h1>
      </div>

      <div class="ladningpage-section utvikling-content">
        <div class="left">
          <div
            class="ladningpage-section-content-header-text utvikling-header-text"
          >
            <h1 id="utvikling-h1">Enkle løsninger</h1>
            <h2 id="utvikling-h2">Vanskelige problemer</h2>
          </div>
          <div class="folders">
            <div class="folder">
              <a href="#">
                <h3>Nettsider</h3>
                <fa-icon [icon]="faglobe" class="faicon"></fa-icon>
                <img
                  src="../assets/Images/Landingpage/Pocket_blue.jpg"
                  alt=""
                />
              </a>
            </div>
            <div class="folder">
              <a href="#">
                <h3>Apper</h3>
                <fa-icon [icon]="faapp" class="faicon"></fa-icon>
                <img
                  src="../assets/Images/Landingpage/Pocket_blue.jpg"
                  alt=""
                />
              </a>
            </div>
            <div class="folder">
              <a href="#">
                <h3>Programvare</h3>
                <fa-icon [icon]="fasoftware" class="faicon"></fa-icon>
                <img
                  src="../assets/Images/Landingpage/Pocket_blue.jpg"
                  alt=""
                />
              </a>
            </div>
          </div>
          <article
            class="ladningpage-section-content-text utvikling-content-text"
          >
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Bibendum
            est ultricies integer quis. Iaculis
          </article>
          <div class="section-actions utvikling-actions">
            <button class="btn" id="section-action-utvikling">
              book et uforpliktet møte
            </button>
            <a href="" class="btn">Utforsk utvikling</a>
          </div>
        </div>
        <div class="right">
          <img
            class="section-image"
            id="utvikling-image"
            src="../assets/Images/Landingpage/digitalisering.jpg"
            alt=""
          />
        </div>
      </div>
    </div>
    <div class="content-container design">
      <div class="content-head">
        <img src="../assets/Images/Landingpage/wave.svg" alt="" />
        <h1 class="content-header" id="content-header-design">Design</h1>
      </div>

      <div class="ladningpage-section seo">
        <div class="left">
          <div class="ladningpage-section-content-header-text seo-header-text">
            <h1 id="design-h1">Økt omsettning</h1>
            <h2 id="design-h2">Bedre synlighet</h2>
          </div>
          <div class="folders">
            <div class="folder">
              <a href="#">
                <h3>Nettsider</h3>
                <fa-icon [icon]="faglobe" class="faicon"></fa-icon>
                <img
                  src="../assets/Images/Landingpage/Pocket_purple.jpg"
                  alt=""
                />
              </a>
            </div>
            <div class="folder">
              <a href="#">
                <h3>Apper</h3>
                <fa-icon [icon]="faapp" class="faicon"></fa-icon>
                <img
                  src="../assets/Images/Landingpage/Pocket_purple.jpg"
                  alt=""
                />
              </a>
            </div>
            <div class="folder">
              <a href="#">
                <h3>Programvare</h3>
                <fa-icon [icon]="fasoftware" class="faicon"></fa-icon>
                <img
                  src="../assets/Images/Landingpage/Pocket_purple.jpg"
                  alt=""
                />
              </a>
            </div>
          </div>
          <article
            class="ladningpage-section-content-text utvikling-content-text"
          >
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Bibendum
            est ultricies integer quis. Iaculis
          </article>
          <div class="section-actions design-actions">
            <button class="btn" id="section-action-design">
              book et uforpliktet møte
            </button>
            <a href="" class="btn">Utforsk utvikling</a>
          </div>
        </div>
        <div class="right">
          <img
            class="section-image"
            id="design-image"
            src="../assets/Images/Landingpage/app_utvikling.jpg"
            alt=""
          />
        </div>
      </div>
    </div>
    <div class="content-container utvikling">
      <div class="content-head utvikling-head">
        <img src="../assets/Images/Landingpage/wave.svg" alt="" />
        <h1 class="content-header" id="content-header-seo">Utvikling</h1>
      </div>

      <div class="ladningpage-section seo">
        <div class="left">
          <div class="ladningpage-section-content-header-text seo-header-text">
            <h1 id="seo-h1">Enkle løsninger</h1>
            <h2 id="seo-h2">Vanskelige problemer</h2>
          </div>
          <div class="folders">
            <div class="folder">
              <a href="#">
                <h3>Nettsider</h3>
                <fa-icon [icon]="faglobe" class="faicon"></fa-icon>
                <img
                  src="../assets/Images/Landingpage/Pocket_lilac.jpg"
                  alt=""
                />
              </a>
            </div>
            <div class="folder">
              <a href="#">
                <h3>Apper</h3>
                <fa-icon [icon]="faapp" class="faicon"></fa-icon>
                <img
                  src="../assets/Images/Landingpage/Pocket_lilac.jpg"
                  alt=""
                />
              </a>
            </div>
            <div class="folder">
              <a href="#">
                <h3>Programvare</h3>
                <fa-icon [icon]="fasoftware" class="faicon"></fa-icon>
                <img
                  src="../assets/Images/Landingpage/Pocket_lilac.jpg"
                  alt=""
                />
              </a>
            </div>
          </div>
          <article
            class="ladningpage-section-content-text utvikling-content-text"
          >
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Bibendum
            est ultricies integer quis. Iaculis
          </article>
          <div class="section-actions utvikling-actions">
            <button class="btn" id="section-action-seo">
              book et uforpliktet møte
            </button>
            <a href="" class="btn">Utforsk utvikling</a>
          </div>
        </div>
        <div class="right">
          <img
            class="section-image"
            id="seo-image"
            src="../assets/Images/Landingpage/seo.jpg"
            alt=""
          />
        </div>
      </div>
    </div>
  </div>
</main>
