@import "src/variables.scss";

.head {
    position: relative;
    height: calc(100vh - 50px);
    width: 100%;
    display: flex;
    .right {
        width: 65%;
        height: 100%;
        background-image: url(../assets/Images/Landingpage/Bedrift_nettside@2x.jpg);
        background-size: cover;
        position: absolute;
        right: 0;
        z-index: -1;
        .head-video {
            width: 50%;
            height: 75%;
            margin-left: auto;
            margin-right: 3vw;
            display: flex;
            justify-content: center;
            align-items: center;
            iframe {
                border-radius: 25px;
                background: #e0e0e0;
                box-shadow: 
                0px 0px 50px 18px  rgba(255,119,77,.12),
                0px 0px 50px 18px rgba(82,77,255,.12);
            }
        }
    }
    .left {
        text-align: center;
        font-size: 5rem;
        width: 60%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 75%;
        overflow: visible;
        .text-container {
            width: auto;
        }
        .main-text {
            display: flex;
            flex-direction: column-reverse;
            font-family: Lobster;
            h1,h2 {
                font-size: 9rem;
                font-family: Montserrat;
            }
    
            h1 {
                font-weight: 900;
                background: linear-gradient(229deg, rgba(255,119,77,1) 0%, rgba(82,77,255,1) 100%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
    
            h2 {
                font-weight: 200;
                font-size: 2rem;
                text-transform: uppercase;
                letter-spacing: 15px;
            }
    
        }
        article {
            font-size: $font-md;
            font-weight: 300;
            width: 75%;
            margin: 0 auto;
        }
        .actions {
            a, button {
                font-size: 15px;
                border-radius: 10px;
                padding: 1rem 2rem;
                border: none;
                color: #fff;
                margin: 0 1rem;
                font-family: montserrat;
                font-weight: 700;
            }
            button {
                background: #EEEEEE;
                background: linear-gradient(229deg, rgba(34,206,228,1) 0%, rgba(82,77,255,1) 100%);
            }
            a {
                color: #333;
                background: #EEEEEE;
            }
        }
    }
}


.content-container {
    overflow: hidden;
    min-height: 100vh;
    .content-head {
        position: relative;
        img {
            margin-top: -5px;
            width: 100%;
        }
        .content-header {
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            width: 50%;
            font-size: 5.5vw;
            text-align: center;
            height: 75%;
            top:0;
        
            font-weight: 900;
            font-family: Montserrat;
            color: $blue;
        
        
            background: linear-gradient(229deg, rgba(34,206,228,1) 0%, rgba(82,77,255,1) 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        
            overflow: visible;
        }
    }
    .ladningpage-section {
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        width: 90%;
        margin: 0 auto;
        height: 75vh;
        overflow: visible;
        .right, .left {
            height: 100%;
            width: 50vw;
        }
        .ladningpage-section-content-header-text {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column-reverse;
            height: 250px;
            h1,h2 {
                font-size: 4vw;
                font-family: montserrat;
                font-weight: 900;
                color: $blue-secondary;
            }
            h2 {
                color: $blue-primary;
                font-size: 3vw;
            }
        }
        .ladningpage-section-content-text {
            font-size: $font-md;
            width: 90%;
            margin: 25px auto;
        }
    }
    .left {
    }
    .right {
        position: relative;
        overflow: visible;
    }
}


.design {
    .design-head {
        img {
            transform: scaleX(-1);
        }
        #content-header-design {
            background-image: linear-gradient(229deg, $purple-primary 0%, $purple-secondary 100%);
            background-clip: text;
            -webkit-text-fill-color: transparent;

            right: 0;
        }
    }
    
    }
    .design-content {
        flex-direction: row-reverse;
        .left, .right {
        }
    }
//Buttons

.section-actions {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    overflow: visible;
    //
    transition: 2s;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    .btn {
        border: none;
        padding: .75rem 1.5rem;
        background: #EEEEEE;
        color: $light;
        &:hover{
            animation-name: gradient;
        }
    }
    a.btn {
        background: $light;
        color: #333;
    }
     
    
}

.left, .right{
    overflow: visible;
}

.folders {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    overflow: visible;
    .folder{
        border: 2px solid reD;

        position: relative;
        width: calc(50vw/4);
        overflow: visible;
    
        &:hover {
            transform: skew(-14deg, -5deg);
        }

        img {
            width: calc(50vw/4);
        }
        .faicon, h3 {
            position: absolute;
        }
        .faicon{
            bottom: 15%;
            width: 100%;
            text-align: center;
            color: $light;
            font-size: 6vw;
            opacity: .5;
        }
        h3 {
            color: $light;
            font-size: 1.5vw;
            top: 6%;
            width: 100%;
            text-align: center;
            font-weight: 100;
        }
    }
}

#section-action-seo {
    transition: 2s;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    background-image: linear-gradient(to right, $lilac-primary 0%, $lilac-secondary 100%);
    background-size: 200% auto;
}

#section-action-design {
    transition: 2s;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    background-image: linear-gradient(to right, $purple-primary 0%, $purple-secondary 100%);
    background-size: 200% auto;
}
#section-action-utvikling {
    transition: 2s;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    background-image: linear-gradient(to right, $blue-primary 0%, $blue-secondary 100%);
    background-size: 200% auto;
}


//HEADERS
#content-header-design {
    background: linear-gradient(229deg, $purple-primary 0%, $purple-secondary 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

#content-header-seo {
    background: linear-gradient(229deg, $lilac-primary 0%, $lilac-secondary 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}
//under headers
#design-h1, #design-h2 {
    color: $purple-secondary;
    font-size: 4vw;
}
#design-h2 {
    color: $purple-primary;
}

#seo-h1, #seo-h2 {
    color: $lilac-secondary;
}
#seo-h2 {
    color: $lilac-primary;
}




.section-image {
    position: absolute;
}



#utvikling-image {
    width: 60vw;
    height: auto;
    top: auto;
    left: 1vw;
}
#design-image {
    width: 60vw;
    height: auto;
    top: 0px;
    right: auto;
}

#seo-image {
    height: auto;
    width: 60vw;
    top: -25%;
    bottom: auto;
    left: 3vw;
}

@keyframes gradient {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:200% auto}
}
