@import "../../../variables.scss";

// @keyframes activeAnimation {
//   from {
//     transform: scale(1);
//     transform: translate(0%);
//   }
//   to {
//     transform: translate(50%);
//     transform: scale(1.25);
//   }
// }
// @keyframes moveRightLeft {
//   from {
//     transform: translate(100%);
//   }
//   to {
//     transform: translate(0%);
//   }
// }
// @keyframes moveRightRight {
//   from {
//     transform: scale(1.25);
//     transform: translate(50%);
//   }
//   to {
//     transform: translate(0%);
//     transform: scale(1);
//   }
// }
@keyframes activeAnimation {
  0% {
    z-index: 1;
    transform: translateX(0%);
    transform: scale(1);
  }
  50% {
    z-index: 10;
  }
  100% {
    transform: translateX(500%);
    transform: scale(1.25);
  }
}
@keyframes moveRightLeft {
  0% {
    z-index: 1;
    transform: translateX(100%);
  }
  100% {
    z-index: 1;
    transform: translateX(0%);
  }
}
@keyframes moveRightRight {
  0% {
    z-index: 10;
    transform: translateX(50%);
    transform: scale(1.25);
  }
  99% {
    z-index: 1;
  }
  100% {
    transform: translateX(100%);
    transform: scale(1);
  }
}

@media screen and (min-width: $desktop) {
  app-tjenester-tjeneste {
    position: absolute;
    &.left {
      animation-name: moveRightLeft;
      animation-duration: 3s;
      animation-fill-mode: forwards;
      transform: translateX(0%);
    }
    &.right {
      transform: translateX(100%);
      animation-name: moveRightRight;
      animation-duration: 1s;
      animation-fill-mode: forwards;
      transform: translateX(100%);
    }
    &.active {
      z-index: 10;
      animation-name: activeAnimation;
      animation-duration: 3s;
      animation-fill-mode: forwards;
    }
    &.moveRight {
    }
    &.moveLeft {
    }
    &.tjeneste-4 {
      display: none;
    }
  }
  div.tjenester {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 55vh;
    border-top: 5px solid $light;
    border-bottom: 5px solid $light;
    background-color: $dark-transparent-80;
    padding: $padding-section-top 0;
    .controls {
      position: absolute;
      width: 100%;
      border: 2px solid lime;
      z-index: 5;
      height: 375px;
      .sliders {
        img {
          height: 50px;
          width: 50px;
          filter: invert(1);
        }
        button {
          border: none;
          background-color: transparent;
          display: flex;
          justify-content: center;
          align-items: center;
          position: absolute;
          height: 100%;
          background: linear-gradient(
            45deg,
            rgba(51, 51, 51, 0.6169819978772759) 0%,
            rgba(255, 255, 255, 0) 100%
          );
          &:hover {
            background: linear-gradient(
              90deg,
              rgba(51, 51, 51, 0.6169819978772759) 0%,
              rgba(255, 255, 255, 0) 100%
            );
          }
        }
        .left {
          transform: rotate(180deg);
          padding-left: 1.5%;
          left: 0;
        }
        .right {
          padding-right: 1.5%;
          right: 0;
        }
      }
    }
  }
}
