@import "../../../variables.scss";

.moderna-media-tjenester {
  position: relative;
  min-height: 100vh;
  padding: $padding-section-top 0;
  .background-img {
    height: 100%;
    width: 100%;
    background-color: $dark;
    background: $dark;
    position: absolute;
    z-index: -1;
    top: 0;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .section-title.tjenester {
    padding: $padding-component-top $padding-component-side;
    font-weight: 900;
    text-transform: uppercase;
    color: $light;
    font-size: 2rem;
    letter-spacing: 15px;
  }
}
