<section class="moderna-media-tjenester">
  <h1 class="section-title tjenester">Tjenester</h1>
  <div class="background-img">
    <img
      src="../../../assets/Images/Landingpage/Moderne teknologi bedrift.jpg"
      alt=""
    />
  </div>
  <div class="tjenester">
    <div class="controls">
      <div class="sliders">
        <button class="left" (click)="left($event)">
          <img src="../../../assets/Images/Icons/right-chevron.svg" alt="" />
        </button>
        <button class="right" (click)="right($event)">
          <img src="../../../assets/Images/Icons/right-chevron.svg" alt="" />
        </button>
      </div>
      <div class="counter"></div>
    </div>
    <app-tjenester-tjeneste
      #design
      class="tjeneste-0 moveLeft r-left"
      src="../../../assets/Images/Landingpage/Tjenester/moderne design teknologi.jpg"
      title="Design"
      content="Tidløst design som konverterer interesse til kunder"
      href="vg.no"
      icon="../../../assets/Images/Icons/sketch.svg"
      alt="test"
      name="design"
    ></app-tjenester-tjeneste>
    <app-tjenester-tjeneste
      #utvikling
      class="tjeneste-1 r-active"
      src="../../../assets/Images/Landingpage/Tjenester/moderne teknologi design.jpg"
      title="Web Utvikling"
      content="Moderne løsninger for digitalisering av bedriften"
      href="vg.no"
      icon="../../../assets/Images/Icons/sketch.svg"
      alt="test"
      name="utvikling"
    ></app-tjenester-tjeneste>
    <app-tjenester-tjeneste
      #seo
      class="tjeneste-2 moveRight r-right"
      src="../../../assets/Images/Landingpage/Tjenester/seo tjenester for bedrift.jpg"
      title="SEO"
      content="Oppnå økt omsetning og trafikk med vår søkemotoroptimalisering"
      href="vg.no"
      icon="../../../assets/Images/Icons/sketch.svg"
      alt="test"
      name="seo"
    ></app-tjenester-tjeneste>
  </div>
  <div class="tjenester-buttons">
    <a href="vg.no" class="btn tjenester contact design">Design</a>
    <a href="vg.no" class="btn tjenester contact utvikling active">Utvikling</a>
    <a href="vg.no" class="btn tjenester contact seo">SEO</a>
  </div>
</section>
