<div class="component">
  <div class="card">
    <div class="img-wrapper">
      <span
        class="cover"
        [style.background-color]="
          testimonial.overlayColor || defaultOverlayColor
        "
      ></span>
      <img
        class="bg-img"
        [src]="testimonial.backgroundImageSrc"
        [attr.srcset]="testimonial.backgroundImageSrcset || null"
        sizes="(max-width: 768px) 100vw, 600px"
        width="650"
        height="400"
        loading="lazy"
        decoding="async"
        [alt]="testimonial.backgroundImageAlt"
      />
      <ng-container *ngIf="testimonial.caseStudyPath; else externalLink">
        <a
          class="brand-link"
          [routerLink]="testimonial.caseStudyPath"
          [title]="testimonial.companyLinkTitle"
          >{{ testimonial.companyLinkLabel }}</a
        >
      </ng-container>
      <ng-template #externalLink>
        <a
          [href]="testimonial.companyLink"
          target="_blank"
          rel="noopener noreferrer"
          [title]="testimonial.companyLinkTitle"
          >{{ testimonial.companyLinkLabel }}</a
        >
      </ng-template>
    </div>
    <div class="person-container">
      <div class="person-wrapper">
        @if (testimonial.personImageSrc) {
          <img
            class="person"
            [src]="testimonial.personImageSrc"
            width="100"
            height="100"
            loading="lazy"
            decoding="async"
            [alt]="testimonial.personImageAlt"
          />
        } @else {
          <span class="person initials" aria-hidden="true">{{
            testimonial.personInitials
          }}</span>
        }
      </div>
    </div>

    <div class="content">
      <div class="header">
        <div class="row">
          <p *ngFor="let detail of testimonial.details">{{ detail }}</p>
        </div>
      </div>
      <p class="content-text">{{ testimonial.quote }}</p>
      <div
        class="rating"
        role="img"
        [attr.aria-label]="testimonial.rating + ' av 5 stjerner'"
      >
        <div
          class="star-container"
          *ngFor="let _ of ratingStars; let idx = index; trackBy: trackByIndex"
        >
          <img
            src="/assets/Images/Icons/testiomonials/star-icon.svg"
            width="22"
            height="22"
            loading="lazy"
            alt=""
            aria-hidden="true"
          />
        </div>
      </div>
      <div
        class="cta-row"
        *ngIf="testimonial.caseStudyPath || testimonial.companyLink"
      >
        <a
          *ngIf="testimonial.caseStudyPath"
          class="btn"
          [routerLink]="testimonial.caseStudyPath"
        >
          {{ testimonial.caseStudyCta || "Les casestudien" }}
        </a>
        <a
          *ngIf="testimonial.companyLink"
          class="btn ghost"
          [href]="testimonial.companyLink"
          target="_blank"
          rel="noopener noreferrer"
        >
          Besøk nettsiden
        </a>
      </div>
    </div>
  </div>
</div>
