<div class="component">
  <div class="card">
    <div class="img-wrapper">
      <span
        class="cover"
        [style.background-color]="
          testimonial.overlayColor || defaultOverlayColor
        "
      ></span>
      <img
        class="bg-img"
        [src]="testimonial.backgroundImageSrc"
        [alt]="testimonial.backgroundImageAlt"
      />
      <ng-container *ngIf="testimonial.caseStudyPath; else externalLink">
        <a
          class="brand-link"
          [routerLink]="testimonial.caseStudyPath"
          [title]="testimonial.companyLinkTitle"
          >{{ testimonial.companyLinkLabel }}</a
        >
      </ng-container>
      <ng-template #externalLink>
        <a
          [href]="testimonial.companyLink"
          target="_blank"
          rel="noopener noreferrer"
          [title]="testimonial.companyLinkTitle"
          >{{ testimonial.companyLinkLabel }}</a
        >
      </ng-template>
    </div>
    <div class="person-container">
      <div class="person-wrapper">
        <img
          class="person"
          [ngClass]="testimonial.personImageClass"
          [src]="testimonial.personImageSrc"
          [alt]="testimonial.personImageAlt"
        />
      </div>
    </div>

    <div class="content">
      <div class="header">
        <div class="row">
          <p *ngFor="let detail of testimonial.details">{{ detail }}</p>
        </div>
      </div>
      <p class="content-text">{{ testimonial.quote }}</p>
      <div class="rating" aria-label="Kundetilfredshet">
        <div
          class="star-container"
          *ngFor="let _ of ratingStars; let idx = index; trackBy: trackByIndex"
        >
          <img
            src="../../../../assets/Images/Icons/testiomonials/star-icon.svg"
            alt=""
            aria-hidden="true"
          />
        </div>
      </div>
      <div
        class="cta-row"
        *ngIf="testimonial.caseStudyPath || testimonial.companyLink"
      >
        <a
          *ngIf="testimonial.caseStudyPath"
          class="btn"
          [routerLink]="testimonial.caseStudyPath"
        >
          {{ testimonial.caseStudyCta || "Les casestudien" }}
        </a>
        <a
          *ngIf="testimonial.companyLink"
          class="btn ghost"
          [href]="testimonial.companyLink"
          target="_blank"
          rel="noopener noreferrer"
        >
          Besøk nettsiden
        </a>
      </div>
    </div>
  </div>
</div>
